/* original icons */

ul.menu span.one-icon,
ul.admin-list span.one-icon,
ul.links span.one-icon { background:transparent url(icons.png) -0px -150px no-repeat;}

div.depth-1 span.one-icon { background:transparent url(icons.png) -0px -150px no-repeat; }
.path-node-add span.one-icon,
.path-admin-content-add span.one-icon { background-position:-60px 0px !important; }

.path-admin-content-node span.one-icon { background-position:-90px 0px !important; }

.path-admin-settings-date-time span.one-icon { background-position:-120px 0px !important; }

.path-admin-settings-filters span.one-icon { background-position:-30px -60px !important; }

.path-admin-content-node-settings span.one-icon { background-position:0px -150px !important; }

.path-admin-build-translate span.one-icon,
.path-admin-settings-language span.one-icon { background-position:0px -60px !important; }

.path-admin-settings-performance span.one-icon { background-position:-30px -90px !important; }

.path-admin-reports-search span.one-icon,
.path-admin-settings-search span.one-icon { background-position:-30px -30px !important; }

.path-admin-settings-site-maintenance span.one-icon { background-position:-90px -90px !important; }

.path-admin-settings-site span.one-icon { background-position:-60px -90px !important; }

.path-admin-build-menu span.one-icon { background-position:-150px 0px !important; }

.path-admin-content-book span.one-icon { background-position:-180px 0px !important; }

.path-admin-content-comment span.one-icon { background-position:-210px 0px !important; }

.path-admin-content-types span.one-icon { background-position:-120px -30px !important; }

.path-admin-content-taxonomy span.one-icon { background-position:-180px -30px !important; }

.path-admin-settings-mailhandler span.one-icon,
.path-admin-content-mailhandler span.one-icon { background-position:-210px -30px !important; }

.path-admin-settings-feedapi span.one-icon,
.path-admin-content-feed span.one-icon,
.path-admin-content-rss-publishing span.one-icon { background-position:-150px -30px !important; }

.path-admin-build-block span.one-icon { background-position:-210px -90px !important; }

.path-admin-settings-image-toolkit span.one-icon,
.path-admin-settings-imageapi span.one-icon,
.path-admin-build-imagecache span.one-icon { background-position:-120px -60px !important; }

.path-admin-build-features span.one-icon,
.path-admin-build-modules span.one-icon { background-position:-180px -90px !important; }

.path-admin-build-themes span.one-icon { background-position:-120px -90px !important; }

.path-admin-settings-actions span.one-icon,
.path-admin-build-trigger span.one-icon { background-position:-180px -120px !important; }

.path-admin-build-views span.one-icon { background-position:-210px -60px !important; }

.path-admin-settings-uploads span.one-icon { background-position:-90px -60px !important; }

.path-admin-reports-access-denied span.one-icon { background-position:-90px -30px !important; }

.path-admin-reports-page-not-found span.one-icon { background-position:-30px -150px !important; }

.path-admin-reports-status span.one-icon { background-position:-60px -30px !important; }

.path-admin-user-rules span.one-icon { background-position:0px -120px !important; }

.path-admin-user-permissions span.one-icon { background-position:-30px -120px !important; }

.path-admin-user-roles span.one-icon { background-position:-60px -120px !important; }

.path-admin-user-user span.one-icon { background-position:-90px -120px !important; }

.path-admin-user-settings span.one-icon { background-position:-150px -120px !important; }

.path-admin-settings-logging span.one-icon { background-position:-150px -60px !important; }

.path-admin-reports-updates span.one-icon { background-position:-150px -90px !important; }

.path-admin-reports-dblog span.one-icon { background-position:-210px -120px !important; }

