
/**
 * Aggressive resets so we can achieve a consistent look in
 * hostile CSS environments.
 */
div.admin-links,
div#one-admin-toolbar,
div#one-admin-toolbar * {
  margin:0px;
  padding:0px;
  border:0px;
  outline:0px;
  font-size:11px !important;
  vertical-align:baseline;
  line-height:inherit;
  text-align:left;  
  font-family: Arial,Helvetica,sans-serif !important;  
  color:#fff !important;  
}

/**
 * Base styles
 */
div#one-admin-toolbar {
  background:url(sprite.png) 0px -20px repeat-x;
  position:relative;
  z-index:100;
  margin-bottom: 10px;
}

div#one-admin-toolbar .collapsed { 
	display:none; 
}  

div#one-admin-toolbar div.shadow {
  position:absolute;
  left:0px;
  right:0px;
  bottom:-10px;
  height:10px;
  background:url(sprite.png) 0px -100px repeat-x;
}

div#one-admin-toolbar a {
  text-decoration:none;
}

div#one-admin-toolbar ul.links li {
	margin-right: 5px;
	list-style-type: none;
	list-style-image: none;
	background-image: none;
}

div#one-admin-toolbar ul.links li,
div#one-admin-toolbar ul.links li a { 
	float:left; 
}

/**
 * First level menus
 */
div#one-admin-toolbar div.depth-0 {
  overflow:hidden;
  height:20px;
  line-height:20px;
  padding:5px 10px;
}

div#one-admin-toolbar div.depth-0 #one-admin-toolbar-admin { 
	float:left; 
}

div#one-admin-toolbar div.depth-0 #one-admin-toolbar-user { 
	float:right; 
}

div#one-admin-toolbar div.depth-0 ul.links li a {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:0px 10px;
}

div#one-admin-toolbar div.depth-0 ul.links li.active-trail a,
div#one-admin-toolbar div.depth-0 ul.links li a.active,
div#one-admin-toolbar div.depth-0 ul.links li a:hover {
  text-shadow:#333 0px 1px 0px;
  background:url(sprite.png) 0px 0px repeat-x;
}

/**
 * Second level menus
 */
div#one-admin-toolbar div.depth-1 {
  position:relative;
  padding:0px 10px;
  background-color: #666;
}

div#one-admin-toolbar span.close {
  position:absolute;
  top:15px;
  right:10px;
  cursor:pointer;
  background:url(sprite.png) 0px -135px no-repeat;
  text-indent:-9999px;
  overflow:hidden;
  width:20px;
  height:20px;
}

div#one-admin-toolbar div.depth-1 ul.links {
  padding:5px 0px;
  /*height:40px;*/
  line-height:30px;
  overflow:hidden;
  float:left;
}


div#one-admin-toolbar div.depth-1 ul.links li a {
  padding:5px 10px 5px 5px;
  margin-right:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

div#one-admin-toolbar div.depth-1 ul.links li a.active,
div#one-admin-toolbar div.depth-1 ul.links li a:hover {
  background-color:#333;
}

div#one-admin-toolbar div.depth-1 span.one-icon {
  float:left;
  width:30px;
  height:30px;
  margin-right:5px;
}