.panel-row {
  clear: both;
}

.panel-row .panel-col-first,
.panel-row .panel-col-last { 
  float: left; 
  width: 50%; 
}

.panel-row-first .panel-col,
.panel-row-last .panel-col { 
  float: left; 
  width: 40%; 
}

.panel-row-first .panel-col-first,
.panel-row-last .panel-col-first { 
  float: left; 
  width: 30%; 
  clear: both;
}

.panel-row-first .panel-col-last,
.panel-row-last .panel-col-last { 
  float: left; 
  width: 30%; 
}