
/**
 * @file
 * Administration CSS.
 */

/* Objects table */


#object-list-disabled th {
  filter:alpha(opacity=60);
  opacity:0.6;
}

#object-list-disabled tr.disabled {
  filter:alpha(opacity=60);
  opacity:0.6;
}

#object-list-disabled tr.odd td.empty {
  background-color: #fff;
}

/* Editor configuration form */

#editor-configuration-form tr.container-row {
  background-color: #eee;
}

#editor-configuration-form .container-label-edit {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #eee;
}
