.panel-2col-3row-65-35 .panel-row-first {
	clear: both;
}

.panel-2col-3row-65-35 .panel-col-first { 
  float: left; 
  width: 65%; 
}

.panel-2col-3row-65-35 .panel-col-last { 
  float: left; 
  width: 35%;
}

.panel-2col-3row-65-35 .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-2col-3row-65-35 .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}