/*
Theme Name: felink_v3
Description: felink_v3, Artisteer-generated Drupal theme.
Version: 1.0
Author: Artisteer
Author URI: http://artisteer.com/
*/

/* begin Page */

/* Generated with Artisteer version 2.4.0.24559, file checksum is F0A84E88. */

body
{
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
  font-family: Calibri, Verdana, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover,
.art-blockheader .t, .art-vmenublockheader .t, .art-logo-text, .art-logo-text a,
h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: b8ca44;
}

a
{
  text-decoration: underline;
  color: #000000;
}

a:link
{
  text-decoration: underline;
  color: #000000;
}

a:visited, a.visited
{

  color: #686C47;
}

a:hover, a.hover
{
  text-decoration: none;
  color: #818F00;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{

  color: #718230;
  font-size: 20px;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-size: 18px;
  color: #94AB3F;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-size: 18px;
  color: #686C47;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-size: 16px;
  color: #181910;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-size: 14px;
  color: #181910;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-size: 14px;
  color: #181910;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
  margin-top: 20px;
}


#art-page-background-gradient
{
  position: absolute;
  background-image: url('images/page_g.jpg');
  background-repeat: repeat-x;
  top: 0;
  width: 100%;
  height: 500px;

}


#art-page-background-simple-gradient
{
  position: absolute;
  background-image: url('images/page_sg.jpg');
  background-repeat: repeat-x;
  top: 0;
  width: 100%;
  height: 500px;
}

.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}


/* Image Assist module support */
body.img_assist
{
	background-color: #FFFFFF !important;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 1026px;
  min-width: 35px;
  min-height: 35px;
}

.art-sheet-body
{
  position: relative;
  z-index: 1;
  padding: 13px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
  z-index: -1;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 34px;
  height: 34px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 17px, 17px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 17px, 17px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(17px, 17px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(17px, auto, auto, 17px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 17px;
  right: 17px;
  height: 34px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 17px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(17px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 17px;
  bottom: 17px;
  width: 34px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 17px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 17px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  z-index: -1;
  top: 17px;
  left: 17px;
  right: 17px;
  bottom: 17px;
  background-image: url('images/sheet_c.png');
}

.art-sheet
{
  margin-top: -13px !important;
  cursor:auto;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
  min-width: 1026px;
}

/* end Box, Sheet */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 1000px;
  height: 200px;
  overflow: hidden;
}


div.art-header-jpeg
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 1000px;
  height: 200px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* end Header */

/* begin Layout */
.art-content-layout
{
  display: table;
  padding: 0;
  border: none;
  width: 1000px;
  border-top: none;
}

.art-content-layout .art-content-layout
{
  width: auto;
  margin:0;
}

div.art-content-layout div.art-layout-cell, div.art-content-layout div.art-layout-cell div.art-content-layout div.art-layout-cell
{
   display: table-cell;
   border: none;
}

div.art-layout-cell div.art-layout-cell
{
   display: block;
}

div.art-content-layout-row
{
  display: table-row; 
}

.art-content-layout
{
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}

.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublock-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.art-vmenublock
{
  margin: 15;
}



#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
  position: relative;
  z-index: 0;
  height: 32px;
  margin-bottom: 0;
}

.art-vmenublockheader .t
{
  height: 32px;
  color: #6A7B2D;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
  margin:0;
  padding: 0 10px 0 28px;
  white-space: nowrap;
  line-height: 32px;	
}

.art-vmenublockheader .l, .art-vmenublockheader .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 32px;
  background-image: url('images/vmenublockheader.png');
}

.art-vmenublockheader .l
{
  left: 0;
  right: 22px;
}

.art-vmenublockheader .r
{
  width: 1020px;
  right: 0;
  clip: rect(auto, auto, auto, 998px);
}



.art-vmenublockheader .t h2.subject
{
	color: #6A7B2D;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 12px;
	margin:0;	
	white-space: nowrap;	
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
  margin-top: 15px;
}


.art-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
  display: block;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border-top: solid 1px #DBDDCB;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 90px;
  background-image: url('images/vmenuitem.png');
}

ul.art-vmenu a .l
{
  left: 0;
  right: 17px;
}

ul.art-vmenu a .r
{
  width: 1026px;
  right: 0;
  clip: rect(auto, auto, auto, 1009px);
}

ul.art-vmenu a .t
{
  display: block;
  line-height: 30px;
  color: #686C47;
  padding: 0 10px 0 27px;
  font-weight: bold;
  margin-left:0;
  margin-right:0;
}

ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -30px;
}

ul.art-vmenu a:hover .t
{
  color: #E8EFAE;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -60px;
}

ul.art-vmenu a.active .t
{
  color: #1E1F14;
}
/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.art-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 20px;
  overflow: visible;
  background-image: url('images/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding-left: 25px;
}

ul.art-vmenu ul li
{
  padding: 0;
}

ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 20px;
  color: #849938;
  font-size: 11px;
  margin-left: 0;
}

ul.art-vmenu ul
{
    margin:0 0 0 0;
}

ul.art-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.art-vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 50px;
}

ul.art-vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 75px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 100px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 125px;
}


ul.art-vmenu ul li a.active
{
  color: #4D5034;
  background-position: 25px -40px;
}

ul.art-vmenu ul li li a.active
{
  background-position: 50px -40px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 75px -40px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 100px -40px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 125px -40px;
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  color: #464D0F;
  background-position: 25px -20px;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  background-position: 50px -20px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 75px -20px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 100px -20px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -20px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.art-block-body
{
  position: relative;
  z-index: 1;
  padding: 8px;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl, .art-block-tc, .art-block-bc,.art-block-cr, .art-block-cl
{
  position: absolute;
  z-index: -1;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl
{
  width: 14px;
  height: 14px;
  background-image: url('images/block_s.png');
}

.art-block-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.art-block-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.art-block-bl
{
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.art-block-br
{
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.art-block-tc, .art-block-bc
{
  left: 7px;
  right: 7px;
  height: 14px;
  background-image: url('images/block_h.png');
}

.art-block-tc
{
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.art-block-bc
{
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.art-block-cr, .art-block-cl
{
  top: 7px;
  bottom: 7px;
  width: 14px;
  background-image: url('images/block_v.png');
}

.art-block-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.art-block-cl
{
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.art-block-cc
{
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #EEEFE6;
}

.art-block
{
  margin: 15px;
}



#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 15px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  position: relative;
  z-index: 0;
  height: 32px;
  margin-bottom: 15px;
}

.art-blockheader .t
{
  height: 32px;
  color: #2D3413;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
  margin:0;
  padding: 0 10px 0 28px;
  white-space: nowrap;
  line-height: 32px;	
}

.art-blockheader .l, .art-blockheader .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 32px;
  background-image: url('images/blockheader.png');
}

.art-blockheader .l
{
  left: 0;
  right: 22px;
}

.art-blockheader .r
{
  width: 1020px;
  right: 0;
  clip: rect(auto, auto, auto, 998px);
}



.art-blockheader .t h2.subject
{
	color: #2D3413;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 12px;
	margin:0;	
	white-space: nowrap;	
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.art-blockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 8px;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl, .art-blockcontent-tc, .art-blockcontent-bc,.art-blockcontent-cr, .art-blockcontent-cl
{
  position: absolute;
  z-index: -1;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl
{
  width: 14px;
  height: 14px;
  background-image: url('images/blockcontent_s.png');
}

.art-blockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.art-blockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.art-blockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.art-blockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.art-blockcontent-tc, .art-blockcontent-bc
{
  left: 7px;
  right: 7px;
  height: 14px;
  background-image: url('images/blockcontent_h.png');
}

.art-blockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.art-blockcontent-bc
{
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.art-blockcontent-cr, .art-blockcontent-cl
{
  top: 7px;
  bottom: 7px;
  width: 14px;
  background-image: url('images/blockcontent_v.png');
}

.art-blockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.art-blockcontent-cl
{
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.art-blockcontent-cc
{
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #E3E5D7;
}

.art-blockcontent-body
{
  color: #12130C;

}

.art-blockcontent-body a:link
{
  color: #607029;

}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #595D3C;

}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #BA4B1C;
  text-decoration: none;
}

.art-blockcontent-body ul
{
  list-style-type: none;
  color: #27281A;
  margin: 0;
  padding: 0;
}

.art-blockcontent-body ul li
{
  text-decoration: none;
  line-height: 1.25em;
  padding: 0 0 0 13px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}




.art-blockcontent-body .calendar-calendar td a:visited, .art-blockcontent-body .calendar-calendar td a.visited
{
  color: #607029;
}

.art-blockcontent-body  .links li
{
  float: left;
  padding: 0 0 0 1em;
  background-image: none;
}

.art-blockcontent-body .calendar-calendar td a:hover
{
  text-decoration: underline;
}

.art-blockcontent-body table td.mini a
{
  font-weight: normal;
}

.art-blockcontent-body table td div.mini-day-on a
{
  text-decoration: underline;
}

.art-blockcontent-body .calendar-calendar td a
{
  text-decoration: none;
}
/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper .art-button
{

  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  text-decoration: none !important;
  color: #303815 !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 33px;
  height: 33px;
  margin: 0;
  padding: 0 21px !important;
  overflow: visible;
  cursor: default;
  z-index: 0;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 33px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select
{
  vertical-align: middle;

}

.art-button-wrapper.hover .art-button, .art-button:hover
{
  color: #363824 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
  color: #F8FAE5 !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 99px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .l
{
  left: 0;
  right: 10px;
}

.art-button-wrapper .r
{
  width: 409px;
  right: 0;
  clip: rect(auto, auto, auto, 399px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
  top: -33px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
  top: -66px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  z-index: 1;
  padding-left: 30px;
  padding-right:30px;
  padding-top: 10px;

}


.art-post
{
  margin: 5px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 1px #CED1B8;
  margin-right: 10px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
  width: auto;
  vertical-align:top;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
  background-color: Transparent;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: 0px;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}



fieldset
{
  margin: 1em 0;
  padding: 1em;
  border: solid 1px #B5B893;
  width: 95%;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-postheader
{
  margin: 0.2em 0;
  padding: 0;
  font-size: 20px;
  color: b8ca44;
}

.art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
  font-size: 20px;
  margin: 0;
  color: b8ca44;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.art-postheader a:link
{
  text-decoration: none;
  color: b8ca44;
}

.art-postheader a:visited, .art-postheader a.visited
{

  color: b8ca44;
}

.art-postheader a:hover, .art-postheader a.hovered
{

  color: #096
}
/* end PostHeader */

/* begin PostMetadata, PostMetadataHeader */
.art-postmetadataheader
{
  padding: 1px;
  background-color: #EEEFE6;
  border-color: #CED1B8;
  border-style: solid;
  border-width: 1px;
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons
{
  padding: 1px;
}

.art-postheadericons, .art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  font-size: 11px;
  color: #3F412A;
}

.art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  margin: 0;
}

.art-postheadericons a:link
{

  color: #64732B;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{

  color: #64732B;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{

  color: #64732B;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.art-postcontent p
{
  margin: 0.5em 0;
}

.art-postcontent, .art-postcontent p
{
  text-align: justify;
}

.art-postcontent
{
  margin: 0;
}


/* Image Assis module support */
body.img_assist
{
  color: {TextColor};
}

.art-postcontent .calendar-calendar ul li, .art-postcontent .calendar-calendar ol ul li,
.art-postcontent div.view div.views-admin-links ul li, .art-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

.art-postcontent ul.arttabs_primary li, .art-postcontent ul.arttabs_secondary li
{
  background-repeat: no-repeat;
  background-image: none;
}

/* end PostContent */

/* begin PostBullets */
ol, ul
{
  color: #1A1E0B;
  margin: 1em 0 1em 2em;
  padding: 0;

}

li ol, li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

li
{
  margin: 0.2em 0;
  padding: 0;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;

}



.art-post li
{
  padding: 0 0 0 13px;
  line-height: 1em;
}

.art-post ol li, .art-post ul ol li
{
  background: none;
  padding-left: 0;
}

.art-post ul li, .art-post ol ul li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 13px;
}


/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote p,
.art-postcontent blockquote p
{
  color: #15160E;
  font-style: italic;
  text-align: left;
}

blockquote,
.art-postcontent blockquote
{
  border: solid 1px #CED1B8;
  margin: 10px 10px 10px 50px;
  padding: 5px 5px 5px 41px;
  background-color: #EEEFE6;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
}



blockquote, .art-postcontent blockquote
{
  margin: 10px 10px 10px 50px !important;
  padding: 5px 5px 5px 41px !important;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons
{
  padding: 1px;
}

.art-postfootericons, .art-postfootericons a, .art-postfootericons a:link, .art-postfootericons a:visited, .art-postfootericons a:hover
{
  font-size: 11px;
  text-decoration: none;
  color: #4A4D32;
}

.art-postfootericons a, .art-postfootericons a:link, .art-postfootericons a:visited, .art-postfootericons a:hover
{
  margin: 0;
}

.art-postfootericons a:link
{

  color: #718230;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{

  color: #718230;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{

  color: #718230;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.art-footer
{
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

.art-footer .art-footer-inner
{
  height: 1%;
  position: relative;
  z-index: 0;
  padding: 8px;
  text-align: center;
}

.art-footer .art-footer-background
{
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url('images/footer.png');
  width: 1000px;
  height: 150px;
  bottom: 0;
  left: 0;
}


.art-rss-tag-icon
{
  position: relative;
  display: block;
  float: left;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
  height: 25px;
  width: 25px;
  cursor: default;
}


.art-footer .art-footer-text p
{
  margin: 0;
}

.art-footer .art-footer-text
{
  display: inline-block;
  color: #3F412A;
  font-size: 11px;
}

.art-footer .art-footer-text a:link
{
  text-decoration: none;
  color: #607029;

}

.art-footer .art-footer-text a:visited
{
  text-decoration: none;
  color: #595D3C;

}

.art-footer .art-footer-text a:hover
{
  color: #BA4B1C;
  text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #819537;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #9BA06E;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.art-content-layout .art-sidebar1
{
  width: 15%;
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */
.art-content-layout .art-content
{
  width: 60%;
}
.art-content-layout .art-content-sidebar1
{
  width: 80%;
}
.art-content-layout .art-content-sidebar2
{
  width: 80%;
}
.art-content-layout .art-content-wide
{
  width: 100%;
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar2 */
.art-content-layout .art-sidebar2
{
  width: 20%;

}
/* end LayoutCell, sidebar2 */



/*
** HTML elements
*/

body.art-body-nostyle
{
	background-image: none;
}

table
{
	width: 100%;
	border: none;
	
}

ul li, .item-list ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	list-style-type: none;
	list-style-image: none;	
}

.arttabs_primary, .arttabs_secondary, .links, .service-links img, service-links img
{
	padding-left: 0;
	margin: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.links li
{
	display: inline;
	background-image: none;
}

ul.menu li a.active
{
	font-weight: bold;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
}

#edit-name, #edit-pass, #edit-mail, #search-block-form input.form-text
{
	width: 90%;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.art-footer .art-footer-inner
{
	float: left;
	width: 100%;
}

.art-blockcontent
{
	width: 100% !important;	
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
	padding-left: 1em;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.art-block-body .art-postheader
{
	display: none;
}

.art-block-body .art-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set background color for sticky table */
table.sticky-header
{
	background-color: #FFFFFF !important;
}
/* END Set background color for sticky table */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb
{
	margin: 1em 0 0 0.7em;
}
/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.art-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}/* END Page validation fix */