#top-link  { 
	display:none; 
	position:fixed; 
	right:5px; 
	bottom:5px; 
	color:green; 
	font-weight:bold; 
	text-decoration:none; 
	border:1px solid #D9D9D3; 
	background:#E7E6E0; 
	padding:10px;
}