/* --------------------------------------------------------------------------------
		BLOCKS
-------------------------------------------------------------------------------- */
#sidebar-a .block,
#sidebar-b .block {
	margin-bottom: 1.5em;
	.inner {
		padding: 36px;
	}
	h2.block-title {
		color: #333333;
	}
	.item-list {
		li {
			background-image: url('../img/sep_h_points.png');
			background-position: left bottom;
			background-repeat: repeat-x;
			padding-bottom: 0.5em;
			margin-bottom: 1.5em;
		}
		.nd-region-header {
			@include adjust-font-size-to(14px);
			a {
				color: #383737;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.nd-region-middle {
			@include adjust-font-size-to(12px);
			color: #939191;
		}
	}
}

#sidebar-a .block-menu,
#sidebar-b .block-menu {
	@include adjust-font-size-to(13px);
	h2.block-title {
		background-image: url('../img/navigation_outer.png');
		background-repeat: repeat-x;
		margin: 0 4px 0 5px;
		padding-left: 20px;
		color: #fff;
	}
	ul {
		margin: 0 3px;
	}
	li {
	 a {
    display:block;
    text-decoration: none;
    padding: 12px 20px;
    background-image: url('../img/navigation_sub_arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
    &.active,
    &.active-trail {
      background-color: #363636;
      color: #363636;
      font-weight: bold;
    }
    &:hover {
      text-decoration: underline;
    }
   }
   li {
    a {
      padding-left: 35px;
    }
   }
	}
	
	li {
		border-bottom: 1px solid $separator_color;
		&.last {
			border-bottom: none;
		}
	}
	.inner {
		padding: 0;
	}
}

/* block-conimbo-conimbo_feeds */
#block-conimbo-conimbo_feeds {
  position:absolute;
  top:50px;
  right: 0px;
}
