#breadcrumb {
	overflow:hidden;
	a {
		float: left;
	}
	span {
		background: transparent url('../img/sep_breadcrumb.png') no-repeat 7px 0;
		display: block;
		float:left;
		text-indent: -999em;
		padding: 0 7px;
		width: 15px;
		height: 29px;
	}
	em {
      float: left;
      font-style:normal;
	}	
}