/* --------------------------------------------------------------------------------
		CONTENT GENERALITIES
-------------------------------------------------------------------------------- */
body {
	font-family: Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	@include establish-baseline();
	@include adjust-font-size-to(12px);
	color: #2f2f2f;
}

#logo h1 {
  margin: 0;
}

h1 {
  @include adjust-font-size-to(30px);
  font-weight: normal;
  letter-spacing: -0.025em;
  margin-bottom: 0.5em;
}

h2 {
   @include adjust-font-size-to(21px);
    font-weight: normal;
    letter-spacing: -0.025em;
}

h3 {
   @include adjust-font-size-to(18px);
    font-weight: normal;
    letter-spacing: -0.025em;
}

td {
  padding: 15px;
  font-family: Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #2f2f2f;
}


/* --------------------------------------------------------------------------------
    NODES
-------------------------------------------------------------------------------- */

.nd-region-header {
   //margin-top: -1em;
}

// Grey
.field-post-date,
.field-author {
  color: #939191;
}

.field-news-image.float-left, .field-news-image.float-right {
  margin:5px;
}

.faq-content {
  margin-bottom:10px;
}

/* --------------------------------------------------------------------------------
    PANELS
-------------------------------------------------------------------------------- */

.panel-row-one {
  h2.pane-title {
    @include adjust-font-size-to(30px);
    font-weight: normal;
    letter-spacing: -0.025em;
    margin-bottom: 0.5em;
  }
  .grey {
    h2.pane-title {
      padding-left: 10px;
      padding-top: 10px;
    }
  }
}



/* --------------------------------------------------------------------------------
    LINKS/BUTTONS
-------------------------------------------------------------------------------- */

.field-read-more {
  a {
    padding-right: 10px;
    background: transparent url('../img/arrow_more.png') no-repeat right 7px;
  }
}

div.button {
  float: right;
  margin: 10px 0;
  a {
  	background-image: none;
  	padding: 2px 5px;
  	text-decoration: none;
  	&:hover {
  	  color: #fff;
  	  text-decoration:underline;
  	}
  }
}

#top-link {
    color: #fff;
}

/* --------------------------------------------------------------------------------
    VIEWS
-------------------------------------------------------------------------------- */

.view {
  //border: 1px solid blue;
  h2 {
    @include adjust-font-size-to(16px);
  }
  .buildmode-blog,
  .buildmode-teaser {
    //border: 1px solid green;
    margin: 10px 0 20px 0;
  }
  .node {
    //margin: 10px 0 20px 0;
    border: 1px solid red; 
  }
}

.view-footer p {
  text-align:right;
}

.view-Polls.view-display-id-block_1 .node {
  border-bottom: 0;
}