/* --------------------------------------------------------------------------------
		DOORMAT
-------------------------------------------------------------------------------- */
#doormat-container {
	color: #fff;
	a {
		color: #fff;
	}
}

#doormat {
	.inner {
		padding: 3.5em 0;
	}
	.panel-col{
		.panel-panel {
			margin: 0 20px;
		}
	}
	h2.pane-title {
		text-transform: uppercase;
		@include adjust-font-size-to(12px);
		padding-bottom: 12px;
		margin-bottom: 12px;
		font-weight: normal;
		background: transparent url('../img/sep_h.png') bottom repeat-x;
	}
	.pane-content {
		@include adjust-font-size-to(11px);
	}
}