/* --------------------------------------------------------------------------------
		FOOTER
-------------------------------------------------------------------------------- */

#footer {
	@include adjust-font-size-to(11px);
	padding: 2.5em 0;
	.block {
		float:left;
		li {
			float:left;
			margin: 0 10px ;
		}
	}
}

#footer-message {
	float:right;
}

#footer-container {
	color: #fff;
	a {
		color: #fff;
	}
}