/* --------------------------------------------------------------------------------
		HEADER
-------------------------------------------------------------------------------- */

#header {
  //position: relative;
  //float: right;
  //padding: 10px 0;
  .block-menu {
    float: right;
    li {
      float: left;
      margin: 0 5px;
    }
  }
  .block {
    float: right;
    margin: 0 5px;
    padding: 5px 0;
  }
}



/* =========================================================================
 *   FEDERAL HEADER
 * ========================================================================= */

#federalheader-outer {
  background: #FFF;
}

#federalheader {
  overflow: hidden;
  position: relative;
  min-height: 40px;
}

/* clearfix hack */
#blgm_belgiumHeader:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#blgm_belgiumHeader {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html #blgm_belgiumHeader {
  height: 1%;
}

#blgm_belgiumHeader {
  display: block;
}
/* End hide from IE-mac */

/* header */
#blgm_belgiumHeader {
  padding: 0 0.5em 0.25em 0;
  //border-bottom : 1px solid #cccccc;
  background: #ffffff;
}
#blgm_belgiumHeader.blgm_stretch {
  padding-left: 0;
}
#blgm_belgiumHeader div.blgm_wrapper {
  border-bottom: 3px solid #000;
  display: block;
  padding: 0 32px 0 0;
  margin-bottom: 2px;
  zoom: 1;
  height: 35px;
}
* html #blgm_belgiumHeader div.blgm_wrapper {
  overflow: visible;
}
/* language switch */

#federalheader #block-one_i18n-0 {
  float: left;
  width: 250px;
}

#federalheader ul.language-switcher,
#blgm_belgiumHeader ul#blgm_languageSwitch {
  margin: 0.5em 0.5em 0em 0.5em;
  float: left;
  display: inline;
  padding: 0;
}

#blgm_belgiumHeader.blgm_stretch ul#blgm_languageSwitch {
  margin-left: 0em;
}

#federalheader ul.language-switcher li,
#blgm_belgiumHeader ul#blgm_languageSwitch li {
  line-height: 1em;
  margin-right: 0.25em;
  text-align: center;
  float: left;
  display: inline;
  padding : 0;
  background: none;
}

#federalheader ul.language-switcher li a,
#blgm_belgiumHeader ul#blgm_languageSwitch li .blgm_lSwitch {
  padding: 0.1em;
  width: 1.5em;
  display: block;
  text-decoration: none;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  font-family: arial,verdana,sans-serif;
  height: 13px;
  line-height: 13px;
}

#federalheader ul.language-switcher li a.active,
#blgm_belgiumHeader ul#blgm_languageSwitch li.blgm_active .blgm_lSwitch {
  border: 1px solid #333333;
  background-color: #666666;
  color: #ffffff;
}

#federalheader ul.language-switcher li a,
#blgm_belgiumHeader ul#blgm_languageSwitch li a {
  text-decoration: none;
}

#federalheader ul.language-switcher li a:hover,
#blgm_belgiumHeader ul#blgm_languageSwitch li a.blgm_lSwitch:hover {
  border: 1px solid #333333;
  background-color: #666666;
  color: #ffffff;
  text-decoration: none;
}

/* .be link and logo */
#federalheader .block-block,
#blgm_beLink {
  color: #333333;
  padding: 0.9em 1em 0.5em 0em;
  font-size: 12px;
  font-family: arial, verdana, sans-serif;
  text-align: right;
  margin-left: 250px;
  width: 660px;
}

#federalheader .block-block .content a,
#blgm_beLink a {
  color: #333333;
  text-decoration: underline;
  font-weight: 300;
  font-family:arial, verdana, sans-serif;
  border: none;
}

#federalheader .block-block .content a:hover,
#blgm_beLink a:hover {
  color: #000000;
  text-decoration: underline;
  font-weight: 300;
  font-family: arial, verdana, sans-serif;
  border: none;
}

#blgm_beLogo {
  text-align: right;
  position: absolute;
  width: 32px;
  right: 5px;
  top: 16px;
}

* html #blgm_beLogo {
  bottom: -0.05em;
}

#blgm_beLogo a, #blgm_beLogo a:hover, #blgm_beLogo:visited {
  border: none;
}

#blgm_beLink {
  padding: 0.6em 1em 0.5em 0;
  font-size: 0.85m;
  width: 700px; 
}