/* --------------------------------------------------------------------------------
    LAYOUTS
-------------------------------------------------------------------------------- */

.container-12 {
  width: 1010px;
  margin: 0 auto;
}

/* ------------------------------------------------
  LAYOUT ONE COLUMN (NO SIDEBARS)
------------------------------------------------ */

.layout-one-column,
body.no-sidebars {
  #content-middle-grid {
    width: image-width(sprite-file($box, main_full_top));
    span {
      display: block;
      &.top {
        background: transparent sprite($box, main_full_top) no-repeat;
        height: image-height(sprite-file($box, main_full_top));
      }
      &.bottom {
        background: transparent sprite($box, main_full_bottom) no-repeat;
        height: image-height(sprite-file($box, main_full_bottom));
      }
    }
    #content-middle {
      span {
        display: inline;
      }
    }
    .inner {
      background: transparent url('../img/main_full_content.png') repeat-y;
    }
  }
}

/* ------------------------------------------------
  LAYOUT ONE SIDEBAR ON THE LEFT/RIGHT SIDE
------------------------------------------------ */

.layout-left-sidebar,
.layout-right-sidebar {
  #content-middle-grid,
  #sidebar-a-grid,
	#sidebar-b-grid {
     float: left;
  }
  #content-middle-grid {
    width: image-width(sprite-file($box, main_medium_top));
		margin: 0 5px;
		span {
			display: block;
			&.top {
				background: transparent sprite($box, main_medium_top) no-repeat;
				height: image-height(sprite-file($box, main_medium_top));
			}
			&.bottom {
				background: transparent sprite($box, main_medium_bottom) no-repeat;
				height: image-height(sprite-file($box, main_medium_bottom));
			}
		}
		#content-middle {
      span {
        display: inline;
      }
    }
		.inner {
			background: transparent url('../img/main_medium_content.png') repeat-y;
			.inner {
			  background-image: none;
			}
		}
  }
  #sidebar-a-grid,
	#sidebar-b-grid {
		margin: 0 10px;
		padding-top: 3px;
    width: image-width(sprite-file($box, block_sidebar_a_top));
		span {
			display: block;
			&.top {
				background: transparent sprite($box, block_sidebar_a_top) no-repeat;
				height: image-height(sprite-file($box, block_sidebar_a_top));
			}
			&.bottom {
				background: transparent sprite($box, block_sidebar_a_bottom) no-repeat;
				height: image-height(sprite-file($box, block_sidebar_a_bottom));
			}
		}
		.inner {
			background: transparent url('../img/block_sidebar_a_content.png') repeat-y;
		}
  }
	#sidebar-a-grid {
		margin-left: 0;
	}
	#sidebar-b-grid {
		margin-right: 0;
	}
}


/* ------------------------------------------------
  LAYOUT SIDEBARS ON THE LEFT AND RIGHT SIDE
------------------------------------------------ */

.layout-sidebars-left-and-right {
  #content-middle-grid,
  #sidebar-a-grid,
  #sidebar-b-grid {
    float: left;
    display:inline;
    position: relative;
  }
  #content-middle-grid {
    //border: 1px solid red;
    float:left;
    width: 515px; /* Width - margin left & right */
    margin: 0 15px; /* */
    //margin-left: image-width(sprite-file($box, block_sidebar_a_top));
    .inner {
      padding: 20px 20px 30px
    }
    span {
      display: block;
      &.top {
        background: transparent sprite($box, main_small_top) no-repeat;
        height: image-height(sprite-file($box, main_small_top));
      }
      &.bottom {
        background: transparent sprite($box, main_small_bottom) no-repeat;
        height: image-height(sprite-file($box, main_small_bottom));
      }
    }
    #content-middle {
      span {
        display: inline;
      }
    }
    .inner {
      background: transparent url('../img/spr_boxes/main_small_content.png') repeat-y;
      .inner {
        background-image: none;
      }
    }
  }
  #sidebar-a-grid,
  #sidebar-b-grid {
    //width: image-width(sprite-file($box, block_sidebar_a_top));
    width: 230px;
    span {
      display: block;
      &.top {
        background: transparent sprite($box, block_sidebar_a_top_small) no-repeat;
        height: image-height(sprite-file($box, block_sidebar_a_top_small));
      }
      &.bottom {
        background: transparent sprite($box, block_sidebar_a_bottom_small) no-repeat;
        height: image-height(sprite-file($box, block_sidebar_a_bottom_small));
      }
    }
    .block .inner {
      background: transparent url('../img/spr_boxes/block_sidebar_a_content_small.png') repeat-y;
      padding: 25px;
    }
  }
  &.one-sidebar {
    &.sidebar-left,
    &.sidebar-right {
      #content-middle-grid {
        width: 745px; /* Width - margin left & right */
        .inner {
          padding: 20px 20px 30px
        }
        span {
          &.top {
            background: transparent sprite($box, main_small_onesidebar_top) no-repeat;
          }
          &.bottom {
            background: transparent sprite($box, main_small_onesidebar_bottom) no-repeat;
          }
        }
        .inner {
          background: transparent url('../img/spr_boxes/main_small_onesidebar_content.png') repeat-y;
        }
      }
    }
  }
}

/* ------------------------------------------------
  BOTH SIDEBARS ON THE LEFT
------------------------------------------------ */

.layout-sidebars-left {
  #sidebar-a-grid,
  #sidebar-b-grid {
    float: left;
    display:inline;
    position: relative;
  }
  #sidebar-b-grid {
    margin: 0 0 0 15px;
  }
  #content-middle-grid {
    //border: 1px solid red;
    float:right;
    width: 515px; /* Width - margin left & right */
    margin: 0 0 0 15px; /* */
    //margin-left: image-width(sprite-file($box, block_sidebar_a_top));
    .inner {
      padding: 20px 20px 30px
    }
    span {
      display: block;
      &.top {
        background: transparent sprite($box, main_small_top) no-repeat;
        height: image-height(sprite-file($box, main_small_top));
      }
      &.bottom {
        background: transparent sprite($box, main_small_bottom) no-repeat;
        height: image-height(sprite-file($box, main_small_bottom));
      }
    }
    #content-middle {
      span {
        display: inline;
      }
    }
    .inner {
      background: transparent url('../img/spr_boxes/main_small_content.png') repeat-y;
      .inner {
        background-image: none;
      }
    }
  }
  #sidebar-a-grid,
  #sidebar-b-grid {
    //width: image-width(sprite-file($box, block_sidebar_a_top));
    width: 230px;
    span {
      display: block;
      &.top {
        background: transparent sprite($box, block_sidebar_a_top_small) no-repeat;
        height: image-height(sprite-file($box, block_sidebar_a_top_small));
      }
      &.bottom {
        background: transparent sprite($box, block_sidebar_a_bottom_small) no-repeat;
        height: image-height(sprite-file($box, block_sidebar_a_bottom_small));
      }
    }
    .block .inner {
      background: transparent url('../img/spr_boxes/block_sidebar_a_content_small.png') repeat-y;
      padding: 25px;
    }
  }
  // One sidebar
  &.one-sidebar {
    #content-middle-grid {
      width: 745px; //515 + 230
      span {
        &.top {
          background: transparent sprite($box, main_small_onesidebar_top) no-repeat;
        }
        &.bottom {
          background: transparent sprite($box, main_small_onesidebar_bottom) no-repeat;
        }
      }
      .inner {
        background: transparent url('../img/spr_boxes/main_small_onesidebar_content.png') repeat-y;
      }
    }
  }
}


/* ------------------------------------------------
  BOTH SIDEBARS ON THE RIGHT
------------------------------------------------ */

.layout-sidebars-right {
  #sidebar-a-grid,
  #sidebar-b-grid {
    float: left;
    display:inline;
    position: relative;
  }
  #sidebar-a-grid {
    margin: 0 15px 0 0;
  }
  #content-middle-grid {
    float:left;
    width: 515px; /* Width - margin left & right */
    margin: 0 15px 0 0;
    //margin-left: image-width(sprite-file($box, block_sidebar_a_top));
    .inner {
      padding: 20px 20px 30px
    }
    span {
      display: block;
      &.top {
        background: transparent sprite($box, main_small_top) no-repeat;
        height: image-height(sprite-file($box, main_small_top));
      }
      &.bottom {
        background: transparent sprite($box, main_small_bottom) no-repeat;
        height: image-height(sprite-file($box, main_small_bottom));
      }
    }
    #content-middle {
      span {
        display: inline;
      }
    }
    .inner {
      background: transparent url('../img/spr_boxes/main_small_content.png') repeat-y;
      .inner {
        background-image: none;
      }
    }
  }
  #sidebar-a-grid,
  #sidebar-b-grid {
    //width: image-width(sprite-file($box, block_sidebar_a_top));
    width: 230px;
    span {
      display: block;
      &.top {
        background: transparent sprite($box, block_sidebar_a_top_small) no-repeat;
        height: image-height(sprite-file($box, block_sidebar_a_top_small));
      }
      &.bottom {
        background: transparent sprite($box, block_sidebar_a_bottom_small) no-repeat;
        height: image-height(sprite-file($box, block_sidebar_a_bottom_small));
      }
    }
    .inner {
      
    }
    .block .inner {
      background: transparent url('../img/spr_boxes/block_sidebar_a_content_small.png') repeat-y;
      padding: 25px;
    }
  }
  // One sidebar
  &.one-sidebar {
    #content-middle-grid {
      width: 745px; //515 + 230
      span {
        &.top {
          background: transparent sprite($box, main_small_onesidebar_top) no-repeat;
        }
        &.bottom {
          background: transparent sprite($box, main_small_onesidebar_bottom) no-repeat;
        }
      }
      .inner {
        background: transparent url('../img/spr_boxes/main_small_onesidebar_content.png') repeat-y;
      }
    }
  }
}

/* ------------------------------------------------
  GENERIC PROPRETIES
------------------------------------------------ */

#toolbar-outer {
	background-color: #fff;
}

#content-outer {
	background: url('../img/content_outer.png') left top repeat-x;
}

#content {
	padding: 30px 0;
}

#header-outer {
	background: url('../img/header_outer.png') left top repeat-x;
}

#content-middle-grid {
	.inner {
		padding: 20px 30px 30px;
	}
}

#sidebar-a-grid {
	@include adjust-font-size-to(13px);
}

#doormat_footer {
	background: transparent url('../img/doormat_footer.png') center top no-repeat;
}

#footer-outer {
	background: transparent url('../img/footer.png');
}

