/* --------------------------------------------------------------------------------
		LAYOUTS
-------------------------------------------------------------------------------- */

.container-12 {
	width: 1010px;
	margin: 0 auto;
}

.grid-12, .grid-9, .grid-3 {
	display:inline;
	float: left;
}

#content-middle-grid.grid-9 {
	width: image-width(sprite-file($box, main_medium_top));
	span {
		display: block;
		&.top {
			background: transparent sprite($box, main_medium_top) no-repeat;
			height: image-height(sprite-file($box, main_medium_top));
		}
		&.bottom {
			background: transparent sprite($box, main_medium_bottom) no-repeat;
			height: image-height(sprite-file($box, main_medium_bottom));
		}
	}
	.inner {
		background: transparent url('../img/main_medium_content.png') repeat-y;
		.inner {
		   background-image: none;
		   border: 1px solid red;
		}
	}
}

#sidebar-a-grid {
	float: right;
	&.grid-3 {
		.block {
			width: image-width(sprite-file($box, block_sidebar_a_top));
			span {
				display: block;
				&.top {
					background: transparent sprite($box, block_sidebar_a_top) no-repeat;
					height: image-height(sprite-file($box, block_sidebar_a_top));
				}
				&.bottom {
					background: transparent sprite($box, block_sidebar_a_bottom) no-repeat;
					height: image-height(sprite-file($box, block_sidebar_a_bottom));
				}
			}
			.inner {
				background: transparent url('../img/block_sidebar_a_content.png') repeat-y;
			}
		}
	}
	&.pull-9 {
		margin-left: image-width(sprite-file($box, main_medium_top));
	}
}

#sidebar-b-grid {
	padding-left: image-width(sprite-file($box, main_medium_top));
	&.grid-3 {
		.block {
			width: image-width(sprite-file($box, block_sidebar_a_top));
			span {
				display: block;
				&.top {
					background: transparent sprite($box, block_sidebar_a_top) no-repeat;
					height: image-height(sprite-file($box, block_sidebar_a_top));
				}
				&.bottom {
					background: transparent sprite($box, block_sidebar_a_bottom) no-repeat;
					height: image-height(sprite-file($box, block_sidebar_a_bottom));
				}
			}
			.inner {
				background: transparent url('../img/block_sidebar_a_content.png') repeat-y;
			}
		}
	}
	&.push-9 {
		
	}
}


/* ------------------------------------------------
	ONE SIDEBAR
------------------------------------------------ */



/* ------------------------------------------------
	GENERALITIES
------------------------------------------------ */

// Generic styles

#content-middle-grid .block {
	.inner {
		padding: 40px;
	}
}

/* --------------------------------------------------------------------------------
		MAIN CONTAINERS STYLING
-------------------------------------------------------------------------------- */

#toolbar-outer {
	background-color: #fff;
}

#content-outer {
	background: url('../img/content_outer.png') left top repeat-x;
}

#content {
	padding: 30px 0;
}

#header-outer {
	background: url('../img/header_outer.png') left top repeat-x;
}

#content-middle-grid {
	.inner {
		padding: 30px;
	}
}

#sidebar-a-grid {
	@include adjust-font-size-to(13px);
}

#doormat_footer {
	background: transparent url('../img/doormat_footer.png') center top no-repeat;
}

#footer-outer {
	background: transparent url('../img/footer.png');
}
