/* --------------------------------------------------------------------------------
		NAVIGATION ELEMENTS
-------------------------------------------------------------------------------- */

#navigation-outer {
	background: transparent url('../img/navigation_outer.png') repeat-x;
}

#navigation {
	.inner {
		padding: 0;
	}
} 

.menu-horizontal {
	text-transform: uppercase;
	ul {
		a {
			display: block;
			padding: 15px 30px;
			color: #fff;
			text-decoration: none;
			letter-spacing: -0.075em;
			&:hover {
				color: #fff;
			}
		}
		&.menu {
			ul {
				width:14em !important;
			}
		}
		&.menu-level-1 {
			li {
				//border-right: 1px solid white;
				background: transparent url('../img/navigation_sep_v.png') right no-repeat;
				padding: 0 10px;
				display: inline-block;
				&.first {
					padding-left: 0;
				}
				&:hover,
				&.sfHover {
					color: green;
					ul.menu-level-2 {
						width: 210px;
						top: 54px
					}
				}
			}
		}
		&.menu-level-2 {
			padding: 10px;
			width: 190px;
			border: 1px solid #1a1a1a;
			a {
				text-transform: none;
				padding: 5px;
				&:hover {
					text-decoration: underline;
					background-color: transparent;
					color: white;
				};
			}
			li {
				background: transparent url('../img/sep_h.png') bottom repeat-x;
				padding: 0;
				border-right: none;
				&.last {
					background: transparent;
				}
				&:hover,
				&.sfHover {
					ul {
						top: 54px
					}
				}
			}
		}
	}
}

$x: sprite-map("../img/spr_x/*.png", $repeat: no-repeat);

/* --------------------------------------------------------------------------------
		BREADCRUMB
-------------------------------------------------------------------------------- */
#breadcrumb-outer {
	background: #fefefe sprite($x, bg_breadcrumb);
	height: image-height(sprite-file($x, bg_breadcrumb));
}

#breadcrumb {
	@include adjust-font-size-to(12px);
	@include adjust-leading-to(1.6);
}

ul.menu li div.active, ul.menu li.menu-divider {
  display: none!important;
}