
#content .panel-row {
	.panel-pane {
		padding: 10px;
	}	
	&.panel-row-one {
	  .panel-pane {
      padding-top: 0;
    }
  }
  .pane-block {
    //padding-bottom: 0;
  }
}

.panel-col-first {
	.panel-pane {
		padding-left: 0;
	}
}

.panel-col-last {
	.panel-pane {
		padding-right: 0;
	}
}


.panel-2col-3row-65-35 {

}

#content .panel-row .panel-panel {
  /* mod */
  .mod{margin:10px;}
  .mod .panel-pane {}
  .mod .in{/*background: url(skin/transparent.png) repeat left top;*/}
  .bd,.ft, .hd{overflow:hidden; *overflow:visible; zoom:1;}
   b.top, b.top b, b.bottom, b.bottom b{display:block;background-repeat:no-repeat;font-size:1%;position:relative;z-index:10;}
  .tl, .tr, .bl, .br{height:10px; width:10px;float:left;}
  .tl{background-position: left top;}
  .tr{background-position: right top;}
  .bl{background-position: left bottom;}
  .br{background-position: right bottom;}
  .br,.tr{float:right;}
  .tr, .tl{overflow:hidden;margin-bottom:-32000px;}/* margin bottom needs to be < -9px */
  .bl,.br{margin-top:-10px;}
  .top{background-position:center top;}
  .bottom{background-position:center bottom;_zoom:1;}/* this zoom required for IE5.5 only*/
  /* complex */
  .complex{overflow:hidden;*position:relative;*zoom:1;}/* position/zoom required for IE7, 6, 5.5 */
  .complex .tl, .complex .tr{height:32000px; margin-bottom:-32000px;width:10px;}
  .complex .bl, .complex .br{/*margin-top:0;*/}
  .complex .top{height:5px;}
  .complex .bottom{height:5px;/*margin-top:-10px;*/}
  
  /* ----- flow (extends complex) ----- */
  .flow{margin:6px;}
  .flow b{background-image:url('../img/panel_style_grey.png');}
  
  .flow.grey b{background-image:url('../img/panel_style_grey.png');}
  .flow.grey .in{padding:0 4px; background-color:#f5f5f5;}
  
  .flow.light b{background-image:url('../img/panel_style_light.png')}
  .flow.light .in{padding:0 4px;}
  .flow.light .panel-pane {
    background-image: url('../img/panel_style_light.png');
    background-position: center;
    background-repeat: no-repeat;
   }
  
  .flow .top{height:4px;}
  .flow .bottom{height:4px;margin-top:-4px;}
  .flow .br,.flow .bl{margin-top:-6px;}/* margin top = bottom height - corner height */
    
}
  