
#toolbar-grid {
	
}

#toolbar {
	position: relative;
	float: right;
	padding: 10px 0;
	.block-menu {
		float: right;
		li {
			float: left;
			margin: 0 5px;
		}
	}
	.block {
	  float: right;
	  margin: 0 5px;
	  padding: 5px 0;
	}
}

#search-block-form, #fedict-search-block-form {
	float: right;
	margin: 0 5px;
	input {
		&.form-text {
			outline: none;
			background: transparent url('../img/input.png') no-repeat 0 -204px;
			padding: 6px;
			padding-left: 30px;
			border-right: none;
		}
		&.button {
			padding: 6px 7px;
			margin-left: -10px;
			color: #fff;
		}

	}
}
#search-block-form div.form-inner div.form-item, #fedict-search-block-form div.form-inner div.form-item {
		display:inline;
		float:left;
		clear:none;
}
#search-block-form input.button, #fedict-search-block-form input.button {
  margin-left: -1px;
  margin-top:-1px;
}

#search-block-form {
  label {
    display: none;
  }
}
