.view-Downloads .views-row, .view-tweets .item-list ul li, .view-Agenda .views-row
{
  border-bottom: 1px solid $separator_color;
}
.view-Downloads .views-row
{
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.block .view-Downloads .views-row
{
  margin-bottom: 3px;
  padding-bottom: 0px;
}
.view-tweets .item-list ul li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.view-tweets .item-list ul li.last
{
  border:0;
}
.view-Agenda .views-row
{
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.view-Agenda .views-row-last 
{
  border:0;
}
