@CHARSET "ISO-8859-1";

/* =========================================================================
 *
 *   FEATURES.CSS    
 *        
 * ========================================================================= */
 

/* =========================================================================
 *   NEWS
 * ========================================================================= */

.field-news-source {
  font-style: italic;
}


/* =========================================================================
 *   SPLASH
 * ========================================================================= */

body.page-splash,
body.page-splash #body-inner {
  background-color: #000;
}

#splash {
  padding: 20px 30px 40px;
  width: 640px;
  margin: 100px 0;  
  background-color: #E7E6E0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

#splash .language-selector-language {
  margin: 15px 0 0 0;
  list-style: none;
}

body.page-splash #logo {
  text-align:center;  
	float: none;
	margin-top: 50px;
}


/* =========================================================================
 *   TWITTER
 * ========================================================================= */

.view-twitter ul li {
  border-bottom: 1px solid #524E41;
  padding: 10px 0;
}

.view-twitter ul li.first {
  padding-top: 0;
}

.view-twitter ul li.last {
  border-bottom: 0 none;
  padding-bottom: 0;
}

.view-twitter .field {
	margin-bottom: 0;
}


/* =========================================================================
 *   COMMENTS
 * ========================================================================= */

.comment {
  padding: 15px 10px;
  background-color: #DCDBD5;
  margin: 0 0 9px 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

#comments {
	margin-bottom: 20px;
}

#comments h2 {
	margin-bottom: 10px;
}

.cd-region-left {
  width: 135px;
}

.cd-sidebar-left .cd-region-middle {
  margin-left: 160px;
}

#comments .field-subject {
  font-weight: bold;
}

.indented {
	margin-left: 60px;
}

.indented .comment {
	background-color: #D0CFC7;
}

/* comment form */

.box {
  padding-top: 35px;
}

#content-middle #comment-form textarea {
  width: 98%;
}

#content-middle #comment-controls .form-item {
  display: block;
}


/* =========================================================================
 *   GALLERY
 * ========================================================================= */

/* thumbnails view */

/* slideshow */

.field-gallery-slideshow {
  background:none repeat scroll 0 0 #3E3E3E;
  color: #E2E4D9;
  padding:20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;   
}

.field-gallery-slideshow a {
  color: #fff;
}

#content .field-gallery-slideshow .block {
  margin: 0;
}

#content .field-gallery-slideshow .block .content {
  padding: 0;
}


/* =========================================================================
*   PANELS   
* ========================================================================= */
 
/* one pane */

.panel-pane {
	margin-bottom: 20px;
}

.pane-title {
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
}

.pane-content {
}

/* division between panes */

.panel-region-separator {
}
 
/* general panels theming */

#content-middle .panel-panel {
  background-color: #D9D9D3;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

#content-middle .panel-panel .panel-pane {
  padding: 30px 25px;
}

#content-middle .panel-row {
  margin-bottom: 15px;
} 

#content-middle .panel-row-first {
}

#content-middle .panel-row-last {
}

#content-middle .panel-col .panel-panel {
	margin: 0 10px;
}

#content-middle .panel-col-first .panel-panel {
  margin-left: 0px;
}

#content-middle .panel-col-last .panel-panel {
  margin-right: 0px;
}

.node-type-panel {
  margin-bottom: 0;
}

/* overwrite block margin and padding */

#content .panel-panel .block {
  width: auto;
}

#content .panel-panel .block .content {
  padding: 0;
}

/* =========================================================================
*   DOCUMENTS
* ========================================================================= */

/* the documents teaser list looks more like a block list */

.buildmode-teaser .node-type-document .field-title h2,
.buildmode-teaser .node-type-document .field-title p {
  font-size: 13px;
  line-height: 19px; 
}

.buildmode-teaser .node-type-document {
	margin-bottom: 10px;
}
h
.buildmode-teaser .node-type-document .field {
	margin-bottom: 0;
}

/* preview icon */

.field-document-file-preview a {
  background: transparent url(../images/icons/preview.png) no-repeat left 2px;
  padding-left: 18px;
}

/* apache solr blocks */


.apachesolr_current_search {
	clear: both;
}

a.apachesolr-unclick {
  min-height: 14px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 5px 0 0;
  padding: 4px 7px 4px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  color: #524E41;    
  background: #C5C4BA url(../images/icons/remove_facet.png) no-repeat 4px center;  
  font-size: 10px;
  line-height: 14px;
}

.sidebar .block-apachesolr_search {
  background-color: #DCDBD5;
  color: #524E41;
}

.sidebar .block-apachesolr_search .block-title {
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #D5D4CD;
  color: #524E41;  
  line-height: 26px;
  padding: 0;
}

.apachesolr-mlt-admin-link {
  display: none;
}

.sidebar a.apachesolr-facet {
  display: block;
  float: left;
  clear: left;
  margin-bottom: 0.5em;
  color: #524E41;    
}  

.sidebar a.apachesolr-unclick {
  display: block;
  margin: 0 -6px 7px -6px;
  padding: 4px 30px 4px 7px;
  color: #524E41;  
  font-size: 12px;
  background: #C5C4BA url(../images/icons/remove_facet.png) no-repeat 97% center;  
}


/* =========================================================================
*   SEARCH (also used in documents and events)
* ========================================================================= */

/* search form in the toolbar */

#search-theme-form {
  background-color: #343434;
  padding: 4px; 
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}

#search-theme-form .form-text {
  padding: 0px;
  line-height: 14px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}

#search-theme-form .form-inner {
  line-height: 0;
}

#search-theme-form .button {
  background-color: #343434;
  color: #D3D7C2;  
  padding: 0;
  font-size: 10px;
  font-weight: normal;
}

/* search form in content area */

#content-middle #search-form {
  background-color: #D0CFC7;
  padding: 8px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

#content-middle #search-form label {
	font-size: 12px;
}

#content-middle #search-form .form-submit {
  background-color: #E6E5DF;
}

.search-wrapper {
  margin-bottom:15px;
  background-color: #DCDBD5;
  padding: 8px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.search-sort {
  margin-bottom: 10px;
}

.search-current label, 
.search-sort label {
  float: left;
  width: 150px; /* same as on search form */
}

.search-sort a.active {
  font-weight: bold;
  padding-left: 3px;
}

.search-sort ul li {
  float: left;
  margin: 0 0 0 6px;
  font-weight: bold;
}