/* =========================================================================
 *
 *   MENU.CSS
 *   Every menu that is created using the naming convention
 *   will get a class menu-menuname e.g. menu-toolbar.
 *        
 * ========================================================================= */

#header .navigation {
	margin-left: 240px;
  width: 700px;
}

.navigation ul.menu li a:hover {
  text-decoration: none;
}

/* =========================================================================
 *   HORIZONTAL DROPDOWN    
 * ========================================================================= */

/* general */

.menu-horizontal {
	margin-top: 35px;
}

.menu-horizontal .block {
}

.menu-horizontal .block .content {
}

/* level 1*/

.menu-horizontal ul.menu-level-1 li { 
  float: left;
}

.menu-horizontal ul.menu-level-1 li.last { 
}

.menu-horizontal ul.menu-level-1 li a {
  color: #9FA395;	
  line-height: 16px;
  padding: 4px 10px 3px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 3px;
}

.menu-horizontal ul.menu-level-1 li.active-trail a {
	background-color: #C3C3B9;
  color: #E2E4D9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.menu-horizontal ul.menu-level-1 li a:hover {
  background-color: #DBDAD4;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.menu-horizontal ul.menu-level-1 li:hover ul,
.menu-horizontal ul.menu-level-1 li.sfHover ul {
  top: 26px; /* match top ul list item height */
}
                           
/* level 2 */

.menu-horizontal ul.menu ul.menu-level-2 {
  width: 154px;
  border: 1px solid #D0CFC7;
  background-color: #DCDBD5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.menu-horizontal ul.menu-level-2 li {
}

.menu-horizontal ul.menu-level-2 li.first {
}

.menu-horizontal ul.menu ul.menu-level-2 li a { 
	color: #6C7067;
	text-transform: none;
	background-color: transparent;
	margin-right: 0;
}

.menu-horizontal ul.menu ul.menu-level-2 li a:hover {
	background-color: #D0CFC7;
}

.menu-horizontal ul.menu ul.menu-level-2 li a.active {
}

.menu-horizontal ul.menu-level-2 li:hover ul,
.menu-horizontal ul.menu-level-2 li.sfHover ul {
  top: 26px; /* match top ul list item height */
}

.menu-horizontal ul.menu-level-2 li.last,
.menu-horizontal ul.menu-level-2 ul.menu li.last {
}

/* third level */

.menu-horizontal ul.menu ul.menu-level-2 li:hover ul, 
.menu-horizontal ul.menu ul.menu-level-2 li.sfHover ul {
  left: 154px;
}

.menu-horizontal ul.menu-level-3 {
  width: 154px;
  border: 1px solid #D0CFC7;
  background-color: #DCDBD5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.menu-horizontal ul.menu-level-3 li.first {
}


/* =========================================================================
 *   VERTICAL NAVIGATION    
 * ========================================================================= */

/* First level */

.menu-vertical .block-menu {
	background-color: transparent;
  padding: 0;  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
}

.menu-vertical .block-menu .content {
	background-color: #DBDAD4;
	color: #E2E4D9;
	margin-bottom:12px;  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.menu-vertical h2.block-title {
	color: #524E41;
	border: 0 none;
	padding: 0;
}

.menu-vertical ul.menu li a {
  color: #524E41;
  line-height: 16px;
  padding: 8px;
}

.menu-vertical ul.menu li.first a {
}

.menu-vertical ul.menu li a:hover,
.menu-vertical ul.menu li.active-trail a {
  background-color: #D0CFC7;  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.menu-vertical ul.menu li.active-trail li.active-trail a,
.menu-vertical ul.menu li.active-trail li a:hover,
.menu-vertical ul.menu li.active-trail li.active-trail a.active,
.menu-vertical ul.menu li.active-trail li.active-trail li a:hover { 
  background-color: #D0CFC7;
}

.menu-vertical ul.menu li.active-trail li a,
.menu-vertical ul.menu li.active-trail li.active-trail li a { 
  background-color: transparent;
}

/* second level */

.menu-vertical ul.menu-level-1 ul.menu-level-2 li a {
  padding-left: 16px; 
}

/* third level */

.menu-vertical ul.menu-level-2 ul.menu-level-3 li a {
  padding-left: 16px; 
}

.menu-vertical ul.menu-level-1 ul.menu-level-3 li a {
  padding-left: 28px; 
}






/* =========================================================================
 *   HORIZONTAL - HORIZONTAL NAVIGATION    
 * ========================================================================= */

/* general */

.menu-horizontal-horizontal {
  margin-top: 35px;
}

.menu-horizontal-horizontal .block {
}

.menu-horizontal-horizontal .block .content {
}

.menu-horizontal-horizontal ul.menu { 
  height: 2.2em;
}

.menu-horizontal-horizontal ul.menu li { 
  float: left;
}

.menu-horizontal-horizontal ul.menu li.last { 
}

.menu-horizontal-horizontal ul.menu li a { 
  color: #9FA395; 
  line-height: 16px;
  padding: 4px 10px 3px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 3px;
}

.menu-horizontal-horizontal ul.menu li.active-trail a {
  background-color: #C3C3B9;
  color: #E2E4D9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.menu-horizontal-horizontal ul.menu li a:hover {
  background-color: #DBDAD4;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}


/* =========================================================================
 *   DOORMAT STYLE    
 * ========================================================================= */

/* general */

.menu-doormat .block {
  width: auto;
}

.menu-doormat ul.menu li { 
  float: left;
}

.menu-doormat a:hover { 
  text-decoration: none;
}

/* level 1 */

.menu-doormat ul.menu-level-1 {
}

.menu-doormat ul.menu-level-1 li {
	width: 165px;
	padding-right: 10px; 
}

.menu-doormat ul.menu-level-1 li a { 
	color: #9FA395;
	font-size: 14px;
  line-height: 20px;	
  font-weight: bold;
  padding: 0 4px;
  margin-bottom: 5px;
}

.menu-doormat ul.menu-level-1 li a:hover {
  background-color: #DBDAD4;  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}

.menu-doormat ul.menu-level-1 li.active-trail a  {
}

/* level 2 */

.menu-doormat ul.menu-level-2 {
}

.menu-doormat ul.menu-level-2 li {
  width: auto;
  float: none;
  padding: 0;
  margin: 0 0 3px 0;
}

.menu-doormat ul.menu-level-2 li a {
	color: #6C7067;
	font-size: 12px;
  font-weight: normal;
  padding: 0 4px;
}

.menu-doormat ul.menu-level-2 li.active-trail a {
	background-color: #CFCEC6;  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}

.menu-doormat ul.menu-level-2 li a:hover {
  background-color: #DBDAD4;  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}

/* =========================================================================
 *   FOOTER MENU
 * ========================================================================= */

#footer .menu-footer {
 float: right;
}

.menu-footer ul.menu li {
  display: inline;
  margin-right: 5px;
  float: left;
}

.menu-footer ul.menu li.first {
}