/* =========================================================================
 *
 *   SITE-ELEMENTS.CSS    
 *        
 * ========================================================================= */

/* =========================================================================
 *   TYPOGRAPHY            
 * ========================================================================= */

/* Set outline on links and inputs for AnySurfer compatibility. */
a:focus,
a.more:focus,
input:focus,
div#fancy_outer:focus,
div#fancy_close:focus {
  border: 2px solid red;
}

/* basic */

body, input, textarea {  
  font-size: 12px;
  color: #524E41;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  line-height: 19px;
}

/* headings */

h1 { 
	font-size: 36px;
	margin-bottom: 10px;
	font-weight: normal;
	line-height: 45px;
}

.title { 
}

h2 { 
	font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 10px;
}

h2 a {
	color: #524E41;
}

h3 { 
	font-size: 20px;
  font-weight: normal; 
  line-height: 27px;
}

h4 {
	font-size: 17px;
  line-height: 23px;  
  font-weight: normal; 
}

h5 {
	font-size: 13px;
	color: #00AEEF;
}

h6 {
	font-size: 12px;
}

.category-title {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 19px;
}

p {
  padding: 0 0 12px 0;
  margin: 0;
}

p:last-child {
  padding-bottom: 0;
}

/* links */

a { 
  color: #00AEEF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}


/* =========================================================================
 *   LISTS            
 * ========================================================================= */

ul {
  padding:0 0 12px 0;
}

ul li {
	list-style-image: url(../images/list-item.png);
	list-style-type: none;
	margin-left: 15px;
}


/* =========================================================================
 *   BLOCK: GENERAL BLOCK LAYOUT. 
 * ========================================================================= */

#content-middle .block {
	padding-top: 20px;
}

#content-middle .block-title {
	margin: 0 0 10px 0;
}

.sidebar .block {
	background-color: #3E3E3E;
	padding: 5px 6px 10px 6px;
	margin: 0 0 12px;
	color: #E2E4D9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.sidebar .block a {
  color: #E2E4D9;
}

.sidebar .block-title { 
	font-size: 20px;
	font-weight: normal;
	color: #DBDECD;
	line-height: 30px;
	padding: 0 0 5px 0;
  margin: 0 0 5px 0;	
	border-bottom: 1px solid #524E41;
}

.field .block {
	margin: 20px 0 0 0;
}


/* =========================================================================
 *   MESSAGES
 * ========================================================================= */

div.messages,
#help  {
	background-color: #3E3E3E;
	color: #DBDECD;
	margin-bottom: 25px;
  padding: 7px 19px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

div.messages a {
  text-decoration: underline;
  color: #DBDECD;
}

div.messages ul {
  margin-bottom: 0;
  padding-bottom: 0;
}

div.warning {
  background-color: #9FA395;
}

div.status {
}

div.error {
	background-color: #FF8400;
}


/* =========================================================================
 *   FORMS
 * ========================================================================= */

#content-middle form {
  padding: 20px;
  background-color: #CFCEC6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
	

/* basic form items */

.form-item {
	margin: 0 0 10px 0;
}

.form-item label {
	font-size: 16px;
	font-weight: normal;
	line-height: 26px;
	margin-bottom: 2px;
}

.form-text {
	border: 0 none;
	padding: 3px;
	background-color: #E7E6E0;
  border: 1px solid #E7E6E0;	
}

.form-text:focus {
  border-color: #9FA395;
}

textarea {
  border: 0 none;
  padding: 3px;
  background-color: #E7E6E0;
}

.form-required {
	color: #524E41;
}

.description {
	font-size: 10px;
	font-style: normal;
}

/* inline error-messages */

.messages-inline {
  margin-left: 150px; /* label width */
  width: 350px; /* text-field width */
  padding: 0px; 
  color: #FF8400;
  background-color: transparent;
  margin-top: -0.5em;
}

.sidebar .messages-inline {
  margin-left: 0;
  width: 200px;
}

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
  border: 1px solid #FF8400;
  background-color: #E7E6E0;  
}

/* buttons */

input.button,
.button a {
  background-color: #C3C3B9;
  border: 0 none;
  text-transform: uppercase;
  height: 19px;
  line-height: 19px;
  font-weight: bold;
  padding: 2px 6px;
  display: inline-block;
  zoom: 1;
  display: inline;
  color: #524E41;
  cursor: pointer;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

input.button:hover,
.button a:hover {
  background-color: #B3B3B3;
} 


/* =========================================================================
 *   PAGER
 * ========================================================================= */

.pager {
  text-align: center;
  display: block;
  background-color: #343434;
  padding: 6px;
  color: #D3D7C2;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.pager li {
  display: inline;
  list-style-type: none;
}

.pager li span {
	background-color: #414042;
  padding: 5px 8px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.pager li:hover a{ 
}

.pager li.pager-current,
.pager li a,
.pager li a:visited { 
  color: #D3D7C2;	
}

.pager li.pager-previous a,
.pager li.pager-next a {
}


/* =========================================================================
*   BODY AND NODE: GENERAL LAYOUT
* ========================================================================= */

body {
  background-color: #B1B1A2;	
}

#body-inner {
  background-color: #E7E6E0;
}

#page {
} 

.node { 
}

.node-inner {
}

.item-list ul li .node {
}

.item-list ul li.last .node {
}

/* =========================================================================
 *   FEDERAL HEADER
 * ========================================================================= */

#federalheader-outer {
  background: #FFF;
}

#federalheader {
  overflow: hidden;
  position: relative;
  min-height: 40px;
}

/* clearfix hack */
#blgm_belgiumHeader:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#blgm_belgiumHeader {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html #blgm_belgiumHeader {
  height: 1%;
}

#blgm_belgiumHeader {
  display: block;
}
/* End hide from IE-mac */

/* header */
#blgm_belgiumHeader {
  padding: 0 0.5em 0.25em 0;
  border-bottom : 1px solid #cccccc;
  background: #ffffff;
}
#blgm_belgiumHeader.blgm_stretch {
  padding-left: 0;
}
#blgm_belgiumHeader div.blgm_wrapper {
  border-bottom: 3px solid #000;
  display: block;
  padding: 0 32px 0 0;
  margin-bottom: 2px;
  zoom: 1;
  height: 35px;
}
* html #blgm_belgiumHeader div.blgm_wrapper {
  overflow: visible;
}
/* language switch */

#federalheader #block-one_i18n-0 {
  float: left;
  width: 250px;
}

#federalheader ul.language-switcher,
#blgm_belgiumHeader ul#blgm_languageSwitch {
  margin: 0.5em 0.5em 0em 0.5em;
  float: left;
  display: inline;
  padding: 0;
}

#blgm_belgiumHeader.blgm_stretch ul#blgm_languageSwitch {
  margin-left: 0em;
}

#federalheader ul.language-switcher li,
#blgm_belgiumHeader ul#blgm_languageSwitch li {
  line-height: 1em;
  margin-right: 0.25em;
  text-align: center;
  float: left;
  display: inline;
  padding : 0;
  background: none;
}

#federalheader ul.language-switcher li a,
#blgm_belgiumHeader ul#blgm_languageSwitch li .blgm_lSwitch {
  padding: 0.1em;
  width: 1.5em;
  display: block;
  text-decoration: none;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  font-family: arial,verdana,sans-serif;
  height: 13px;
  line-height: 13px;
}

#federalheader ul.language-switcher li a.active,
#blgm_belgiumHeader ul#blgm_languageSwitch li.blgm_active .blgm_lSwitch {
  border: 1px solid #333333;
  background-color: #666666;
  color: #ffffff;
}

#federalheader ul.language-switcher li a,
#blgm_belgiumHeader ul#blgm_languageSwitch li a {
  text-decoration: none;
}

#federalheader ul.language-switcher li a:hover,
#blgm_belgiumHeader ul#blgm_languageSwitch li a.blgm_lSwitch:hover {
  border: 1px solid #333333;
  background-color: #666666;
  color: #ffffff;
  text-decoration: none;
}

/* .be link and logo */
#federalheader .block-block,
#blgm_beLink {
  color: #333333;
  padding: 0.9em 1em 0.5em 0em;
  font-size: 12px;
  font-family: arial, verdana, sans-serif;
  text-align: right;
  margin-left: 250px;
  width: 660px;
}

#federalheader .block-block .content a,
#blgm_beLink a {
  color: #333333;
  text-decoration: underline;
  font-weight: 300;
  font-family:arial, verdana, sans-serif;
  border: none;
}

#federalheader .block-block .content a:hover,
#blgm_beLink a:hover {
  color: #000000;
  text-decoration: underline;
  font-weight: 300;
  font-family: arial, verdana, sans-serif;
  border: none;
}

#blgm_beLogo {
  text-align: right;
  position: absolute;
  width: 32px;
  right: 5px;
  top: 16px;
}

* html #blgm_beLogo {
  bottom: -0.05em;
}

#blgm_beLogo a, #blgm_beLogo a:hover, #blgm_beLogo:visited {
  border: none;
}


/* =========================================================================
 *   TOOLBAR
 * ========================================================================= */

#toolbar-outer {
  background-color: #404040;
}

#toolbar {
	padding: 3px 0;
  color: #D3D7C2; 	
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  float: right;
}

#toolbar a {
  color: #FF8400;
}

#toolbar ul {
	margin: 0;
	padding: 0;
}

#toolbar ul li {
  background-image: none;
  list-style-type: none;
  list-style-image: none;
  display: inline;
  float: left;  
  padding: 0; 
  margin-right: 5px;
}

#toolbar ul li.last {
	margin-right: 0;
}

#toolbar .block,
#search-theme-form {
  width: auto;
  float: left;
  margin-left: 39px;
}

#toolbar .block-one_i18n {
}

#toolbar .feed-icon {
  padding-top: 5px;
  line-height: 20px
}


/* =========================================================================
 *   HEADER
 * ========================================================================= */

#header {
	padding: 18px 0 45px;
}

#subheader-outer {
  background-color: #00AEEF;
}

#subheader {
	padding: 15px 0px;
}

#subheader,
#subheader a,
#subheader strong {
  color: #E2E4D9;
}

#subheader .field {
  margin-bottom: 0px;
}

#logo { 
	float: left;
}

#logo h1 {
	margin: 0;
	line-height: normal;
}


/* =========================================================================
 *   BREADCRUMB
 * ========================================================================= */

#breadcrumb {
  padding-top: 20px;
}

#breadcrumb,
#breadcrumb a {
	font-size: 11px;
	color: #6C7067;
}


/* =========================================================================
 *   CONTENT
 * ========================================================================= */

#content {
	padding-bottom: 40px;
}

#content-middle,
.sidebar {
	margin-top: 10px; 
}

.not-front #content-middle {
  background-color: #DBDAD4;
  padding: 15px 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px; 
}


/* =========================================================================
 *   DOORMAT
 * ========================================================================= */

#doormat-outer {
  background-color: #404040;
}

#doormat {
  padding: 20px 0;
  color: #D3D7C2;
  font-size: 11px;
}

#doormat .panel-panel {
	margin: 0 10px;
}

#doormat .panel-col-first .panel-panel {
  margin-left : 0;
}

#doormat .panel-col-last .panel-panel {
  margin-right : 0;
}


#doormat .panel-pane {
	padding: 0 25px;
}

#doormat .pane-title {
	font-size: 14px;
	line-height: 21px;
}

#doormat a {
  color: #D3D7C2;	
}

#doormat .buildmode-text_list .node {
	padding: 0px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
}

#doormat .odd .buildmode-text_list .node {
  background-color: transparent;
}

#doormat .buildmode-text_list .field {
	margin: 0;
	font-weight: normal;
}


/* =========================================================================
 *   FOOTER
 * ========================================================================= */

#footer-outer {
  background-color: #B1B1A2;
}

#footer {
  padding: 12px 0;
  color: #524E41;
  font-size: 11px;
}

#footer a {
	color: #524E41;
}

#footer #footer-message {
	float: right;
}

#footer .block {
  width: auto;
  float: left;
}


/* =========================================================================
 *   TINYMCE STYLES
 * ========================================================================= */

body#tinymce {
}

img.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

img.highlight {
}

p.highlight-1,
div.highlight-1   {
  background-color: #00AEEF;
  padding: 7px 13px;  	
  color: #fff;  
  margin-bottom: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;   
}

.sidebar .highlight-1 {
	background-color: #00AEEF;
	color: #fff;
  padding: 5px 6px 10px;	
}

.highlight-1 a,
.sidebar .highlight-1 a {
	color: #fff;
}

.sidebar .highlight-1 .block-title {
	border-color: #fff;
}

p.highlight-2,
div.highlight-2 {  
  background-color: #AAAAA0;
  padding: 7px 13px;  
  color: #E2E4D9; 
  margin-bottom: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px; 
}

.sidebar .highlight-2 {
  background-color: #AAAAA0;
  color: #E2E4D9;
  padding: 5px 6px 10px;  
}

.highlight-2 a,
.sidebar .highlight-2 a {
  color: #E2E4D9;
}

p.intro,
div.intro {  
}


/* =========================================================================
 *   DISPLAY SUITE  
 *   For each build mode you need to define:
 *     - the margin under a node in that buildmode
 *     - the margin under a field in that buildmode
 *     - an overwride for the margin on the last field in that buildmode
 * ========================================================================= */

/* Views displays */

.view .field {
  margin-bottom: 20px;
}

/* Full build mode */

.buildmode-full .node {
  margin-bottom: 0px;
}

.buildmode-full .field {
	margin-bottom: 20px;
}

.buildmode-full .field:last-child {
}

.buildmode-full .field-group {
}

/* Teaser, sticky teaser and search (buildmode-3) */

.buildmode-3 .node,
.buildmode-teaser .node,
.buildmode-sticky .node {
	margin-bottom: 20px;
}

.buildmode-3 .field,
.buildmode-teaser .field,
.buildmode-sticky .field {
  margin-bottom: 0px;
}

.last .buildmode-3 .node,
.last .buildmode-teaser .node,
.last .buildmode-sticky .node,
.field .buildmode-teaser .nd-region-left .field:last-child,
.field .buildmode-teaser .nd-region-middle .field:last-child,
.field .buildmode-teaser .nd-region-right .field:last-child  {
  margin-bottom: 0;
}

.buildmode-3 h2,
.buildmode-teaser h2,
.buildmode-sticky h2 {
	font-size: 21px;
	line-height: 28px;
}

.buildmode-3 h2 a,
.buildmode-teaser h2 a,
.buildmode-sticky h2 a {
  color: #524E41;
}

/* Block build mode */

.buildmode-block .node {
  border-bottom: 1px solid #524E41;
  padding: 10px 0;	
  margin-bottom: 0;
}

.first .buildmode-block .node {
  padding-top: 0;
}

.last .buildmode-block .node {
  border-bottom: 0 none;
  padding-bottom: 0;
}

.buildmode-block h2 {
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 5px;
}

.buildmode-block .field {
	margin-bottom: 0;
}

.buildmode-block,
.buildmode-block a {
	line-height: 15px;
}

.sidebar .block .buildmode-block,
.sidebar .block .buildmode-block a {
	color: #E7E6E0;
}

.panel-pane .buildmode-block a,
.panel-pane .buildmode-block {
  color: #524E41;
}

/* Text list build mode */

.buildmode-text_list .node {  
  padding: 9px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.odd .buildmode-text_list .node { 
  background-color: #CFCEC6
}

/* DS styles */

.highlight-1 {
  background-color: #3E3E3E;
  padding: 7px 13px;  
  color: #E2E4D9; 
  margin-bottom: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.highlight-2 {
  background-color: #AAAAA0;
  padding: 7px 13px;  
  color: #E2E4D9;  
  margin-bottom: 12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.field-inline {
  display: inline;
  margin-right: 5px; 
}

.small {
  font-size: 10px;
}

.field-inline-small {
  display: inline;
  margin-right: 5px; 
  font-size: 10px;
}

.field-inline p,
.field-inline-small p {
  display: inline;
}

.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 3px;
}

.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 3px;
}
 
.image_highlight img {
}

.smallbutton a {
	background-image: none;
	font-weight: normal;
	color: #00AEEF;
	text-transform: none;
	display: inline-block;
  zoom: 1;
	*display: inline;
}

.smallbutton a {
}

.nd-search-highlight {
}

.field-ds-group-buttons {
}


/* =========================================================================
 *   CUSTOM FIELDS   
 * ========================================================================= */

.field-item {
  margin-bottom: 10px;
}

.feed-icon {
  float: left;
  margin-right: 5px;
}

.field-title {
	font-weight: bold;
}
