/* =========================================================================
 *
 *   MENU.CSS
 *   Every menu that is created using the naming convention
 *   will get a class menu-menuname e.g. menu-toolbar.
 *        
 * ========================================================================= */

/* =========================================================================
 *   HORIZONTAL DROPDOWN    
 * ========================================================================= */

/* general */

.menu-horizontal {
}

.menu-horizontal .block {
}

.menu-horizontal .block .content {
}

/* level 1*/

.menu-horizontal ul.menu-level-1 li { 
  float: left;
}

.menu-horizontal ul.menu-level-1 li.last { 
}

.menu-horizontal ul.menu-level-1 li a { 
}

.menu-horizontal ul.menu-level-1 li.active-trail a {
}

.menu-horizontal ul.menu-level-1 li a:hover {
}

.menu-horizontal ul.menu-level-1 li:hover ul,
.menu-horizontal ul.menu-level-1 li.sfHover ul {
  top: 35px; /* match top ul list item height */
}
                           
/* level 2 */

.menu-horizontal ul.menu ul.menu-level-2 {
  width:170px;
}

.menu-horizontal ul.menu-level-2 li {
}

.menu-horizontal ul.menu-level-2 li.first {
}

.menu-horizontal ul.menu ul.menu-level-2 li a { 
}

.menu-horizontal ul.menu ul.menu-level-2 li a:hover {
}

.menu-horizontal ul.menu ul.menu-level-2 li a.active {
}

.menu-horizontal ul.menu-level-2 li:hover ul,
.menu-horizontal ul.menu-level-2 li.sfHover ul {
  top: 35px; /* match top ul list item height */
}

.menu-horizontal ul.menu-level-2 li.last,
.menu-horizontal ul.menu-level-2 ul.menu li.last {
}

/* third level */

.menu-horizontal ul.menu ul.menu-level-2 li:hover ul, 
.menu-horizontal ul.menu ul.menu-level-2 li.sfHover ul {
  left:170px;
}

.menu-horizontal ul.menu-level-3 {
}

.menu-horizontal ul.menu-level-3 li.first {
}


/* =========================================================================
 *   VERTICAL NAVIGATION    
 * ========================================================================= */

/* First level */

.menu-vertical .block .content {
}

.menu-vertical h2.block-title {
}

.menu-vertical ul.menu li a {
}

.menu-vertical ul.menu li.first a {
}
 
.menu-vertical ul.menu li a:hover {
}

.menu-vertical ul.menu li.active-trail a { 
}

/* second level */

.menu-vertical ul.menu-level-2 {
}

.menu-vertical ul.menu-level-2 li {
}

.menu-vertical ul.menu-level-2 li.first {
} 

.menu-vertical ul.menu-level-2 li a,
.menu-vertical ul.menu ul.menu-level-2 li a {
} 

.menu-vertical ul.menu-level-2 li.active-trail a,
.menu-vertical ul.menu-level-2 li a:hover,
.menu-vertical ul.menu ul.menu-level-2 li.active-trail a,
.menu-vertical ul.menu ul.menu-level-2 li a:hover {
}

.menu-vertical ul.menu-level-2 li a.active,
.menu-vertical ul.menu ul.menu-level-2 li a.active {
}

.menu-vertical ul.menu-level-2 li.active-trail a:hover,
.menu-vertical ul.menu ul.menu-level-2 li.active-trail a:hover {
}

.menu-vertical ul.menu-level-2 li.active-trail a {
}

/* third level */

.menu-vertical ul.menu-level-3 {
}


.menu-vertical ul.menu-level-3 li a {
}

.menu-vertical ul.menu-level-3 li.active-trail a,
.menu-vertical ul.menu-level-3 li a:hover {
}


/* =========================================================================
 *   HORIZONTAL - HORIZONTAL NAVIGATION    
 * ========================================================================= */

/* general */

.menu-horizontal-horizontal .block {
  width: auto;
}

.menu-horizontal-horizontal ul.menu li { 
  float: left;
}

/* level 1 */

.menu-horizontal-horizontal ul.menu-level-1 {
}

.menu-horizontal-horizontal ul.menu-level-1 li { 
}

.menu-horizontal-horizontal ul.menu-level-1 li a { 
}

.menu-horizontal-horizontal ul.menu-level-1 li a:hover {
}

.menu-horizontal-horizontal ul.menu-level-1 li.active-trail a  {
}

/* level 2 */

.menu-horizontal-horizontal ul.menu-level-2 {
}

.menu-horizontal-horizontal ul.menu-level-2 li {
}

.menu-horizontal-horizontal ul.menu-level-2 li a {
}

.menu-horizontal-horizontal ul.menu-level-2 li.active-trail a {
}

.menu-horizontal-horizontal ul.menu-level-2 li.active-trail,
.menu-horizontal-horizontal ul.menu-level-2 li:hover {
}


/* =========================================================================
 *   TOOLBAR MENU
 * ========================================================================= */

.menu-toolbar ul.menu li {
}

.menu-toolbar ul.menu li a {
}


/* =========================================================================
 *   FOOTER MENU
 * ========================================================================= */

.menu-footer ul.menu li {
  display: inline;
  float: left;
}

.menu-footer ul.menu li.first {
}