/* $Id: site_map.css,v 1.3.2.3 2009/07/02 07:59:59 frjo Exp $  */

.sitemap-box {
  margin-bottom: 1em;
}

#site-map .description {
  margin-bottom: 0.5em;
}
/*
#site-map ul.menu {
  padding-left: 1.5em;
}

#site-map .tree ul {
  padding-left: 1.5em;
}*/

/* Styles when RSS icons are displayed on the left. */
#site-map .sitemap-rss-left ul {
  padding-left: 0;
}
#site-map .sitemap-rss-left li {
  list-style-type: none;
  list-style-image: none;
  background-image: none;
  margin: 0;
  padding: 0;
}
#site-map .sitemap-rss-left .tree ul li li {
  padding-left: 1.5em;
}
