.panel-row .panel-row-first, .panel-row-two {
	clear: both;
}

.panel-row .panel-col-first, .panel-row .panel-col-middle, .panel-row .panel-col-last  { 
  float: left; 
  width: 33%; 
}
.panel-row .panel-col-middle {
  width: 34%;
}
.panel-row-last .panel-col-first {
	width:67%;
}
.panel-col .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-col .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}