// Main colors

// PURPLE
//$strong_color: #411b80; // Used in menu, buttons, footer, doormat
//$light_color: #9369d9; // Used in background

// BLUE
$menu_hover_color: #55a7fc;
$strong_color: #294c95; // Used in menu, buttons, footer, doormat
$light_color: #b0c5dc; // Used in background

$link_color: #26478c;
$link_hover_color: #ec7d2c;
$link_visited_color: #759fb4;

// Separator line color, used un blocks, views, ...
$separator_color: #e1e5e9;

// Sprites
$x: sprite-map("../img/spr_x/*.png", $repeat: no-repeat);
$spr: sprite-map("../img/spr/*.png", $repeat: no-repeat, $spacing: 50px);
$box: sprite-map("spr_boxes/*.png", $repeat: no-repeat);

$base-font-size: 14px;
$base-line-height: 21px;

@import "compass/utilities";
@import "compass/utilities/sprites/base";
@import "compass/typography";

// Import

@import "partials/layouts";
@import "framework/960";
@import "partials/content";
@import "partials/header";
@import "partials/toolbar";
@import "partials/breadcrumb";
@import "partials/blocks";
@import "partials/panels";
;@import "partials/navigation";
@import "partials/dormat";
@import "partials/footer";
@import "partials/polls";
@import "partials/colors";
@import "partials/views";
