/* =========================================================================
 *
 *   SITE-ELEMENTS.CSS    
 *        
 * ========================================================================= */

/* =========================================================================
 *   TYPOGRAPHY            
 * ========================================================================= */

/* basic */

body, input, textarea {  
  font-size: 12px;
  color: #000;
  font-family: Arial, FreeSans, Helvetica, Sans-Serif;
  line-height: 18px;
}

/* headings */

h1 { 
}

.title { 
}

h2 { 
}

h3 { 
}

h4 {
}

.category-title {
}

p {
  margin: 0 0 12px 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

/* links */

a {  
}

a:hover {
}


/* =========================================================================
 *   LISTS            
 * ========================================================================= */

ul {
}

ul li {
}


/* =========================================================================
 *   BLOCK: GENERAL BLOCK LAYOUT. 
 * ========================================================================= */

.block {
}

.block-title { 
}

#content .block {
}
    
.sidebar .block {
} 

#content .block .content {
}


/* =========================================================================
 *   MESSAGES
 * ========================================================================= */

div.messages,
#help  {
}

div.messages a {
  text-decoration: underline;
}

div.messages ul {
  margin-bottom: 0;
}

div.warning,
div.warning a {
}

div.status,
div.status a {
}

div.error,
div.error a {
}


/* =========================================================================
 *   FORMS
 * ========================================================================= */

/* basic form items */

.form-item {
}

.form-item label {
}

.form-text {
}

textarea {
}

.form-required {
}

.description {
}

/* float labels next to input fields */

#content-middle .form-item .description {
  margin-left: 150px;
  margin-top: 5px;
}

#content-middle .form-item label {
  float:left;
  width:150px;
}

#content-middle .form-item label.option {
  width: auto;
}

#content-middle .form-radios,
#content-middle .form-checkboxes {
  margin-left: 150px;
}

#content-middle input.form-text {
  width: 350px;
}

.sidebar input.form-text {
  width: 200px;
}

#content-middle .resizable-textarea {
  float: left;
  width: 350px;
}

/* inline error-messages */

.messages-inline {
  margin-left: 150px; /* label width */
  width: 350px; /* text-field width */
  padding: 0px; 
  color: red;
  background-color: transparent;
  margin-top: -0.5em;
}

.sidebar .messages-inline {
  margin-left: 0;
  width: 200px;
}

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
  border: 2px solid red;
}

/* buttons */

.button {
}

div.button {
}

input.button {
}

.button a  {
}


/* =========================================================================
 *   PAGER
 * ========================================================================= */

.pager {
  text-align: center;
  display: block;
}

.pager li {
  display: inline;
  list-style-type: none;
}

.pager li:hover a{ 
}

.pager li.pager-current,
.pager li a,
.pager li a:visited { 
}

.pager li.pager-previous a,
.pager li.pager-next a {
}


/* =========================================================================
*   BODY AND NODE: GENERAL LAYOUT
* ========================================================================= */

body {
}

#body-inner {
}

.node { 
}

.node-inner {
}

.item-list ul li .node {
}

.item-list ul li.last .node {
}

/* =========================================================================
 *   TOOLBAR
 * ========================================================================= */

#toolbar .block {
  width: auto;
}

#toolbar .block .content {
}

#toolbar ul li {
  background-image: none;
  list-style-type: none;
  list-style-image: none;
  display: inline;
  float: left;  
  padding: 0; 
}

#toolbar .block-one_i18n .content ul li {
}

#toolbar .block-one_i18n .content ul li {
}

#toolbar .block-one_i18n .content ul li a {
}


/* =========================================================================
 *   HEADER
 * ========================================================================= */

#header {
}

#subheader {
}

#logo { 
}

#logo h1 {
	margin: 0;
	line-height: normal;
}


/* =========================================================================
 *   BREADCRUMB
 * ========================================================================= */

#breadcrumb {
}


/* =========================================================================
 *   CONTENT
 * ========================================================================= */

/* to apply top and bottom padding to whole content area */
#content-middle, #sidebar-a, #sidebar-b {
}

#content {
}




/* =========================================================================
 *   DOORMAT
 * ========================================================================= */

#doormat {
}

#doormat .panel-pane {
}

#doormat .pane-title {
}

#doormat a {
}
 

/* =========================================================================
 *   FOOTER
 * ========================================================================= */

#footer {
}

#footer-inner {
}

#footer a {
}

#footer #footer-message {
}

#footer .block {
  width: auto;
}


/* =========================================================================
 *   TINYMCE STYLES
 * ========================================================================= */

body#tinymce {
}

img.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

img.highlight {
}

p.highlight1,
div.highlight1   {
}

p.highlight2,
div.highlight2 {  
}

p.intro,
div.intro {  
}


/* =========================================================================
 *   DISPLAY SUITE  
 *   For each build mode you need to define:
 *     - the margin under a node in that buildmode
 *     - the margin under a field in that buildmode
 *     - an overwride for the margin on the last field in that buildmode
 * ========================================================================= */

/* Views displays */

.view .field {
}

.vd-region-footer,
.view-footer {
}

/* Full build mode */

.buildmode-full .node {
}

.buildmode-full .field {
}

.buildmode-full .field-group {
}

/* Teaser, sticky teaser and search (buildmode-3) */

.buildmode-3 .node,
.buildmode-teaser .node,
.buildmode-sticky .node {
}

.buildmode-3 .field,
.buildmode-teaser .field,
.buildmode-sticky .field {
}

.buildmode-3 h2,
.buildmode-teaser h2,
.buildmode-sticky h2 {
}

.last .buildmode-3 .node,
.last .buildmode-teaser .node,
.last .buildmode-sticky .node,
.field .buildmode-teaser .nd-region-left .field:last-child,
.field .buildmode-teaser .nd-region-middle .field:last-child,
.field .buildmode-teaser .nd-region-right .field:last-child  {
  margin-bottom: 0;
}

.buildmode-sticky .node  {
}

/* Block build mode */

.buildmode-block .node {
}

.buildmode-block .field {
  margin-bottom: 0;
}

/* Text list build mode */

.buildmode-text_list .node { 
}

.buildmode-text_list .field { 
}

/* DS styles */

.highlight-1 {
}

.highlight-2 {
}

.field-inline {
  display: inline;
  margin-right: 5px; 
}

.small {
  font-size: 0.9em;
}

.field-inline-small {
  display: inline;
  margin-right:5px; 
  font-size: 0.9em;
}

.field-inline p,
.field-inline-small p {
  display: inline;
}

.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 3px;
}

.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 3px;
}
 
.image_highlight img {
}

.smallbutton {
}

.smallbutton a {
}

.nd-search-highlight {
}


/* =========================================================================
 *   CUSTOM FIELDS   
 * ========================================================================= */

.field-item {
  margin-bottom: 10px;
}

.feed-icon {
  float: left;
  margin-right: 5px;
}