@import "base";

.date-display-single {
   color: #939191; 
}

div.button {
	display: inline-block;
	a {
		color: #fff;
		text-decoration: underline!important;
	}
}

.addthis_toolbox {
   width: 100%;
}

.view-Polls {
  .node {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E1E5E9;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

table.views-table {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #E1E5E9;
  border-collapse: collapse;
  th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    background-color: #F2F2F2;
    border-color: #E1E5E9;
    background-color: #dedede;
  }
  td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #E1E5E9;
    background-color: #ffffff;
  }
}

/**
 *   Drupal messages
 */
fieldset.search-advanced {
  clear: left;
}

#messages {
  margin:5px; 
}
#messages div.messages {
  padding:7px;  
}
#messages div.status {
  color: #005A04;
  border:1px solid #005A04;
  background-color: #CCFFBB;  
}
#messages div.error {
  color: #363636;
    border: 1px solid #c52020;
  background-color: #FFCCCC;
}

/*
 * SEARCH
 */ 

.buildmode-3 {
  .node-type-files {
    margin-left: 65px;
  } 
}
