@CHARSET "ISO-8859-1";

/* =========================================================================
 *
 *   FEATURES.CSS    
 *        
 * ========================================================================= */


/* =========================================================================
 *   NEWS
 * ========================================================================= */

.field-news-source {
  font-style: italic;
}


/* =========================================================================
 *   FEEDS
 * ========================================================================= */

#toolbar .feed-icon {
  float: left;
  margin-right: 3px;
}


/* =========================================================================
 *   SPLASH
 * ========================================================================= */

body.page-splash {
  background-color: #fff;
}

#splash {
  border: 1px dotted #DBDBDB;
  padding: 50px;
  width: 640px;
  margin: 100px 0;  
}

#splash .language-selector-language {
  margin-top: 15px;
}


/* =========================================================================
 *   COMMENTS
 * ========================================================================= */

.cd-region-left {
  width: 135px;
}

.cd-sidebar-left .cd-region-middle {
  margin-left: 160px;
}

.cd-region-left .field {
  border-bottom: 1px solid #DBDBDB;
  line-height: 20px;
}

#comments h2 {
  border-bottom: 1px dotted #DBDBDB;
  font-size: 20px;
  margin: 0;
  padding-bottom: 4px;
}

#comments .comment {
  padding: 16px 5px;
}

#comments .field-name-linked,
#comments .field-name {
  font-size: 14px;
  font-weight: bold;
} 

#comments .field-subject {
  font-weight: bold;
  line-height: 20px;  
}

#comments .box {
  padding-top: 24px;
  border-top: 1px dotted #DBDBDB;
}

#comments .even {
  background-color: #f8f8f8;
} 

/* comment form */

#content-middle #comment-form {
  margin-top: 15px;
}

#content-middle #comment-form .form-item {
  margin: 0 0 1em 0;
  overflow: hidden;
}

#content-middle #comment-form textarea {
  width: 98%;
  background-color: #f8f8f8;
}

#content-middle #comment-form input.form-text {
  background-color: #f8f8f8;  
}

#content-middle #comment-controls .form-item {
  display: block;
}


/* =========================================================================
 *   GALLERY
 * ========================================================================= */

/* thumbnails view */

/* slideshow */

.field-gallery-slideshow {
  background:none repeat scroll 0 0 #000000;
  color: #fff;
  padding:10px;
}

.field-gallery-slideshow a {
  color: #fff;
}

#content .field-gallery-slideshow .block {
  margin: 0;
}

#content .field-gallery-slideshow .block .content {
  padding: 0;
}


/* =========================================================================
 *   TWITTER
 * ========================================================================= */
 
.view-twitter {
  background: transparent url(../images/icons/twitter.png) no-repeat bottom right;
  margin-bottom:-18px;
  padding-bottom:23px;
  min-height: 19px;	
}

.view-twitter .item-list li {
  padding-bottom: 6px;
}

.view-twitter .field {
  margin-bottom: 0;
}
	

/* =========================================================================
 *   PANELS
 * ========================================================================= */
 
/* one pane */

.panel-pane {
	margin-bottom: 10px;
}

.pane-title {
	font-family:'LeagueGothicRegular';
	font-size:24px;
	font-weight:normal;
	line-height:32px;
	margin-top:0;
	margin-bottom: 5px;
}

.pane-content {
}

/* division between panes */

.panel-region-separator {
}
 
/* general panels theming */

#content-middle .panel-panel {
  padding: 0;
  margin: 0;
  border: 0 none;
  background-color: transparent;
}

#content-middle .panel-row {
  border-bottom: 1px dotted #DBDBDB;
  padding-bottom: 15px;
  margin-bottom: 15px;
  clear: both;
}

#content-middle .panel-row-first {
}

#content-middle .panel-row-last {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

#content-middle .panel-col .panel-panel {
  margin: 0;
  border: 0 none;
  border-right: 1px dotted #DBDBDB;
  background-color: transparent;
  padding: 0 15px;
}

#content-middle .panel-col-first .panel-panel {
  padding: 0 15px 0 0;
}

#content-middle .panel-col-last .panel-panel {
  border-right: 0 none;
  padding: 0 0 0 15px;
}

.node-type-panel {
  margin-bottom: 0;
}

/* overwrite highlighting */

.node-type-panel .highlight-1,
.node-type-panel .highlight-2 {
  margin-bottom: 0;
}

/* overwrite block margin and padding */

#content-middle .node-type-panel .block {
  border: 0 none;
  margin: 0 0 1em 0;
}

#content .panel-panel .block {
  border: 0 none;
  width: auto;
}

#content .panel-panel .block .content {
  padding: 0;
}


/* =========================================================================
*   DOCUMENTS
* ========================================================================= */

/* preview icon */

.field-document-file-preview a {
  background: transparent url(../images/icons/preview.png) no-repeat left 2px;
  padding-left: 18px;
}

/* apache solr blocks */

.apachesolr-mlt-admin-link {
  display: none;
}

a.apachesolr-facet {
  background: transparent url(../images/icons/add_facet.gif) no-repeat left 3px;
  padding-left: 17px;
  min-height: 18px;
  display: block;
  float: left;
  clear: left;
  margin-bottom: 0.5em;
  margin-left: 10px;
}  

a.apachesolr-unclick {
  padding-left: 17px;
  min-height: 18px;
  display: block;
  float: left;
  clear: left;
  margin-bottom: 0.5em;
  margin-left: 10px;
  background: transparent url(../images/icons/remove_facet.gif) no-repeat left 3px;

}

#content .sidebar .block-apachesolr_search,
#content .sidebar .block-apachesolr {
   border: 0 none;
   margin: 0;
}

/* =========================================================================
*   SEARCH (also used in documents and events)
* ========================================================================= */

/* search form in the toolbar */

#search-theme-form {
  float: right;
}

#search-theme-form .form-submit {
  float:right;
  margin-left:10px;
  margin-top: 2px;  
}

#search-theme-form .form-text {
  width:167px;
  padding: 2px;
  float: left;
  margin-top: 2px;
  line-height: 13px;
}

/* search form in content area */

.search-wrapper {
  margin-bottom:15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #DBDBDB; 
}

.search-sort {
  margin-bottom: 10px;
}

.search-current label, 
.search-sort label {
  float: left;
  width: 150px; /* same as on search form */
}

.search-sort a.active {
  font-weight: bold;
  padding-left: 3px;
}

.search-sort ul li {
  float: left;
  margin: 0 0 0 6px;
  font-weight: bold;
}


/* =========================================================================
*   PRODUCTS
* ========================================================================= */

.buildmode-teaser .node-type-product_category .nd-two-sidebars .nd-region-middle,
.buildmode-teaser .node-type-product_category .nd-sidebar-right .nd-region-middle {
  border-right: 1px dotted #DBDBDB;
}

.buildmode-teaser .node-type-product_category .nd-region-right,
.buildmode-teaser .node-type-product_category .nd-region-middle,
.buildmode-teaser .node-type-product_category .nd-region-left {
  height: 150px; /* for the border on the right */
  overflow: hidden;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul {
  padding:5px;
  background-color: #EEEEEE;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul li a.viewsdisplaytabs-active {
  background-color: #fff; /* set selected tab background color as desired */
}

.buildmode-full .node-type-product .field-product-image-extra {
  padding: 15px 0;
  margin: 0;
  border-top: 1px dotted #DBDBDB;
}

.buildmode-full .node-type-product .nd-region-footer .field-related-products {
  padding-top: 5px;
  border-top: 1px dotted #DBDBDB;
}


/* =========================================================================
*   Memory list
* ========================================================================= */

/* Memory list view */

.view-memory-list .vd-region-header,
.view-memory-list .vd-region-footer  {
  background-color:#E5E5E5;
  margin:0;
  padding:10px;
  width:auto;
}

.buildmode-flag_list .node {
  padding: 10px;
  margin: 0;
  border-bottom: 1px dotted #DBDBDB; 
}

/* flag message and button */

.field-flag-button-memory-list a {
  border: 1px solid #bfbfbf;
  display: inline-block;
  zoom: 1;
  padding: 0px 24px 0px 5px;
  background: transparent url(../images/icons/flag.gif) no-repeat top right;
  font-size: 0.9em;
  line-height: 18px;
  text-decoration: none;
  color: #363638; 
}

.field-flag-button-memory-list a.unflag-action {
}

.flag-message { /* the message that appears after clicking on flag/unflag */
  background: #99FFCC;
  font-size:0.8em;
  line-height:normal;
  padding:5px;
  width:300px;
}

.disabled .field-flag-button-memory-list a.flag-action { /* the link to undo removal in the wishlist */
  background: 0 none;
  padding: 0;
  border: 0;
  font-size: 12px;
}


/* =========================================================================
*   EVENTS
* ========================================================================= */

.events #ongoing-events-footer a {
  text-align: right;
  margin-right: 10px;
}

/* detail page */

.buildmode-full .node-type-event .field-ds-group-address {
  margin-bottom: 15px;
  padding-bottom: 0;
}