@CHARSET "ISO-8859-1";

/* =========================================================================
 *
 *   MENU.CSS    
 *        
 * ========================================================================= */

/* =========================================================================
 *   GENERAL
 * ========================================================================= */

.navigation ul.menu-level-1 li a {
  font-family: 'LeagueGothicRegular';
}

.navigation a:hover {
  text-decoration: none;
}

.navigation ul.menu ul.menu-level-2 li a {
  font-family: Arial, FreeSans, Helvetica, Sans-Serif;
}

/* =========================================================================
 *   HORIZONTAL DROPDOWN
 * ========================================================================= */

/* general */

.menu-horizontal {
  margin: 0px;
}

.menu-horizontal .block {
  padding: 0; 
  margin: 0;
}

.menu-horizontal .block .content {
  padding: 0;
}

/* level 1*/

.menu-horizontal ul.menu-level-1 li {
  float: left;
  margin-right: 23px;
}

.menu-horizontal ul.menu-level-1 li.last {
  margin-right: 0;
}

.menu-horizontal ul.menu-level-1 li a {
  color: #4A4A4B;
  font-size: 32px; 
  line-height: 32px;  
  padding: 2px 10px 2px 0px; 
  font-weight: normal; 
}

.menu-horizontal ul.menu-level-1 li.active-trail a {
  color: #2B80B7;
}

.menu-horizontal ul.menu-level-1 li a:hover {
  color: #2B80B7;
}

.menu-horizontal ul.menu-level-1 li:hover ul,
.menu-horizontal ul.menu-level-1 li.sfHover ul {
  top: 35px; /* match top ul list item height */
}
                           
/* level 2 */

.menu-horizontal ul.menu ul.menu-level-2 {
  padding: 0px 8px 9px 0;
  margin-top: 8px;
  width:170px;
}

.menu-horizontal ul.menu-level-2 li {
  background: #ffffff none;
}

.menu-horizontal ul.menu-level-2 li.first {
  padding-top: 8px;
  margin-top: -8px;
  background: transparent url(../images/navigation/dropdown-arrow.png) no-repeat top center;
}

.menu-horizontal ul.menu ul.menu-level-2 li a { 
  background-image: none;
  font-size: 12px;
  color: #363638;
  line-height: 16px;
  padding: 8px 10px;  
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb; 
  background-color: #ffffff;
}

.menu-horizontal ul.menu ul.menu-level-2 li a:hover {
  background-color: #f8f8f8;
  color: #2b80b7;
}

.menu-horizontal ul.menu ul.menu-level-2 li a.active {
  background-color: #f8f8f8;
  color: #2b80b7;
}

.menu-horizontal ul.menu-level-2 li:hover ul,
.menu-horizontal ul.menu-level-2 li.sfHover ul {
  top: 35px; /* match top ul list item height */
}

.menu-horizontal ul.menu-level-2 li.last,
.menu-horizontal ul.menu-level-2 ul.menu li.last {
  border-bottom: 1px solid #dbdbdb;
}

/* third level */

.menu-horizontal ul.menu ul.menu-level-2 li:hover ul, 
.menu-horizontal ul.menu ul.menu-level-2 li.sfHover ul {
  left:170px;
  top: 7px;
}

.menu-horizontal ul.menu-level-3 {
  margin-left: -1px;
}

.menu-horizontal ul.menu-level-3 li.first {
  border-top: 1px solid #dbdbdb;
  background-image: none;
  margin-top: 0;
  padding-top: 0;
}


/* =========================================================================
 *   VERTICAL NAVIGATION    
 * ========================================================================= */

/* First level */

.menu-vertical .block .content {
  padding-top: 0;
}

.menu-vertical h2.block-title {
  color: #4A4A4B;
}

.menu-vertical ul.menu li a {
  font-size: 24px;
  line-height: 24px;
  color: #4A4A4B;
  margin: 9px 0;
  padding: 5px 0px 2px 0px;   
}

.menu-vertical ul.menu li.first a {
  margin-top: 0;
}
 
.menu-vertical ul.menu li a:hover {
  color: #2B80B7;
}

.menu-vertical ul.menu li.active-trail a { 
  color: #2B80B7;
}

/* second level */

.menu-vertical ul.menu-level-2 {
  border-left: 1px solid #DBDBDB;
  margin-left: 5px;
  padding: 2px 0;
  margin-top: 13px;
  margin-bottom: 13px;  
}

.menu-vertical ul.menu-level-2 li {
  padding: 0;
  margin: 5px 0;
  border: 0 none;
}

.menu-vertical ul.menu-level-2 li.first {
  margin: 0;
} 

.menu-vertical ul.menu-level-2 li a {
  font-size: 12px;
  font-weight: normal;
  color: #888888;
  text-transform: none;
  padding: 2px 0 2px 10px;
  margin: 0;  
  line-height: 1.5em;
}

.menu-vertical ul.menu ul.menu-level-2 li a {
  color: #888888;
}

.menu-vertical ul.menu-level-2 li.active-trail a,
.menu-vertical ul.menu-level-2 li a:hover,
.menu-vertical ul.menu ul.menu-level-2 li.active-trail a,
.menu-vertical ul.menu ul.menu-level-2 li a:hover {
  border-left: 3px solid #DBDBDB;
  margin-left: -2px;
  padding-left: 9px;
  color: #2B80B7;
}

.menu-vertical ul.menu-level-2 li a.active,
.menu-vertical ul.menu ul.menu-level-2 li a.active {
  color: #2B80B7;
}

.menu-vertical ul.menu-level-2 li a:hover,
.menu-vertical ul.menu ul.menu-level-2 li a:hover {
  color: #2B80B7;
}

.menu-vertical ul.menu-level-2 li.active-trail a,
.menu-vertical ul.menu ul.menu-level-2 li.active-trail a {
  font-weight: bold;
}

/* third level */

.menu-vertical ul.menu-level-3 {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 20px;
  border-left: 1px solid #DBDBDB;
  padding: 2px 0;
}

.menu-vertical ul.menu-level-2 li.active-trail ul.menu-level-3 a,
.menu-vertical ul.menu ul.menu-level-2 li.active-trail ul.menu-level-3 a {
  color: #888888;
  font-weight: normal;
}

.menu-vertical ul.menu-level-2 li.active-trail ul.menu-level-3 a,
.menu-vertical ul.menu ul.menu-level-2 li.active-trail ul.menu-level-3 a {
  border-left: 0;
  margin-left: 1px;
}


.menu-vertical ul.menu-level-2 ul.menu-level-3 li.active-trail a,
.menu-vertical ul.menu-level-2 ul.menu-level-3 li a:hover,
.menu-vertical ul.menu ul.menu-level-2 ul.menu-level-3 li.active-trail a,
.menu-vertical ul.menu ul.menu-level-2 ul.menu-level-3 li a:hover {
  border-left: 3px solid #DBDBDB;
  margin-left: -2px;
  color: #2B80B7;
}

.menu-vertical ul.menu-level-2 li.active-trail ul.menu-level-3 li.active-trail a,
.menu-vertical ul.menu ul.menu-level-2 li.active-trail ul.menu-level-3 li.active-trail a {
  font-weight: bold;
  color: #2B80B7;
}


/* =========================================================================
 *   HORIZONTAL - HORIZONTAL NAVIGATION    
 * ========================================================================= */

/* general */

.menu-horizontal-horizontal .block {
  padding: 6px 0 0 0;
  background: transparent none;
  margin: 0;
  width: auto;
  border: 0 none;
}

.menu-horizontal-horizontal ul.menu li { 
  float: left;
}

/* level 1 */

.menu-horizontal-horizontal ul.menu-level-1 {
  padding: 0 0 0px 13px;
}

.menu-horizontal-horizontal ul.menu-level-1 li { 
  margin-right: 23px;
}

.menu-horizontal-horizontal ul.menu-level-1 li a { 
  color: #4A4A4B;
  font-size: 29px;
  padding: 5px 10px 2px 0px;
  line-height: 29px;
}

.menu-horizontal-horizontal ul.menu-level-1 li a:hover {
  color: #2B80B7;
}

.menu-horizontal-horizontal ul.menu-level-1 li.active-trail a  {
  color: #2B80B7;
}

/* level 2 */

.menu-horizontal-horizontal ul.menu-level-2,
.menu-horizontal-horizontal ul.menu-level-3 {
  padding-top: 9px;
  border-bottom: 1px solid #DBDBDB;
}

.menu-horizontal-horizontal ul.menu-level-2 li,
.menu-horizontal-horizontal ul.menu-level-3 li {
  color: #999999;
  margin: 0 3px;
  margin-bottom: -2px;
  padding-bottom: 3px;
}

.menu-horizontal-horizontal ul.menu-level-2 li a,
.menu-horizontal-horizontal ul.menu-level-3 li a {
  padding: 0 11px 6px;
  font-size: 12px;
  color: #888888;
}

.menu-horizontal-horizontal ul.menu-level-2 li.active-trail a,
.menu-horizontal-horizontal ul.menu-level-3 li.active-trail a {
  color: #2B80B7;
  font-weight: bold;  
}

.menu-horizontal-horizontal ul.menu-level-2 li.active-trail,
.menu-horizontal-horizontal ul.menu-level-2 li:hover,
.menu-horizontal-horizontal ul.menu-level-3 li.active-trail,
.menu-horizontal-horizontal ul.menu-level-3 li:hover {
  border-bottom : solid 3px #DBDBDB;
  padding-bottom: 0;
}

/* level 3 */

.menu-horizontal-horizontal ul.menu-level-3 {
  margin-left: 10px;
  border-left: 1px solid #DBDBDB;
}

.menu-horizontal-horizontal ul.menu-level-3 li a {
  padding: 0 11px 3px;
  font-size: 10px;
}


/* =========================================================================
 *   TOOLBAR MENU
 * ========================================================================= */

.menu-toolbar .menu li {
  background:none;
  font-weight: bold;
}

.menu-toolbar .menu li a {
  font-weight: normal;
}


/* =========================================================================
 *   FOOTER MENU
 * ========================================================================= */

.menu-footer .menu li {
  display: inline;
  margin-left: 10px;
  float: left;
  font-size:11px;  
}

.menu-footer .menu li.first {
  margin-left: 0;
}