@CHARSET "ISO-8859-1";

/* =========================================================================
 *
 *   STYLE.CSS    
 *        
 * ========================================================================= */

/* =========================================================================
 *   TYPOGRAPHY            
 * ========================================================================= */

/* basic */

body, input, textarea {  
  font-size: 12px;
  color: #363638;
  font-family: Arial, FreeSans, Helvetica, Sans-Serif;
  line-height: 18px;
}

input, textarea {
  color: #363638;
}

/* headings */

h1 { 
  color: #4A4A4B; 
  font-family: 'LeagueGothicRegular';  
  font-size: 26px; 
  line-height:32px;   
  font-weight: normal;
  margin-bottom: 12px;
}

.title { 
  font-size: 30px;
  line-height:32px;    
}

h2 { 
  font-size:22px; 
  line-height:22px;   
  font-family: 'LeagueGothicRegular';   
  color: #4A4A4B; 
  font-weight: normal; 
  margin-bottom: 12px;
}

h3 { 
  color: #4A4A4B;
  font-family: 'LeagueGothicRegular';   
  font-size: 18px; 
  line-height: 18px;  
  font-weight: normal;
  margin-bottom: 12px;
}

h4 {
  color: #4A4A4B; 
  font-size: 12px; 
  font-size: 12px;   
  font-weight: bold;
  margin-bottom: 12px;
}

.category-title {
  border-bottom:1px dotted #DBDBDB;
  font-size:20px;
  font-weight:normal;
  margin:0 0 10px;
  padding:5px 0;
}

p {
  margin-bottom: 12px;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

/* links */

a {  
  color: #2B80B7;
  text-decoration: none;
}

a:hover {
  color: #2B80B7;
  text-decoration: underline;   
}


/* =========================================================================
 *   LISTS            
 * ========================================================================= */

ul {
  padding:0 0 1em 0;
}

ul li {
  list-style-image: none;
  list-style-type: none;
  background: transparent url(../images/icons/list-item.gif) no-repeat 3px 7px;
  padding-left: 15px;
}


/* =========================================================================
 *   BLOCK: GENERAL BLOCK LAYOUT. 
 * ========================================================================= */

.block {
  width: 100%;
}

.block .content {
  padding: 0px 0px 18px;
}

.block-title { 
  font-family: 'LeagueGothicRegular'; 
  font-size:24px; 
  line-height:32px;    
  padding-top: 4px; 
  font-weight:normal;
  margin-top: 0;
}

.sidebar .block {
  border-bottom: 1px dotted #DBDBDB;
  margin-bottom: 10px;
}

.sidebar .content {
  padding: 0px 0px 10px;
} 


/* =========================================================================
 *   MESSAGES
 * ========================================================================= */

div.messages,
#help  {
  border: 0 none;
  padding: 10px;
  background-color: #99ffcc;
  color: #363638;
  margin: 0 0 12px;
}

div.messages a {
  text-decoration: underline;
}

div.messages ul {
  margin-bottom: 0;
}

div.warning,
div.warning a {
  background-color: #ffffcd;
  color: #363638;
}

div.status,
div.status a {
  background-color: #99FFCC;
  color: #363638; 
}

div.error,
div.error a {
  background-color: #e94838;
  color: #363638; 
}


/* =========================================================================
 *   FORMS
 * ========================================================================= */

/* basic form items */

.form-item {
  margin: 1em 0;
}

label {
  font-weight: bold;
}

.form-text {
  border: 1px solid #ccc;
  padding: 3px;
}

textarea {
  border:1px solid #ccc; 
  padding: 3px; 
}

/* float labels next to input fields */

#content-middle .form-item .description {
  margin-left: 150px;
  margin-top: 5px;
}

#content-middle .form-item label {
  float:left;
  width:150px;
}

#content-middle .form-item label.option {
  width: auto;
}

#content-middle .form-radios,
#content-middle .form-checkboxes {
  margin-left: 150px;
}

#content-middle input.form-text {
  width: 350px;
}

.sidebar input.form-text {
  width: 200px;
}

#content-middle .resizable-textarea {
  float: left;
  width: 350px;
}

/* inline error-messages */

.messages-inline {
  margin-left: 150px; /* label width */
  width: 350px; /* text-field width */
  padding: 0px; 
  color:  #e94838;
  background-color: transparent;
  margin-top: -0.5em;
}

.sidebar .messages-inline {
  margin-left: 0;
  width: 200px;
}

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
  border:2px solid #e94838;
}

/* buttons */

.button {
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  border: 0 none;
  padding: 2px 3px 2px 13px;
  text-transform: uppercase;
  cursor: pointer;  
  background: #2b80b7 url(../images/icons/button.png) no-repeat 2px 3px;
  line-height: 15px;
  height: 15px;
  zoom: 1;
  font-size: 12px;
}

div.button {
  display: inline-block;
  zoom: 1;
  *display:inline;
}

input.button {
  background-position: 2px 3px;
  height: 19px; /* input height = normal height + padding */
}

.button a  {
  padding: 0 2px; 
  font-weight:bold;
  color: #fff;  
}


/* =========================================================================
 *   PAGER
 * ========================================================================= */

.pager {
  text-align: center;
  padding: 1em 0 1px 0;
  margin: 0;
  display: block;
}

.pager li {
  padding: 0;
  margin-right: 5px;
  display: inline;
  list-style-type: none;
}

.pager li:hover a{ 
  background: #f0ece3; 
  border: 1px solid #cbc9b8;
}

.pager li.pager-current,
.pager li a,
.pager li a:visited { 
  background-color: #e5e5e5;
  margin-bottom: 15px;
  padding: 1px 5px;
  border: 1px solid #DBDBDB;
}

.pager li.pager-previous a,
.pager li.pager-next a {
  border: 0 none;
  background-color: transparent;
}


/* =========================================================================
*   BODY AND NODE: GENERAL LAYOUT
* ========================================================================= */

body {
  background-color: #F5F5F5;
}

#body-inner {
  background: #fff;
  border-top: 5px solid #DBDBDB;
}

.node { 
}

.node-inner {
}


/* =========================================================================
 *   TOOLBAR
 * ========================================================================= */

#toolbar {
  padding-top: 10px;
}

#toolbar ul li {
  background-image: none;
  list-style-type: none;
  list-style-image: none;
  font-size: 0.9em;  
  display: inline;
  float: left;  
  line-height: 18px;
  padding: 0; 
  margin-left: 10px;
}

#toolbar .block {
  float: right;
  width: auto;
  margin-right: 30px;
}

#toolbar .block .content {
  padding: 3px 0;
}

#toolbar .block-one_i18n .content ul li {
  text-transform: uppercase;
}

#toolbar .block-one_i18n .content ul li {
  background:none;
  font-weight: bold;
}

#toolbar .block-one_i18n .content ul li a {
  font-weight: normal;
}


/* =========================================================================
 *   HEADER
 * ========================================================================= */

#header {
}

#subheader-grid { /* 960 override */
  margin: 0;
  width: 960px;
}

#subheader {
  overflow: hidden;
  padding-top: 15px;
}

#logo { 
  margin: 5px 0 15px 0px;
  overflow: hidden;
  padding: 5px 0 10px;
  border-bottom: 1px dotted #DBDBDB;
}

#logo h1 {
  margin: 0;
  line-height: normal;
} 


/* =========================================================================
 *   BREADCRUMBS
 * ========================================================================= */

#breadcrumb {
  border-bottom: 1px dotted #DBDBDB;
  font-size: 11px;
  margin-bottom:15px;
  padding-bottom:10px;  
}


/* =========================================================================
 *   CONTENT
 * ========================================================================= */

#content-middle, #sidebar-a, #sidebar-b { 
  padding: 10px 0 20px;
}


/* =========================================================================
 *   DOORMAT
 * ========================================================================= */

#doormat-outer {
  background: #F5F5F5 url(../images/doormat-bg.png) repeat-x scroll center top;
  border-top: 5px solid #DBDBDB;
}

#doormat {
  padding-top: 19px;
}

#doormat .block {
  padding: 0 0 1em 0;
  margin: 0;
}

#doormat .block-title {
  font-size: 16px;
  margin-bottom: 4px;
}

#doormat a {
  color: #363638;
}

#doormat ul.menu ul.menu {
  margin:0 0 0 15px;
}
 

/* =========================================================================
 *   FOOTER
 * ========================================================================= */

#footer-outer {
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
  color: #363638;
  background: #F5F5F5;
  border-top: 1px solid #DBDBDB;
}

#footer {
  text-align: right;
  padding: 20px 0px;
  line-height: 20px;
}

#footer a {
  color: #363638;
}

#footer #footer-message {
  float: right;
}

#footer .block {
  float: right;
  width: auto;
}

#footer ul li {
  padding-right: 0.75em;
}
#footer ul li.last {
  padding-right: 0;
}


/* =========================================================================
 *   MAINTENANCE PAGE
 * ========================================================================= */

.in-maintenance #header {
   border-bottom: 1px dotted #DBDBDB;
}

.in-maintenance h1 {
  margin-bottom: 15px;
}

.node-type-error #content,
.page-content-page-not-found #content,
.in-maintenance #content {
  min-height: 300px;
}


/* =========================================================================
 *   TINYMCE STYLES
 * ========================================================================= */

body#tinymce {
  background-color: #fff;
}

img.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

img.highlight {
  border: 1px solid #DBDBDB;
  padding: 2px;
}

p.highlight1,
div.highlight1   {
  background-color: #2B80B7; 
  border: 1px solid #706d6d;
  padding: 10px;  
  color: #fff;
  margin-bottom: 15px;  
  width: auto;  
}

p.highlight2,
div.highlight2 {  
  background-color: #e5e5e5;
  padding: 10px;
  margin-bottom: 15px;
  width: auto;   
}

p.intro,
div.intro {  
  font-weight: bold; 
}


/* =========================================================================
 *   DISPLAY SUITE  
 *   For each build mode you need to define:
 *     - the margin under a node in that buildmode
 *     - the margin under a field in that buildmode
 *     - an overwride for the margin on the last field in that buildmode
 * ========================================================================= */

/* Views displays */

.view .field {
  margin-bottom: 15px;
}

/* Full build mode */

.buildmode-full .node {
  margin-bottom: 0px;
}

.buildmode-full .field {
  margin-bottom: 15px;
}

.buildmode-full .field-group {
  margin-bottom: 0;
}

/* Teaser, sticky teaser and search (buildmode-3) */

.buildmode-3 .node,
.buildmode-teaser .node,
.buildmode-sticky .node {
  margin-bottom: 15px;
}

.buildmode-3 .field,
.buildmode-teaser .field,
.buildmode-sticky .field {
  margin-bottom: 0px;
}

.last .buildmode-3 .node,
.last .buildmode-teaser .node,
.last .buildmode-sticky .node,
.field .buildmode-teaser .nd-region-left .field:last-child,
.field .buildmode-teaser .nd-region-middle .field:last-child,
.field .buildmode-teaser .nd-region-right .field:last-child  {
  margin-bottom: 0;
}

.buildmode-sticky .node  {
  background-color: #e5e5e5;
  padding: 10px;
  width: auto;
}

.buildmode-3 h2,
.buildmode-teaser h2,
.buildmode-sticky h2 {
  margin: 0;
}

/* Block build mode */

.buildmode-block .node {
  margin-bottom: 15px;
}

.buildmode-block .field {
  margin-bottom: 0;
}

/* Text list build mode */

.buildmode-text_list .node { 
  width: auto;
  padding: 4px 0 10px 12px;
  margin-bottom: 0;
  background: transparent url(../images/icons/list-item.gif) no-repeat 3px 7px;
  padding-left: 15px;
}

.buildmode-text_list .field {
  margin-bottom: 0;
}

/* DS styles */

.highlight-1 {
  background-color: #2B80B7;
  padding: 10px;
  color: #fff;
  margin-bottom: 15px;
  width: auto;
}

.highlight-1 *,
.highlight-1 a:visited,
.highlight-1 a:hover {
  color: #fff;
}

.highlight-2 {
  background-color: #e5e5e5;
  padding: 10px;
  margin-bottom: 15px;
  width: auto;
}

.field-inline {
  display: inline;
  margin-right: 5px; 
}

.small {
  font-size: 0.9em;
  color: #888888; 
}

.field-inline-small {
  display: inline;
  margin-right:5px; 
  font-size: 0.9em;
  color: #888888;  
}

.field-inline p,
.field-inline-small p {
  display: inline;
}

.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 3px;
}

.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 3px;
}
 
.image_highlight img {
  padding: 2px;
  border: 1px solid #DBDBDB;
}

.smallbutton {
  height: 19px;
  float: left;
  clear: left;
  margin-right: 5px;
}

.smallbutton a {
  background: transparent url(../images/icons/smallbutton.png) no-repeat left 4px;
  padding-left: 10px;
  text-transform: lowercase;
  display: block;
  font-size: 11px;
  line-height: 18px;
  font-weight: bold;
}

.nd-search-highlight {
  font-weight:bold;
  background-color: transparent;
}


/* =========================================================================
 *   CUSTOM FIELDS   
 * ========================================================================= */

.field-item {
  margin-bottom: 10px;
}

.feed-icon {
  float: left;
  margin-right: 5px;
}

blockquote {
  background-color: #e5e5e5;
  padding: 10px;
  margin-bottom: 15px;
  font-style: italic;
}
