/* nodeformcols fix */

.node-form-has-region-right div.form-region-main {
	float:left;
	width:67%;
}

.node-form-has-region-right div.form-region-right {
	float:right;
	width:30.99%;
}


.node-form .text {
	width: 100%;
}

/* Content editing */

.content-add-more {
	margin-bottom: 10px;
}

input[disabled] {
  background-color: #efefef;
}

form input#edit-delete {
	color: #333;
}

.admin-content ul.links {
  position: relative;
  right: 0;
}

.view-id-conimbo_content tr.odd:hover {
  background-color: #eee;
}

.view-id-conimbo_content tr.even:hover {
  background-color: #eee;
}

.view-id-conimbo_content div.form-item:hover,
.view-id-conimbo_content .fieldset div.form-item:hover { background-color:#eee; }

.view-id-conimbo_content #edit-status-wrapper {
  margin-right: 100px;
}

form div.buttons {
	margin-bottom: 10px;
}

/* fix with ckeditor */

#cke_edit-body {
  padding: 0;
}

/* attachments */
#field-page-attachments-items {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	-moz-box-shadow:0 1px 0 #FFFFFF;
	background:#FCFCFC none repeat scroll 0 0;
	border-color:#DDDDDD #E8E8E8 #EEEEEE;
	border-style:solid;
	border-width:1px;
	margin:0 0 10px;
	position:relative;
	padding: 9px;
}

/* conimbo layouts in theme config */

div.conimbo-layouts div.form-item {
	display:block;
	float:left;
	height:180px;
	width:130px;
	margin: 15px 0;
	padding: 3px;
}

div.conimbo-layouts div.form-item label {
	display: block;
	position: relative;
  height:180px;
  text-align:center;
  width:130px;
}

div.conimbo-layouts div.form-item img {
  height: 111px;
  width: 100px;
  margin: 10px auto;
}

.conimbo-layouts label input {
  bottom:0;
  left:55px;
  position:absolute;
}

.conimbo-layouts .form-item-labeled {
  clear: both;
}

/* multilingual create content */

ul.admin-list li span.icon {
	left:10px;
	position:absolute;
	top:10px;
}

/* hidemebaby */
.hidemebaby {
  display: none;
}

/* panels fix */

.option-text-aligner .form-item {
	padding:9px;
}

#override-title-textfield-wrapper {
  padding: 6px 9px;
}

#ctools-custom-content-type-edit-form #edit-return {
  margin-top: 10px;
}

.ctools-dropdown-container ul.links li,
.ctools-dropdown-container ul.links li a {
  float:none;
}

/* fix for textarea, overwrite of system.css */

.form-region-main .location .resizable-textarea {
	clear: both;
}

.form-region-main .location {
	overflow: hidden;
}

/* fix for autocomplete dropdown */

.form-region-main .location  #autocomplete {
  margin-left: 110px;
}

/* fivestar */

#fivestar-settings .description {
	position: relative;
	max-width: auto;
	display: block;
	background-color: transparent;
	border: 0 none;
}

#placeholder {
  z-index: 10;
}

/* Dashboard */
.nice-dash-table {
}

.nice-dash-table td {
  border: 0px none;
}

#nice-dashboard .configure_features .form-item {
	border: 0 none;
	text-align: center;
  float: left; 
  margin: 0px;	
  width: 70px;
  padding: 0 5px;
}

#nice-dashboard .configure_features .title {
  height: 40px;
  overflow: hidden;
}

#nice-dashboard .configure_features .form-item .description {
	right: -100px;
	text-align: left;
	padding: 5px 10px 20px 20px;
	width: 230px;
}

#nice-dashboard .configure_features .form-item .description h3 {
	margin: 4px 0 4px -10px;
}

#nice-dashboard .configure_features .disabled img,
#nice-dashboard .configure_features .disabled .title {
	opacity: 0.4;
}

#loader-overlay {
	opacity: 0.6;
	background-color: #666;
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 10000;
  display: none;
}

#loader-icon {
  background: transparent url(ajax-loader.gif) no-repeat center center;
  position: fixed;
  top: 0;
  left: 0;  
  z-index: 10001;
  display: none;
}

/* Workflow */
table.workflow_history caption {
  color: #999999;
  font-size: 10px;
  font-weight: bold;
  margin: 20px 0 9px 0;
  padding: 0;
  text-transform: uppercase;
  text-align: left;
}

table.workflow_history caption:after {
  content: ':';
}

#edit-workflow-scheduled-hour-wrapper label, #edit-workflow-scheduled-hour {
  float: left;
  margin-left: 5px;
}

#edit-workflow-scheduled-hour-wrapper label {
  font-size: 11px;
  text-transform: none;
  font-weight: normal;
}

#edit-workflow-comment-wrapper {
  clear: both;
}

.page-admin ul.links li a {
  margin-right: 3px;
}
