/* admin 1 icons */

ul.menu span.icon,
ul.admin-list span.icon,
ul.links span.icon,
.help-content span.icon, 
.page-title span.icon, 
.menu span.icon, 
.admin-list span.icon, 
.links span.icon  { background:transparent url(icons.png) -0px -150px no-repeat;}

div.depth-1 span.icon { background:transparent url(icons.png) -180px -120px no-repeat; }
.path-node-add span.icon,
.path-admin-content-add span.icon { background-position:-60px 0px !important; }

.path-admin-content-node span.icon { background-position:-90px 0px !important; }

.path-admin-settings-date-time span.icon { background-position:-120px 0px !important; }

.path-admin-settings-filters span.icon { background-position:-30px -60px !important; }

.path-admin-content-node-settings span.icon { background-position:0px -150px !important; }

.path-admin-build-translate span.icon,
.path-admin-settings-language span.icon { background-position:0px -60px !important; }

.path-admin-settings-performance span.icon { background-position:-30px -90px !important; }

.path-admin-reports-search span.icon,
.path-admin-settings-search span.icon { background-position:-30px -30px !important; }

.path-admin-settings-site-maintenance span.icon { background-position:-90px -90px !important; }

.path-admin-settings-site span.icon { background-position:-60px -90px !important; }

.path-admin-build-menu span.icon { background-position:-150px 0px !important; }

.path-admin-content-book span.icon { background-position:-180px 0px !important; }

.path-admin-content-comment span.icon { background-position:-210px 0px !important; }

.path-admin-content-types span.icon { background-position:-120px -30px !important; }

.path-admin-content-taxonomy span.icon { background-position:-180px -30px !important; }

.path-admin-settings-mailhandler span.icon,
.path-admin-content-mailhandler span.icon { background-position:-210px -30px !important; }

.path-admin-settings-feedapi span.icon,
.path-admin-content-feed span.icon,
.path-admin-content-rss-publishing span.icon { background-position:-150px -30px !important; }

.path-admin-build-block span.icon { background-position:-210px -90px !important; }

.path-admin-settings-image-toolkit span.icon,
.path-admin-settings-imageapi span.icon,
.path-admin-build-imagecache span.icon { background-position:-120px -60px !important; }

.path-admin-build-features span.icon,
.path-admin-build-modules span.icon { background-position:-180px -90px !important; }

.path-admin-build-themes span.icon { background-position:-120px -90px !important; }

.path-admin-settings-actions span.icon,
.path-admin-build-trigger span.icon { background-position:-180px -120px !important; }

.path-admin-build-views span.icon { background-position:-210px -60px !important; }

.path-admin-settings-uploads span.icon { background-position:-90px -60px !important; }

.path-admin-reports-access-denied span.icon { background-position:-90px -30px !important; }

.path-admin-reports-page-not-found span.icon { background-position:-30px -150px !important; }

.path-admin-reports-status span.icon { background-position:-60px -30px !important; }

.path-admin-user-rules span.icon { background-position:0px -120px !important; }

.path-admin-user-permissions span.icon { background-position:-30px -120px !important; }

.path-admin-user-roles span.icon { background-position:-60px -120px !important; }

.path-admin-user-user span.icon { background-position:-90px -120px !important; }

.path-admin-user-settings span.icon { background-position:-150px -120px !important; }

.path-admin-settings-logging span.icon { background-position:-150px -60px !important; }

.path-admin-reports-updates span.icon { background-position:-150px -90px !important; }

.path-admin-reports-dblog span.icon { background-position:-210px -120px !important; }

