
/**
 * @file
 * Sweaver default skin CSS.
 */

/******************************************************
 * Reset all css with !important
 * so that sweavering doesn't affect the sweaver bar.
 ******************************************************/

#sweaver-frontend *,
#sweaver-messages * {
  background: transparent 0 none !important;
  color: #fff !important;
  font-family: "trebuchet MS", Helvetica, Arial !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important;
  text-transform: none !important;
  background-image: none !important;
  line-height: 1.3em !important;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 none !important;
  width: auto;
  height: auto;
  outline: 0;
}


/*****************
  General theming.
******************/

/* correct the body so that the Sweaver frontend does not overlap any content */

body.sweaver {
  margin-bottom: 287px;
}

/* Show which selector was hovered/clicked */

.sweaver-hovered {
  outline: 1px dotted #ccc;
}

.sweaver-clicked {
  outline: 1px solid #ccc;
}

/* sweaver bar */

#sweaver {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-transform: none !important;
  background-image: none !important;
}

#sweaver #sweaver-middle {
  background-color: #333 !important;
  overflow: hidden;
}

#sweaver .sweaver-content {
  padding: 10px !important;
  margin: 0 7px 7px !important;
  background-color: #bcd62b !important;
  position: relative !important;
  height: 180px;
  overflow: hidden;
   z-index: 1;
}

/* header region */

#sweaver .sweaver-header {
   padding: 7px !important;
   clear: both !important;
   margin: 0 7px 0 !important;
   position: relative;
   z-index: 2;
}

#sweaver #sweaver-header a.button {
  float: right;
}

/* Horizontal tabs */

#sweaver .close a,
#sweaver .tab a {
  background-color: #999 !important;
  height: 16px !important;
  display: block !important;
  float: left !important;
  padding: 5px 15px !important;
  font-size: 13px !important;
  line-height: 16px !important;
  margin-left: 7px !important;
  -moz-border-radius: 7px 7px 0 0 !important;
  border-radius: 7px 7px 0 0 !important;
  -webkit-border-top-right-radius: 7px !important;
  -webkit-border-top-left-radius: 7px !important;
}

#sweaver .close a {
  background: #999 url(images/close.png) no-repeat center center !important;
  text-indent: -10000px !important;
  overflow: hidden !important;
}

#sweaver .close.active-tab a {
  background-image: url(images/open.png) !important;
}

#sweaver .active-tab a {
  background-color: #333 !important;
}

/* style actions */

#sweaver-style-actions {
  background-color: #333 !important;
  height: 26px !important;
  display: block !important;
  float: right !important;
  padding: 0px 15px !important;
  line-height: 16px !important;
  -moz-border-radius: 7px 0 0 0 !important;
  border-radius: 7px 0 0 0 !important;
  -webkit-border-top-left-radius: 7px !important;
}

#sweaver-style-actions .style-actions-link {
  float: left !important;
}

#sweaver-style-actions .style-actions-link a {
  padding: 5px 10px !important;
  display: block !important;
  font-size: 13px !important;
}


/* Messages and popups */

#sweaver-messages,
#sweaver-popup {
  -moz-border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  border-radius: 7px !important;
  background: rgb(65,65,65) !important;
  background: rgba(51,51,51,0.9) !important;
  display: none;
  padding: 15px !important;
  position: fixed !important;
  font-size: 11px !important;
  z-index: 1100 !important;
  text-decoration: none !important;
  top: 7px;
  left: 7px;
  width: 300px;
  min-height: 50px;
}

#sweaver-popup {
  width: auto;
  padding: 25px 15px !important;
}

#sweaver-messages .close,
#sweaver-popup .close {
  background: url(images/close-message.png) no-repeat center center !important;
  text-indent: -10000px;
  overflow: hidden;
  width: 16px;
  height: 15px;
  line-height: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
}

#sweaver-messages .close:hover,
#sweaver-popup .close:hover {
  cursor: pointer;
}

#sweaver-popup h2 {
  font-size: 16px !important;
  margin-bottom: 5px !important;
}

#sweaver-popup a {
  text-decoration: underline !important;
}

#sweaver-frontend #sweaver-popup p,
#sweaver-frontend #sweaver-popup span {
  font-style: italic !important;
  margin: 10px 0 !important;
}

#sweaver-popup legend {
  font-size: 16px !important;
  line-height:19px !important;
  margin:0 0 10px !important;
}

#sweaver-popup fieldset fieldset legend {
  line-height: 13px !important;
  background: transparent url(images/close.png) no-repeat left center !important;
  padding-left: 25px !important;
  height: 16px !important;
}

#sweaver-popup fieldset fieldset .fieldset-wrapper {
  margin: 0px 0 10px 25px;
}

#sweaver-popup fieldset .description {
  border-radius: 5px 5px 5px 5px !important;
  -moz-border-radius: 5px 5px 5px 5px !important;
  -webkit-border-radius: 5px 5px 5px 5px !important;
  background: none repeat scroll 0 0 #666666 !important;
  color: #EEEEEE !important;
  padding: 10px !important;
  margin-left: 0 !important;
}

#sweaver-popup fieldset fieldset .description {
  margin-top: 10px !important;
}

#sweaver-popup fieldset .form-item .description {
  font-size: 0.9em !important;
}

#sweaver-popup fieldset .form-item {
  padding: 15px 0 !important;
  border-bottom: 1px solid #777 !important;
}

#sweaver-popup fieldset fieldset {
  background: transparent none !important;
  padding: 5px 0 !important;
  margin: 0px !important;
}

#sweaver-frontend #sweaver-popup input,
#sweaver-frontend #sweaver-popup select,
#sweaver-frontend #sweaver-popup textarea {
  box-shadow: 1px 1px 2px #333 !important;
  -moz-box-shadow: 1px 1px 2px #333 !important;
  -webkit-box-shadow: 1px 1px 2px #333 !important;
}

/* Popup link */

#sweaver .popup-link {
  float: left;
  margin-right: 10px !important;
}

#sweaver .popup-link a {
  background: #999 url(images/popup.png) no-repeat 4px center !important;
  font-weight: bold !important;
  padding: 5px 5px 5px 25px !important;
  display: block !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* style actions */

#sweaver-popup #edit-save-type-wrapper,
#sweaver-popup #edit-save-style-wrapper,
#sweaver-popup #edit-style-existing-id-wrapper {
  float: left !important;
}

#sweaver-popup #edit-save-type-wrapper select,
#sweaver-popup #edit-save-style-wrapper input,
#sweaver-popup #edit-style-existing-id-wrapper select {
  margin-right: 15px !important;
}

#sweaver-popup #edit-save-style {
	width: 140px !important;
}

#sweaver-popup .delete-style-question {
  background:none repeat scroll 0 0 #666666 !important;
  padding:5px !important;
  -moz-border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  border-radius: 7px !important;
  margin-top: 15px !important;
}

#sweaver-popup .save-publish-buttons {
	clear: both;
}

#sweaver-popup .delete-style-question input,
#sweaver-popup .save-publish-buttons input {
  float: left !important;
  margin-right: 15px !important;
  clear: none !important;
}

#sweaver-popup .delete-style-question input {
  background-color: #333 !important;
}

/* general theming */

#sweaver a {
  padding: 0 !important;
  margin: 0 !important;
  display: inline !important;
}

#sweaver h2 {
  color: #222 !important;
  font-family: Georgia !important;
  font-size: 18px !important;
  text-transform: uppercase !important;
  padding: 0 0 5px 0 !important;
  margin: 0 !important;
  line-height: 1em !important;
}

#sweaver h3 {
  color: #222 !important;
  font-size:13px !important;
  font-weight:bold !important;
  line-height:18px !important;
  margin: 5px 0 !important;
}

#sweaver-frontend label {
  width: 115px !important;
  float: left !important;
  clear: left !important;
  font-weight: bold !important;
}

#sweaver-frontend .form-item {
  padding: 5px 0 !important;
}

#sweaver-frontend input,
#sweaver-frontend select,
#sweaver-frontend textarea {
  text-transform: none !important;
  width: 140px !important;
  border: 1px solid #fff !important;
  padding: 2px !important;
  color: #222 !important;
  background-color: #fff !important;
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  height: auto !important;
  box-shadow: 1px 1px 2px #8A9F16 !important;
  -moz-box-shadow: 1px 1px 2px #8A9F16 !important;
  -webkit-box-shadow: 1px 1px 2px #8A9F16 !important;
}

#sweaver-frontend option {
  color: #222 !important;
  padding: 2px !important;
}

#sweaver-frontend input.form-file,
#sweaver-frontend input.form-checkbox {
  width: auto !important;
}

#sweaver textarea {
  width: 400px !important;
  height:175px !important;
}

#sweaver a.button {
  width: 50px !important;
  border: 1px solid #fff !important;
  padding: 2px !important;
  color: #222 !important;
  background-color: #fff !important;
  display: block !important;
  text-align: center !important;
  font-size: 13px !important;
  text-decoration: none !important;
  text-transform: none !important;
  margin-left: 15px !important;
}

#sweaver a.button:hover {
  text-decoration: none !important;
}

#sweaver-frontend .form-submit,
#sweaver-popup .form-submit {
  clear: left;
  display: block !important;
  margin: 1em 0 0 0 !important;
  background-color: #666 !important;
  color: #fff !important;
  border: 0 none !important;
  width: auto !important;
  padding: 5px !important;
  cursor: pointer;
  zoom: 1;
}

#sweaver-frontend label.option {
  width: auto !important;
  float: none !important;
}

#sweaver-frontend input.form-checkbox {
  width: auto !important;
}

#sweaver-frontend .description {
  margin-left: 120px !important;
  font-size: 0.9em !important;
  margin-top: 5px !important;
}

/* containers */

#sweaver .container {
  float: left !important;
}

#sweaver .container-inner {
  padding: 0 20px !important;
  border-left:1px solid #D2EE38 !important;
  border-right: 1px solid #A3B926 !important;
  height: 180px !important;
}

#sweaver .container-first .container-inner  {
  border-left: 0 none !important;
  padding-left: 0 !important;
}

#sweaver .container-last .container-inner  {
  border-right: 0 none !important;
  padding-right: 0 !important;
}

/* Custom css */

#sweaver .form-floater .form-submit,
#sweaver .form-floater .form-item {
  float: left !important;
  clear: none !important;
}

#sweaver .form-floater .form-item {
  margin: 0 10px 0 0 !important;
}

/* link for 'theme styles' tab */

#sweaver .sweaver-switch-to-style {
  float: left;
  margin-right: 10px !important;
}

#sweaver .sweaver-switch-to-style a {
  background: #999 url(images/style.png) no-repeat 4px center !important;
  font-weight: bold !important;
  padding: 5px 5px 5px 25px !important;
  display: block !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* Theme switching tab */

#sweaver .selected-image {
  -moz-box-shadow: 1px 1px 2px #8A9F16;
  background: #FFFFFF !important;
  color: #333333 !important;
  float: left;
  margin-right: 25px !important;
  padding: 5px !important;
  text-align: center !important;
  margin-top: 10px !important;
}

#sweaver .selected-image img {
  width: 150px;
  height: 90px;
}

#sweaver .selected-image-default {
  background: #333333 !important;
  color: #FFFFFF !important;
  margin-top: 0 !important;
  padding: 15px !important;
}

#themeswitch-pane {
  overflow: hidden;
  width: 100%;
  height: 170px;
}

#sweaver_plugin_themeswitch .scroll-bar-wrap {
  clear: left;
  padding: 10px 4px 0 2px !important;
  margin: 0 -1px -1px -1px !important;
}

#sweaver_plugin_themeswitch .scroll-bar-wrap .ui-handle-helper-parent {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto !important;
}


/*****************
  Style editor
 ******************/

#sweaver_plugin_editor #sweaver-editor {
  display: none;
}

/* vertical tabs in editor screen */

#sweaver .vertical-tabs {
  border-right: 1px solid #A3B926 !important;
  float: left !important;
  height: 180px !important;
  padding-right: 15px !important;
}

#sweaver .vertical-tab a {
  -moz-border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  border-radius: 7px !important;;
  background-color: #666666 !important;
  display: block !important;
  font-size: 13px !important;
  margin-bottom: 5px !important;
  padding: 7px !important;
  width: 150px !important;
  outline: 0 none;
  font-weight: normal !important;
  font-style: normal !important;
}

#sweaver .vertical-tab a.active {
  background-color: transparent !important;
  color: #444444 !important;
  font-size: 16px !important;
}

#sweaver .vertical-content {
  border-left:1px solid #D2EE38 !important;
  height: 180px !important;
  margin-left: 180px !important;
  padding-left:15px !important;
}

.vertical-content .container-wrapper {
  display: none;
}

.vertical-content #container-one {
  display: block;
}

/* form items */

#sweaver_plugin_editor label {
  line-height: 16px !important;
  padding: 5px 0 0 0 !important;
}

#sweaver_plugin_editor .form-item,
#sweaver_plugin_editor .sweaver-group {
  padding: 5px 0 !important;
  margin: 0 !important;
  clear: both !important;
  position: relative !important;
  z-index: 1;
}

#sweaver_plugin_editor .form-item.active,
#sweaver_plugin_editor .sweaver-group.active {
  z-index: 2;
}

#sweaver_plugin_editor label,
#sweaver_plugin_editor select,
#sweaver_plugin_editor input {
  float: left;
}


/* parent / children */

#sweaver_plugin_editor .sweaver-group-content label {
  display: none;
}

#sweaver_plugin_editor .sweaver-group-content {
  float: left;
}

#sweaver_plugin_editor .sweaver-group-content .form-item {
  float: left !important;
  clear: none !important;
  margin-right: 5px !important;
  padding: 0 !important;
}

#sweaver_plugin_editor .sweaver-group-content select {
  width: auto !important;
}

/* slider */

#sweaver_plugin_editor .slider-value {
  border: none !important;
  background-color: #fff !important;
  width: 30px !important;
  text-align: center !important;
}

#sweaver_plugin_editor .slider {
  width: 122px;
}

#sweaver_plugin_editor .slider-wrapper {
  visibility: hidden;
  padding: 10px !important;
  background-color: #666 !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100 !important;
}

/* Overwrite of jquery ui css to be able to add !important */

#sweaver-frontend .ui-slider {
  background: none repeat scroll 0 0 #FFFFFF !important;
  border: 1px solid #D3D3D3 !important;
  font-size: 100%;
  height: 0.8em;
  line-height: 1.3;
}

#sweaver-frontend .ui-slider-handle {
  background:url(images/slider-handle.png) repeat-x scroll 0 50% #FFFFFF !important;
  border: 1px solid #DDDDDD !important;
  font-size:100%;
  height: 1.2em;
  width: 1.2em;
  line-height:1.3;
}

/* selectors path */

#sweaver_plugin_editor #full-path,
#sweaver_plugin_editor #selected-path {
  margin: 0 0 0 -7px !important;
  padding: 3px 7px 3px 0 !important;
}

#sweaver_plugin_editor #selected-path {
  padding-bottom: 0 !important;
}

#sweaver_plugin_editor .path-label {
  width: 100px !important;
  clear:left;
  display:block;
  float:left;
  padding: 0px 3px 0px 10px !important;
}

#sweaver_plugin_editor .path-content {
  margin-left: 113px !important;
  display: block;
}

#sweaver_plugin_editor #selected-path span {
  position: relative;
}

#sweaver_plugin_editor #full-path .selector-wrapper {
  position: relative;
  z-index: 1;
  float: left;
  white-space: nowrap;
}

#sweaver_plugin_editor #full-path .selector-wrapper.open {
  z-index: 2;
}

#sweaver_plugin_editor #full-path .first-selector,
#sweaver_plugin_editor #full-path .selector-separator {
  float: left;
}

#sweaver_plugin_editor #full-path .first-selector {
  cursor: pointer;
  white-space: nowrap;
}

#sweaver_plugin_editor #full-path .active .first-selector a {
  text-decoration: underline !important;
}

/* selector popup */

#sweaver_plugin_editor #full-path .selector-popup {
  position: absolute !important;
  top: 0px !important;
  left: -10000px;
  background: #666 !important;
  padding: 4px 8px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  border-radius: 3px !important;
  z-index: 1113 !important;
  width: 230px !important;
  white-space: nowrap !important;
}

#sweaver_plugin_editor #full-path .selector-popup ul {
  float: left !important;
}

#sweaver_plugin_editor #full-path .selector-popup ul.selectors {
  width: 134px;
  border-right: 1px solid #555;
  padding-right: 15px !important;
}

#sweaver_plugin_editor #full-path .selector-popup ul.pseudoclasses {
  width: 72px;
  padding-left: 8px !important;
}

#sweaver_plugin_editor #full-path .selector-popup li {
  list-style-type: none !important;
  list-style-image: none !important;
  padding: 4px 0 4px 15px !important;
  border-bottom: 1px solid #555;
  border-top: 1px solid #777;
}

#sweaver_plugin_editor #full-path .selector-popup li.first {
  border-top: 0 none;
}
#sweaver_plugin_editor #full-path .selector-popup li.active {
  background: transparent url(images/active-selector.png) no-repeat left center !important;
}

#sweaver_plugin_editor #full-path .selector-popup li.last {
  border-bottom: 0 none;
}

#sweaver_plugin_editor #full-path .selector-popup-opener {
  background: transparent url(images/selector-popup.png) no-repeat center center !important;
  width: 16px !important;
  height: 15px !important;
  text-indent: -2000px !important;
  overflow: hidden !important;
  float: left;
  cursor: pointer;
  display: none;
  margin-right: 3px !important;
}

#sweaver_plugin_editor #full-path .active .selector-popup-opener {
  display: block;
}

/* Follow link */

#follow-link {
  -moz-border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  border-radius: 7px !important;
  background: rgb(51,51,51) !important;
  background: rgba(51,51,51,0.9) !important;
  color: #fff !important;
  display: none;
  opacity: 0.8 !important;
  padding: 3px 7px !important;
  position: absolute !important;
  font-size: 11px !important;
  z-index: 1100 !important;
  text-decoration: none !important;
  font-family: "trebuchet MS", Helvetica, Arial !important;
  font-size: 12px !important;
}

#follow-link:hover {
  text-decoration: underline !important;
}

/* Changes */

#editor-changes {
  position: absolute !important;
  bottom: 21px;
  right: -10000px;
  padding: 5px !important;
  width: 400px !important;
  background-color: #333 !important;
  color: #fff !important;
  height: 160px;
  overflow-y: scroll;
  border: 1px solid #333;
  z-index : 1112;
}

#sweaver_plugin_editor #changes-toggler {
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  background: #333333 url(images/open2.png) no-repeat 95% 50% !important;
  position: absolute;
  bottom: 0;
  right: 10px;
  padding: 5px 24px 5px 10px !important;
  z-index : 1111;
  width: 130px;
  cursor: pointer;
}

#sweaver_plugin_editor #changes-toggler.open {
  background-image: url(images/close2.png) !important;
}

#sweaver_plugin_editor #editor-changes p {
  margin-bottom: 5px !important;
  padding: 2px 2px 2px 20px !important;
  background: #444444 url(images/remove.png) no-repeat left center !important;
  cursor: pointer;
}


/*****************
  Palettes
 ******************/

#sweaver_plugin_palettes .color {
  width: 15px !important;
  height: 15px !important;
  overflow: hidden;
  text-indent: -10000px;
  float: left;
  border: 1px solid #fff !important;
  margin-left: -1px;
}

#sweaver_plugin_palettes .name {
  margin-left: 7px !important;
  float: left;
}

#sweaver_plugin_palettes .colors {
  clear: both;
  margin-bottom: 5px !important;
  padding: 7px !important;
  width: 150px;
}

#sweaver_plugin_palettes .colors:hover,
#sweaver_plugin_palettes .colors.active,
#sweaver_plugin_palettes .colors.active:hover {
  background: #444 !important;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  cursor: pointer;
}

#sweaver_plugin_palettes .colors:hover {
  background-color: #666 !important;
}