/**
 * Icons
 */
.help-content span.one-icon,
.page-title span.one-icon,
.menu span.one-icon,
.admin-list span.one-icon,
.links span.one-icon {
  width:30px;
  height:30px;
  display:block;

  background-color:transparent;
  background-image:url(icons.png);
  background-repeat:no-repeat;
  }

/**
 * Create content
 */
.path-node-add span.one-icon                        { background-position:0px -240px; }
.path-node-add-page span.one-icon                   { background-position:-30px -240px; }
.path-node-add-forum span.one-icon                  { background-position:-60px -240px; }
.path-node-add-blog span.one-icon                   { background-position:-90px -240px; }
.path-node-add-story span.one-icon                  { background-position:-120px -240px; }
.path-node-add-poll span.one-icon                   { background-position:-150px -240px; }

/**
 * Sections
 */
.path-admin span.one-icon                           { background-position:0px 0px; }
.path-admin-content span.one-icon                   { background-position:-30px 0px; }
.path-admin-build span.one-icon                     { background-position:-60px 0px; }
.path-admin-user span.one-icon                      { background-position:-90px 0px; }
.path-admin-reports span.one-icon                   { background-position:-120px 0px; }
.path-admin-settings span.one-icon                  { background-position:-150px 0px; }

/**
 * Help
 */
.path-admin-help span.one-icon                      { background-position:-150px -120px; }

/**
 * Content
 */
.path-admin-content-forum span.one-icon             { background-position:-90px -120px; }
.path-admin-content-aggregator span.one-icon        { background-position:-120px -120px; }
.path-admin-content-book span.one-icon              { background-position:-90px -60px; }
.path-admin-content-comment span.one-icon           { background-position:-90px -30px; }
.path-admin-content-node span.one-icon              { background-position:0px -30px; }
.path-admin-content-types span.one-icon,
.path-admin-content-node-type span.one-icon         { background-position:-30px -30px; }
.path-admin-content-taxonomy span.one-icon          { background-position:-60px -30px; }
.path-admin-content-node-settings span.one-icon     { background-position:0px -360px; }
.path-admin-content-rss-publishing span.one-icon    { background-position:-180px -330px; }

/**
 * Building
 */
.path-admin-settings-filters span.one-icon          { background-position:-210px -60px; }
.path-admin-build-translate span.one-icon           { background-position:0px -90px; }
.path-admin-build-menu span.one-icon,
.path-admin-build-menu-customize span.one-icon      { background-position:-150px -30px; }
.path-admin-build-modules span.one-icon             { background-position:-210px -30px; }
.path-admin-build-themes span.one-icon              { background-position:-120px -30px; }
.path-admin-build-contact span.one-icon             { background-position:-60px -90px; }
.path-admin-build-block span.one-icon               { background-position:-180px -30px; }
.path-admin-settings-actions span.one-icon,
.path-admin-build-trigger span.one-icon             { background-position:-180px -60px; }
.path-admin-build-path span.one-icon                { background-position:-120px -90px; }

/**
 * User
 */
.path-admin-user-permissions span.one-icon          { background-position:-30px -90px; }
.path-admin-user-rules span.one-icon                { background-position:0px -120px; }
.path-admin-user-roles span.one-icon                { background-position:-30px -120px; }
.path-admin-user-profile span.one-icon              { background-position:-60px -120px; }
.path-admin-user-user span.one-icon                 { background-position:-210px -90px; }
.path-admin-user-settings span.one-icon             { background-position:-120px -360px; }

/**
 * Reports
 */
.path-admin-reports-dblog span.one-icon             { background-position:-210px -420px; }
.path-admin-reports-hits span.one-icon              { background-position:-120px -420px; }
.path-admin-reports-search span.one-icon            { background-position:0px -420px; }
.path-admin-reports-access-denied span.one-icon     { background-position:-180px -420px; }
.path-admin-reports-page-not-found span.one-icon    { background-position:-90px -420px; }
.path-admin-reports-referrers span.one-icon         { background-position:-150px -420px; }
.path-admin-reports-pages span.one-icon             { background-position:-30px -240px }
.path-admin-reports-visitors span.one-icon          { background-position:-60px -420px; }
.path-admin-reports-settings span.one-icon          { background-position:-90px -330px; }
.path-admin-reports-updates span.one-icon           { background-position:-150px -60px; }
.path-admin-reports-status span.one-icon            { background-position:-60px -60px; }

/**
 * Settings
 */
.path-admin-settings-wysiwyg span.one-icon,
.path-admin-settings-fckeditor span.one-icon,
.path-admin-settings-tinymce span.one-icon          { background-position:-150px -330px; }
.path-admin-settings-date-time span.one-icon        { background-position:-150px -360px; }
.path-admin-settings-language span.one-icon         { background-position:-60px -330px; }
.path-admin-settings-performance span.one-icon      { background-position:0px -60px; }
.path-admin-settings-search span.one-icon           { background-position:-30px -60px; }
.path-admin-settings-devel span.one-icon            { background-position:-30px -330px; }
.path-admin-settings-site-maintenance span.one-icon { background-position:-180px -90px; }
.path-admin-settings-image-toolkit span.one-icon    { background-position:-210px -330px; }
.path-admin-settings-uploads span.one-icon          { background-position:-210px -360px; }
.path-admin-settings-logging span.one-icon          { background-position:-120px -60px; }
.path-admin-settings-clean-urls span.one-icon       { background-position:-60px -360px; }
.path-admin-settings-file-system span.one-icon      { background-position:-180px -360px; }
.path-admin-settings-error-reporting span.one-icon  { background-position:-90px -360px; }
.path-admin-settings-site-information span.one-icon { background-position:-120px -330px; }
.path-admin-settings-blogapi span.one-icon          { background-position:-30px -360px; }
.path-admin-settings-throttle span.one-icon         { background-position:-150px -90px; }
