@CHARSET "ISO-8859-1";

/* =========================================================================
 *
 *   FEATURES.CSS    
 *        
 * ========================================================================= */
  
/* =========================================================================
 *   COMMENTS            
 * ========================================================================= */

#comments {
	padding-top: 15px;
}

#comments h2 {
  padding-bottom: 6px;
}

#content-middle #comments > div {
  border-top: 1px solid #463B33;
}

#comments .box h2 {
  padding-top: 10px;
  border: 0;
}

.comment {
  padding: 10px;
  border: 1px solid #463B33;
  border-width: 1px 0;
  margin-bottom: 10px;
}

#comments .comment {
  border: 0;
  margin-bottom: 0;
}

.comment .field-subject {
  color: #29ABE2;
  font-size: 14px;
  margin-bottom: 5px;
}

.comment .field-name-linked {
  margin-bottom: 5px;
  padding-left: 20px;
}

.indented {
  margin-left: 0;
  padding-left: 25px;
}

#comments .indented .comment {
  border-bottom: 1px solid #463B33;
}

#comments .indented .comment:last-child {
  border: 0;
}

#comments .indented .indented .comment:last-child {
  border-bottom: 1px solid #463B33;
}

.comment.odd {
  background: #2D2520;
}

.comment.even {
  background: #19110A;
}

.field-created, .field-post-date {
  background: url("../images/date-icon.png") no-repeat;
  padding-top: 2px;
  padding-left: 18px;
  display: inline-block;
  margin-bottom: 5px;
  line-height: 12px;
}

.wysiwyg-toggle-wrapper {
  margin: 5px;
}

.field-author {
  color: #C7B299;
}

#edit-preview {
  margin-bottom: 10px;
}

  
/* =========================================================================
 *   PRODUCTS            
 * ========================================================================= */

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper {
  margin-bottom: 10px;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul * {
  border: 0 !important;
}

#content-middle .viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul li {
  padding: 0;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul li a {
  background-color: #2D2520;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul li.last a {
  margin-right: 0;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul li a.viewsdisplaytabs-active {
  background-color: #534741;
}


/* =========================================================================
 *   SPLASH            
 * ========================================================================= */

body.page-splash {
  background: #160F0A url("../images/background.png") center center no-repeat;
}
body.page-splash #body-inner {
  background: none;
  border: 0;
}

body.page-splash #splash {
  background: #160F0A;
  padding: 20px;
  margin: 20px;
  font-size: 12px;
}

#splash-right {
  display: table;
  overflow: hidden;
  height: 200px;
  border: 2px solid #6F6152;
}

#splash #logo {
  position: static;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#splash ul {
  padding: 0;
}
#splash li.language-selector-language {
  padding: 5px 0;
  list-style-type: none;
}

#splash .language-selector-language div {
  padding: 3px 0;
}

#splash .language-selector-language a {
  font-size: 18px;
  color: #29ABE2;
}


/* =========================================================================
*   DOCUMENTS
* ========================================================================= */

.buildmode-teaser .node-type-document {
  margin: 9px 0;
  background-color: #2D2520;
  border: 1px solid #403631;
  border-width: 1px 0;
  padding: 6px 9px;
}

.buildmode-teaser .nd-region-right {
  position: relative !important;
}


/* =========================================================================
*   EVENTS
* ========================================================================= */

.buildmode-teaser .node-type-event {
  margin: 9px 0;
  background-color: #2D2520;
  border: 1px solid #403631;
  border-width: 1px 0;
  padding: 6px 9px;
}

   
/* =========================================================================
 *   SEARCH            
 * ========================================================================= */

#search-form div.form-inner {
  background-color: #534741;
  padding: 5px 9px;
  overflow: hidden;
}

#search-form .search-advanced {
  clear: both;
}

.search-wrapper .search-sort {
  margin-bottom: 6px;
}

.search-wrapper .search-sort div {
  display: inline-block;
}

.not-front #content-middle .search-wrapper .search-sort ul li {
  display: inline-block;
  padding: 0;
  padding-right: 10px;
  border: 0;
  background: transparent;
}

.search-wrapper .search-sort li img {
  padding-right: 3px;
}


/* =========================================================================
 *   PANELS
 * ========================================================================= */
 
/* one pane */

.panel-pane {
  padding-bottom: 15px;
}

.pane-title {
}

.pane-content {
}

/* division between panes */

.panel-region-separator {
}
 
/* general panels theming */

#content-middle .panel-panel {
  padding: 0;
  margin: 0;
  border: 0 none;
  background-color: transparent;
}

#content-middle .panel-row {
  border-bottom: 1px solid #534741;
  padding-bottom: 15px;
  margin-bottom: 15px;
  clear: both;
}

#content-middle .panel-row-first {
}

#content-middle .panel-row-last {
  border-bottom: none;
  padding-bottom: 0;tom
  margin-bottom: 0;
}

#content-middle .panel-col .panel-panel {
  margin: 0;
  border: 0 none;
  border-right: 1px solid #534741;
  background-color: transparent;
  padding: 0 15px;
}

#content-middle .panel-col-first .panel-panel {
  padding: 0 15px 0 0;
}

#content-middle .panel-col-last .panel-panel {
  border-right: 0 none;
  padding: 0 0 0 15px;
}

.node-type-panel {
  margin-bottom: 0;
}

/* overwrite highlighting */

.node-type-panel .highlight-1,
.node-type-panel .highlight-2 {
  margin-bottom: 0;
}

/* overwrite block margin and padding */

#content-middle .node-type-panel .block {
  border: 0 none;
  margin: 0 0 1em 0;
}

#content .panel-panel .block {
  border: 0 none;
  width: auto;
}

#content .panel-panel .block .content {
  padding: 0;
}

/* =========================================================================
 *   APACHE SOLR
 * ========================================================================= */

ul.apachesolr_current_search {
  clear: both;
  overflow: hidden;
  padding: 5px 0;
}

.apachesolr-mlt-admin-link {
  display: none;
}

.not-front #content-middle .item-list ul.apachesolr_current_search li {
  border: 0;
  padding: 0;
}

a.apachesolr-unclick {
  text-transform: uppercase;
  min-height: 14px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 5px 0 0;
  padding: 4px 30px 4px 7px;
  color: #EEEBE3;
  background: #534741 url(../images/remove_facet.png) no-repeat 92% center;
  line-height: 14px;
}

.sidebar .block-apachesolr_search {
  color: #EEEBE3;
}

.sidebar .block-apachesolr_search .block-title {
  font-size: 17px;
  color: #29ABE2;
  line-height: 26px;
  padding: 0;
}

.sidebar .block-apachesolr_search a {
  display: block;
  margin: 0;
  padding: 6px 0 6px 0;
  color: #C7B299;
  font-size: 14px;
  border-bottom: 1px solid #534741;
  width: auto;
}

.sidebar .block-apachesolr_search a:hover {
  color: #EEEBE3;
}

.sidebar .block-apachesolr_search a.apachesolr-unclick {
  padding: 6px 30px 6px 15px;
  color: #EEEBE3;
  background: #534741 url(../images/remove_facet.png) no-repeat 95% center;
}


/* =========================================================================
 *   LOCATIONS
 * ========================================================================= */

.view-Locations div.view-display-id-attachment_1 {
  margin: 15px 0;
}



