/* =========================================================================
 *
 *   IE.CSS: GENERAL IE FIXES    
 *        
 * ========================================================================= */
 
html {
  font-size: 100%; /*Fix a IE em BUG*/
}

fieldset { /* fix fieldset bleed bug */
  position: relative;  
  padding: 2em;
}

fieldset legend {
  position: absolute;
  top: -.5em;
  left: .2em; 
}

.button { /* wide button fix */
  width: 0;
  overflow:visible;
  width: auto;  
}

input.button {
  padding-top: 2px;
  zoom: 1;
  position: relative;
}

.view-twitter {
	padding-bottom:40px;
}

.node {
  background-image:url('.');
}

.item-list ul li {
  zoom: 0;
}

body.page-splash #splash {
  margin-top: 30%;
}

#splash #logo {
  margin-top: 80px;
}

#comment-form #edit-submit {
  vertical-align: top;
}

.field-read-more {
  clear: both;
}
