/* =========================================================================
 *
 *   MENU.CSS
 *   Every menu that is created using the naming convention
 *   will get a class menu-menuname e.g. menu-toolbar.
 *        
 * ========================================================================= */

.navigation {
  font-size: 14px;
  font-weight: bold;
}

/* =========================================================================
 *   HORIZONTAL DROPDOWN    
 * ========================================================================= */

/* general */


.menu-horizontal {
  position: relative;
	margin-left: 180px;
}

.menu-horizontal .block {
}

.menu-horizontal .block .content {
}

/* level 1*/

.menu-horizontal ul.menu-level-1 li {
  float: left;
}

.menu-horizontal ul.menu-level-1 li.active-trail {
}

.menu-horizontal ul.menu-level-1 li.last { 
}

.menu-horizontal ul.menu-level-1 li a {
  float: left;
  padding: 50px 9px 9px;
  color: #998675;
}

.menu-horizontal ul.menu-level-1 li.active-trail a,
.menu-horizontal ul.menu-level-1 li.active-trail ul li.active-trail a,
.menu-horizontal ul.menu-level-1 li.active-trail ul li.active-trail ul li.active-trail a {
  background-color: #382E25;
  color: #EEEBE3;
}

.menu-horizontal ul.menu-level-1 li.active-trail ul a,
.menu-horizontal ul.menu-level-1 li.active-trail ul li.active-trail ul li a {
  background-color: #534741;
  color: #C7B299;
}

.menu-horizontal ul.menu-level-1 li a:hover,
.menu-horizontal ul.menu-level-1 li.sfHover {
  background-color: #382E25 !important;
}

.menu-horizontal ul.menu-level-1 li:hover ul,
.menu-horizontal ul.menu-level-1 li.sfHover ul {
  top: 74px; /* match top ul list item height */
}
                           
/* level 2 */

.menu-horizontal ul.menu ul {
  background-color: #534741;
  font-size: 13px;
}

.menu-horizontal ul.menu ul li {
  float: none;
}

.menu-horizontal ul.menu ul li a {
  float: none;
  padding: 9px;
  color: #C7B299;
}

.menu-horizontal ul.menu-level-2 li.first {
}

.menu-horizontal ul.menu ul.menu-level-2 li a {
}

.menu-horizontal ul.menu ul.menu-level-2 li a:hover {
}

.menu-horizontal ul.menu ul.menu-level-2 li a.active {
}

.menu-horizontal ul.menu-level-2 li:hover ul,
.menu-horizontal ul.menu-level-2 li.sfHover ul {
  top: 74px; /* match top ul list item height */
}

.menu-horizontal ul.menu-level-2 li.last,
.menu-horizontal ul.menu-level-2 ul.menu li.last {
}

/* third level */

.menu-horizontal ul.menu ul.menu-level-2 li:hover ul, 
.menu-horizontal ul.menu ul.menu-level-2 li.sfHover ul {
}

.menu-horizontal ul.menu-level-3 {
}

.menu-horizontal ul.menu-level-3 li.first {
}


/* =========================================================================
 *   VERTICAL NAVIGATION    
 * ========================================================================= */

/* First level */

.menu-vertical .block .content {
}

.menu-vertical h2.block-title {
}

.menu-vertical ul.menu li a {
	border-bottom: 1px solid #463B33;
  padding: 10px 0;
  color: #998675;
}

.menu-vertical ul.menu li.first a {
}
 
.menu-vertical ul.menu li a:hover {
}

.menu-vertical ul.menu li.active-trail a {
}

.menu-vertical li.active-trail a.active,
.menu-vertical li.active-trail ul li.active-trail a.active,
.menu-vertical li.active-trail ul li.active-trail ul li.active-trail a.active {
  color: #EEEBE3;
}


/* second level */

.menu-vertical ul.menu-level-2 {
}

.menu-vertical ul.menu ul.menu-level-2 li a {
	padding-left: 12px; 
}

.menu-vertical ul.menu-level-2 li.first {
} 

.menu-vertical ul.menu-level-2 li a,
.menu-vertical ul.menu ul.menu-level-2 li a {
  font-size: 12px;
} 

.menu-vertical ul.menu-level-2 li.active-trail a,
.menu-vertical ul.menu-level-2 li a:hover,
.menu-vertical ul.menu ul.menu-level-2 li.active-trail a,
.menu-vertical ul.menu ul.menu-level-2 li a:hover {
}

.menu-vertical ul.menu-level-2 li a.active,
.menu-vertical ul.menu ul.menu-level-2 li a.active {
}

.menu-vertical ul.menu-level-2 li.active-trail a:hover,
.menu-vertical ul.menu ul.menu-level-2 li.active-trail a:hover {
}

.menu-vertical ul.menu-level-2 li.active-trail a {
}

/* third level */

.menu-vertical ul.menu-level-3 {
}

.menu-vertical ul.menu ul.menu-level-3 li a {
  padding-left: 24px; 
}

.menu-vertical ul.menu-level-3 li a {
}

.menu-vertical ul.menu-level-3 li.active-trail a,
.menu-vertical ul.menu-level-3 li a:hover {
}


/* =========================================================================
 *   DOORMAT MENU
 * ========================================================================= */

#doormat ul.menu {
  padding-left: 0;
}
#doormat ul.menu ul {
  padding-left: 15px;
}

#doormat ul.menu li {
  border-bottom: 1px solid #463B33;
  padding: 8px 0;
  color: #998675;
  font-size: 13px;
  list-style-type: none;
}


/* =========================================================================
 *   FOOTER MENU
 * ========================================================================= */

.menu-footer {
  float: right;
}

.menu-footer ul.menu li {
  display: inline;
  float: left;
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #998675;
  line-height: 8px;
}

.menu-footer ul.menu li.first {
  margin-left: 0;
  padding-left: 0;
  border: 0;
}

