/* =========================================================================
 *
 *   SITE-ELEMENTS.CSS    
 *        
 * ========================================================================= */

/* =========================================================================
 *   TYPOGRAPHY            
 * ========================================================================= */


@font-face {
  font-family: 'Colaborate';
  src: url('../fonts/ColabLig-webfont.eot');
  src: local('☺'), url('../fonts/ColabLig-webfont.woff') format('woff'), url('../fonts/ColabLig-webfont.ttf') format('truetype'), url('../fonts/ColabLig-webfont.svg#webfontR2xcGGVv') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Colaborate';
  src: url('../fonts/ColabReg-webfont.eot');
  src: local('☺'), url('../fonts/ColabReg-webfont.woff') format('woff'), url('../fonts/ColabReg-webfont.ttf') format('truetype'), url('../fonts/ColabReg-webfont.svg#webfontB6AeCMH3') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colaborate';
  src: url('../fonts/ColabMed-webfont.eot');
  src: local('☺'), url('../fonts/ColabMed-webfont.woff') format('woff'), url('../fonts/ColabMed-webfont.ttf') format('truetype'), url('../fonts/ColabMed-webfont.svg#webfontHpK4vQGz') format('svg');
  font-weight: bold;
  font-style: normal;
}


/* basic */

body, input, textarea {  
  font-size: 13px;
  color: #EEEBE3;
  font-family: Colaborate, 'Trebuchet ms', Helvetica, FreeSans, Sans-Serif;
  line-height: 15px;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1 {
	font-size: 28px;
  line-height: 32px;
	color: #29ABE2;
}

/* page title */
.title {
	margin-bottom: 12px;
}

h2 {
  font-size: 17px;
  line-height: 21px;
  color: #29ABE2;
}

h3 {
	font-size: 15px;
  line-height: 19px;
  color: #EEEBE3;
}

h4 {
	font-size: 13px;
  line-height: 17px;
  color: #29ABE2;
}
h5 {
  font-size: 13px;
  line-height: 17px;
  color: #C7B299;
}
h6 {
  font-size: 11px;
  line-height: 15px;
  color: #DBCEBD;
}

.category-title {
  color: #29ABE2;
}

p {
  margin-bottom: 0;
  padding: 0;
}

.buildmode-full p {
  margin: 0 0 12px 0;
}

/* links */

a {
  color: #C7B299;
  text-decoration: none;
}

a:hover {
  color: #EEEBE3;
}


/* =========================================================================
 *   LISTS            
 * ========================================================================= */

ul, ol {
  padding-left: 20px;
}

ul {
  list-style-type: disc;
}

ul li {
}


/* =========================================================================
 *   BLOCK: GENERAL BLOCK LAYOUT. 
 * ========================================================================= */

.block {
}

.block-title {
  margin: 5px 0;
  font-size: 24px;
}

#content .block {
}
    
.sidebar .block {
  margin-bottom: 15px;
} 

#content .block .content {
}


/* =========================================================================
 *   MESSAGES
 * ========================================================================= */

div.messages,
#help  {
  border: 0;
  padding: 10px 15px;
  background-color: #534741;
  margin: 0 0 12px;
  font-size: 17px;
  line-height: 20px;
}

div.messages a {
  text-decoration: underline;
}

div.messages ul {
  margin-bottom: 0;
  padding-bottom: 0;
}

div.warning,
div.warning a {
  background-color: #ffffcd;
  color: #433D29;
}

div.status,
div.status a {
  background-color: #99FFCC;
  color: #29433D;
}

div.error,
div.error a {
  background-color: #e94838;
  color: #EEEBE3;
}


/* =========================================================================
 *   FORMS
 * ========================================================================= */

/* basic form items */

.form-item {
  margin: 5px 0;
}

.form-item label {
}

.form-text {
  border: 1px solid #907D6C;
  background-color: transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  width: 150px;
}

textarea {
  border: 1px solid #907D6C;
  background-color: transparent;
}

.form-required {
}

.description {
}

#content-middle .form-item label.option {
  width: auto;
}

#content-middle .form-radios,
#content-middle .form-checkboxes {
  margin-left: 150px;
}

input.form-text {
  padding: 1px 3px;
}

#content-middle input.form-text {
  width: 250px;
}

.sidebar input.form-text {
  width: 200px;
}

#content-middle .resizable-textarea {
  float: left;
  width: 350px;
}

/* inline error-messages */

.messages-inline {
  margin-left: 150px; /* label width */
  width: 350px; /* text-field width */
  padding: 0px; 
  color: red;
  background-color: transparent;
  margin-top: -0.5em;
}

.sidebar .messages-inline {
  margin-left: 0;3
  width: 200px;
}

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
  border: 2px solid red;
}

/* buttons */

.button {
  border: 1px solid #907D6C;
  background-color: transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  text-transform: uppercase;
}

div.button {
}

input.button {
}

.button a  {
}


/* =========================================================================
 *   PAGER
 * ========================================================================= */

div.pager {
  text-align: center;
  display: block;
  border: solid #403631;
  border-width: 1px 0px;
}

#content-middle .pager li {
  display: inline-block;
  list-style-type: none;
  padding: 6px 8px;
}

.pager li:hover a {
}

.pager li a,
.pager li span {
  color: #C7B299;
}

.pager li.pager-current {
  background-color: #403631;
}

.pager li.pager-previous a,
.pager li.pager-next a {
}


/* =========================================================================
*   BODY AND NODE: GENERAL LAYOUT
* ========================================================================= */

body {
  background-color: #0F120B;
}

#body-inner {
	background: #160F0A;
	border-top: 5px solid #29ABE2;
}

#content-outer {
  background: #160F0A url("../images/background.png") fixed top center no-repeat;
	padding-bottom: 30px;
}
.nd-region-footer {
  padding-top: 15px;
}

.node { 
}

.node-inner {
}

.item-list {
}

.front #content-middle .item-list ul li {
  margin: 5px 0 10px;
}

.not-front #content-middle .item-list ul li {
  padding: 10px;
  border-top: 1px solid #483C34;
}

.not-front #content-middle .item-list ul ul li {
  list-style-type: none;
  padding: 0;
}

.not-front #content-middle .item-list li.odd {
  background-color: #2D2520;
}
.not-front #content-middle .item-list li.odd .even {
  background-color: #2D2520;
}

.not-front #content-middle .item-list li.even {
  background-color: #19110A;
}
.not-front #content-middle .item-list li.even .odd {
  background-color: #19110A;
}

.not-front #content-middle .item-list li.last {
  border-bottom: 1px solid #483C34;
}

.not-front #content-middle .item-list .field .item-list li {
  border: 0 !important;
}


/* =========================================================================
 *   HEADER
 * ========================================================================= */

#header {
  background: #160F0A url("../images/background-top.png") top center repeat-y;
  height: 115px;
}

#logo {
  position: absolute;
  top: 36px;
  left: 0;
}

#logo h1 {
  margin: 0;
  line-height: normal;
}


/* =========================================================================
 *   TOOLBAR + SEARCH
 * ========================================================================= */

#toolbar {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 11px;
  width: 100%;
}


#toolbar .block {
  float: right;
}

#toolbar ul li {
  background-image: none;
  list-style-type: none;
  list-style-image: none;
  display: inline;
  float: left;  
  padding: 0 5px; 
}

#block-conimbo-conimbo_feeds ul {
  padding: 0;
}

#toolbar .block-one_i18n {
}

#toolbar .block-one_i18n .content ul li {
  text-transform: uppercase;
  border-right: 1px solid #998675;
  line-height: 9px;
  height: 9px;
  margin-top: 3px;
}

#toolbar .block-one_i18n .content ul li a {
}

#toolbar .block-one_i18n .content ul li.last {
  border: 0;
}

#search-theme-form {
  position: absolute;
  right: 0;
  top: 47px;
}

/* =========================================================================
 *   BREADCRUMB + SUBHEADER
 * ========================================================================= */

 
#breadcrumb-grid {
  position: static; /* fix for IE7 */
}

#breadcrumb {
  background: #160F0A url("../images/background-top.png") top center repeat-y;
  color: #C7B299;
  font-size: 11px;
}

#subheader-outer {
  border: 1px solid #443933;
  border-width: 1px 0;
}

#subheader {
  font-size: 12px;
  line-height: 0; /* fixes weird padding below img */
  overflow: hidden;
}


/* =========================================================================
 *   CONTENT
 * ========================================================================= */

#content-outer {
  padding-top: 30px;
  
}


/* =========================================================================
 *   DOORMAT
 * ========================================================================= */

#doormat-outer {
  background-color: #0F120B;
	border-top: 1px solid #534741;
	padding: 30px 0;
  color: #C7B299;
	font-size: 12px;
	font-weight: 300;
}

#doormat .panel-pane {
}

#doormat .panel-col div.panel-panel {
  margin-right: 10px;
}

#doormat .panel-col-last div.panel-panel {
  margin-right: 0;
}

#doormat .pane-title {
	color: #998675;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	line-height: normal;
}

#doormat a {
  color: #E8E0D5;
}
 

/* =========================================================================
 *   FOOTER
 * ========================================================================= */

#footer-outer {
  background-color: #0F120B;
  border-top: 1px solid #534741;
  padding: 15px 0 30px 0;
  font-size: 12px;
  font-weight: 300;
}

#footer a {
}

#footer #footer-message {
  float: left;
}

#footer .block {
  width: auto;
}


/* =========================================================================
 *   TINYMCE STYLES
 * ========================================================================= */

body#tinymce {
}

img.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

img.highlight {
}

p.highlight1,
div.highlight1,
p.highlight-1,
div.highlight-1 {
	background-color: #534741;
  line-height: 20px;
  padding: 15px;
  font-size: 17px;
}

p.highlight2,
div.highlight2,
p.highlight-2,
div.highlight-2 {
  background-color: #29ABE2;
  line-height: 20px;
  padding: 10px 15px;
  font-size: 17px;
}

blockquote {
  background-color: #534741;
  line-height: 20px;
  padding: 10px 15px;
  font-size: 17px;
  font-style: italic;
}

p.intro,
div.intro {
  font-weight: bold;
}


/* =========================================================================
 *   DISPLAY SUITE  
 *   For each build mode you need to define:
 *     - the margin under a node in that buildmode
 *     - the margin under a field in that buildmode
 *     - an overwride for the margin on the last field in that buildmode
 * ========================================================================= */

/* Views displays */

.view .field {
}

.views-field-title {
  margin-bottom: 5px;
}

.vd-region-footer,
.view-footer {
}

/* Full build mode */

.buildmode-full .node {
}

.buildmode-full .field {
}

.buildmode-full .field-group {
}

/* Teaser, sticky teaser and search (buildmode-3) */


.buildmode-3 .node,
.buildmode-teaser .node,
.buildmode-sticky .node {
}


.buildmode-3 .field,
.buildmode-teaser .field,
.buildmode-sticky .field {
}

.buildmode-3 h2,
.buildmode-teaser h2,
.buildmode-sticky h2 {
}

.last .buildmode-3 .node,
.last .buildmode-teaser .node,
.last .buildmode-sticky .node,
.field .buildmode-teaser .nd-region-left .field:last-child,
.field .buildmode-teaser .nd-region-middle .field:last-child,
.field .buildmode-teaser .nd-region-right .field:last-child  {
  margin-bottom: 0;
}

.nd-region-header {
  margin: 5px 0;
}

.buildmode-sticky .node  {
}

/* Block build mode */

.buildmode-block .node {
}

.buildmode-block .field {
  margin-bottom: 0;
}

/* Text list build mode */

.buildmode-text_list .node { 
}

.buildmode-text_list .field { 
}

/* DS styles */

.highlight-1 {
}

.highlight-2 {
}

.field-inline {
  display: inline;
  margin-right: 5px; 
}

.small {
  font-size: 0.9em;
}

.field-inline-small {
  display: inline;
  margin-right:5px; 
  font-size: 0.9em;
}

.field-inline p,
.field-inline-small p {
  display: inline;
}

.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 3px;
}

.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 3px;
}
 
.image_highlight img {
}

.smallbutton {
}

.smallbutton a {
}

.nd-search-highlight {
  padding: 0 5px;
  background: #29ABE2;
  color: #FEC;
}


/* =========================================================================
 *   CUSTOM FIELDS   
 * ========================================================================= */

.field-title h2 a {
  color: #29ABE2;
}

.field-item {
  margin-bottom: 10px;
}

.feed-icon {
  float: left;
  margin-right: 5px;
}

fieldset {
	margin: 5px 0;
	padding: 10px;
  border: 1px solid #463B33;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}

.field-ds-group-buttons {
  margin-top: 6px;
}

