@CHARSET "ISO-8859-1";

/* =========================================================================
 *
 *   Block administration page
 *
 * ========================================================================= */

.section-admin div.block-region{
  display: none;
}

.page-admin-build-block div#help, 
.page-admin-build-block-list div#help {
  position: relative;
  min-height: 210px;
}    

.page-admin-build-block div#help p,
.page-admin-build-block-list div#help p {
  margin-right: 190px;
  padding-right: 10px;
}    

.section-admin div#help div.help div.conimbo-layout {
  position: absolute;
  top:5px;
  right:0;
  width: 180px;
}

.section-admin div#help div.help div.conimbo-layout p {
  margin-right: 5px;
}

.page-admin-build-block #blocks tr.draggable td {
  padding-left: 5px;
}    