.menu-horizontal ul.menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}

.menu-horizontal ul.menu ul li {
	width:			100%;
	list-style-type: none;
	list-style-image: none;
}

.menu-horizontal ul.menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.menu-horizontal ul.menu li {
	float:			left;
	position:		relative;
  list-style-type: none;
  list-style-image: none;	
}

.menu-horizontal ul.menu a {
	display:		block;
	position:		relative;
}

.menu-horizontal ul.menu li:hover ul,
.menu-horizontal ul.menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}

.menu-horizontal ul.menu li:hover li ul,
.menu-horizontal ul.menu li.sfHover li ul {
	top:			-999em;
}

.menu-horizontal ul.menu li li:hover ul,
.menu-horizontal ul.menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

.menu-horizontal ul.menu li li:hover li ul,
.menu-horizontal ul.menu li li.sfHover li ul {
	top:			-999em;
}
.menu-horizontal ul.menu li li li:hover ul,
.menu-horizontal ul.menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
  padding-right:  2.25em;
  min-width:    1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
  position:   absolute;
  display:    block;
  right:      .75em;
  top:      1.05em; /* IE6 only */
  width:      10px;
  height:     10px;
  text-indent:  -999em;
  overflow:   hidden;
  background:   url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
  top:      .8em;
  background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
  background: url('../images/shadow.png') no-repeat bottom right;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}
