@CHARSET "ISO-8859-1";

/* =========================================================================
 *
 *   CUSTOMIZATIONS FOR THE LIGHTBOX2 MODULE    
 *        
 * ========================================================================= */

/* layout fixes */
  
#bottomNavClose {
  margin-top: 0px;
}

#imageData #bottomNav {
  height: auto;
  position: relative;
}

#imageData #imageDetails {
  padding-bottom: 10px;
}

#imageData #numberDisplay {
  padding-bottom:0;
}

#bottomNavClose,
#bottomNavClose:hover	 {
	background: transparent url(../images/fancybox.png) repeat -40px 0;
	background-color: transparent !important;
	cursor:pointer;
	height:30px;
	position:absolute;
	right:-15px;
	top:-15px;
	width:30px;
	z-index:1103;
	padding: 0;
}

#outerImageContainer {
  overflow: visible;
}