@CHARSET "ISO-8859-1";

/* Node actions edit-links */

.one-actions {
	display:none;
}

.one-actions-wrapper {
  position: absolute !important;
  z-index: 999 !important;
  width: 100%;
}

a.one-actions-toggler  {
  background: transparent url(images/gear-select.png) no-repeat 5px 0px !important;
  display: block !important;
  height: 20px !important;
  padding: 0 0px 0 6px !important;
  outline: none !important;
  text-indent: 34px !important;
  width: 32px !important;
  overflow: hidden !important;
  z-index: 1;
  position: absolute;
  top: -12px !important;
  right: -12px !important;
}

a.one-actions-toggler:hover,
a.one-actions-toggler-active {
	background-position: 5px -18px !important;
}

.one-actions-wrapper ul.one-actions-links {
  padding: 0 !important;
  background-color: #fff !important;
  clear: both !important;
  width: auto !important;
  margin: 0 !important;
  border: 1px solid #ccc;
  position: absolute;
  top: 7px;
  right: 0px;
  padding: 0.25em 0;  
  white-space: nowrap; 
  box-shadow: 2px 2px 2px #cccccc;
  -moz-box-shadow: 2px 2px 2px #cccccc;
  -webkit-box-shadow: 2px 2px 2px #cccccc;  
}

.one-actions-wrapper ul li,
.one-actions-wrapper ul li.odd,
.one-actions-wrapper ul li.even,
.one-actions-wrapper ul li.first,
.one-actions-wrapper ul li.last       {
  padding: 0 !important;
  border: none !important;
  list-style-type: none !important;
  list-style-image: none !important;  
  margin: 0 !important;
  background-color: transparent !important; 
  background-image: none !important; 
}

.one-actions-wrapper ul li a {
  color: #333 !important;
  display:block !important;
  line-height: 20px !important;
  text-decoration: none !important;
  border: none !important;
  text-align: left !important;
  padding: 2px 1em !important;
  font-size: 11px !important;
  background-image: none !important;
  text-transform: none !important;
  font-weight: normal !important;
}

.one-actions-wrapper ul li a:hover {
  color: #fff !important;	
  background-color: #999 !important;
  background-image: none !important;  
}

/* border */


div.admin-border {
  filter:alpha(opacity=25);
  -moz-opacity:0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
  position:absolute;
  height:10px;
  width:10px;
  background:#666;
}

div.admin-border-top {
}

div.admin-border-bottom {
}

div.admin-border-left {
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-left-radius-:5px;
}

div.admin-border-right {
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-right-radius-:5px;
  border-radius-bottomright: 5px;  
}
