/* =========================================================================
 *
 *   MENU.CSS
 *   Every menu that is created using the naming convention
 *   will get a class menu-menuname e.g. menu-toolbar.
 *        
 * ========================================================================= */
/* =========================================================================
 *   HORIZONTAL DROPDOWN    
 * ========================================================================= */
/* --------------------------------------------------------------------------------
		NAVIGATION ELEMENTS
-------------------------------------------------------------------------------- */
#navigation-outer {
  background: transparent url("../img/navigation_outer.png") repeat-x;
}

#navigation .inner {
  padding: 0;
}

.menu-horizontal {
  text-transform: uppercase;
}
.menu-horizontal ul a {
  display: block;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  letter-spacing: -0.075em;
}
.menu-horizontal ul a:hover {
  color: #fff;
}
.menu-horizontal ul.menu-level-1 li {
  background: transparent url("../img/navigation_sep_v.png") right no-repeat;
  padding: 0 10px;
  display: inline-block;
}
.menu-horizontal ul.menu-level-1 li.first {
  padding-left: 0;
}
.menu-horizontal ul.menu-level-1 li:hover, .menu-horizontal ul.menu-level-1 li.sfHover {
  color: green;
}
.menu-horizontal ul.menu-level-1 li:hover ul.menu-level-2, .menu-horizontal ul.menu-level-1 li.sfHover ul.menu-level-2 {
  width: 210px;
  top: 54px;
}
.menu-horizontal ul.menu-level-2 {
  padding: 10px;
  width: 190px;
  border: 1px solid #1a1a1a;
}
.menu-horizontal ul.menu-level-2 a {
  text-transform: none;
  padding: 5px;
}
.menu-horizontal ul.menu-level-2 a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: white;
}
.menu-horizontal ul.menu-level-2 li {
  background: transparent url("../img/sep_h.png") bottom repeat-x;
  padding: 0;
  border-right: none;
}
.menu-horizontal ul.menu-level-2 li.last {
  background: transparent;
}
.menu-horizontal ul.menu-level-2 li:hover ul, .menu-horizontal ul.menu-level-2 li.sfHover ul {
  top: 54px;
}
.menu-horizontal ul.menu ul {
	width: 14em !important;
}
/* --------------------------------------------------------------------------------
		BREADCRUMB
-------------------------------------------------------------------------------- */
#breadcrumb-outer {
  background: #fefefe url('../img/../img/spr_x-sa9671f644f.png') 0 0;
  height: 28px;
}

#breadcrumb {
  font-size: 0.75em;
  line-height: 2em;
  line-height: 2.4em;
}

ul.menu li div.active, ul.menu li.menu-divider {
  display: none!important;
}
