/* --------------------------------------------------------------------------------
    LAYOUTS
-------------------------------------------------------------------------------- */
.container-12 {
  width: 1010px;
  margin: 0 auto;
}

/* ------------------------------------------------
  LAYOUT ONE COLUMN (NO SIDEBARS)
------------------------------------------------ */
.layout-one-column #content-middle-grid,
body.no-sidebars #content-middle-grid {
  width: 1010px;
}
.layout-one-column #content-middle-grid span,
body.no-sidebars #content-middle-grid span {
  display: block;
}
.layout-one-column #content-middle-grid span.top,
body.no-sidebars #content-middle-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -115px no-repeat;
  height: 10px;
}
.layout-one-column #content-middle-grid span.bottom,
body.no-sidebars #content-middle-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -95px no-repeat;
  height: 20px;
}
.layout-one-column #content-middle-grid #content-middle span,
body.no-sidebars #content-middle-grid #content-middle span {
  display: inline;
}
.layout-one-column #content-middle-grid .inner,
body.no-sidebars #content-middle-grid .inner {
  background: transparent url("../img/main_full_content.png") repeat-y;
}

/* ------------------------------------------------
  LAYOUT ONE SIDEBAR ON THE LEFT/RIGHT SIDE
------------------------------------------------ */
.layout-left-sidebar #content-middle-grid,
.layout-left-sidebar #sidebar-a-grid,
.layout-left-sidebar #sidebar-b-grid,
.layout-right-sidebar #content-middle-grid,
.layout-right-sidebar #sidebar-a-grid,
.layout-right-sidebar #sidebar-b-grid {
  float: left;
}
.layout-left-sidebar #content-middle-grid,
.layout-right-sidebar #content-middle-grid {
  width: 691px;
  margin: 0 5px;
}
.layout-left-sidebar #content-middle-grid span,
.layout-right-sidebar #content-middle-grid span {
  display: block;
}
.layout-left-sidebar #content-middle-grid span.top,
.layout-right-sidebar #content-middle-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -145px no-repeat;
  height: 10px;
}
.layout-left-sidebar #content-middle-grid span.bottom,
.layout-right-sidebar #content-middle-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -125px no-repeat;
  height: 20px;
}
.layout-left-sidebar #content-middle-grid #content-middle span,
.layout-right-sidebar #content-middle-grid #content-middle span {
  display: inline;
}
.layout-left-sidebar #content-middle-grid .inner,
.layout-right-sidebar #content-middle-grid .inner {
  background: transparent url("../img/main_medium_content.png") repeat-y;
}
.layout-left-sidebar #content-middle-grid .inner .inner,
.layout-right-sidebar #content-middle-grid .inner .inner {
  background-image: none;
}
.layout-left-sidebar #sidebar-a-grid,
.layout-left-sidebar #sidebar-b-grid,
.layout-right-sidebar #sidebar-a-grid,
.layout-right-sidebar #sidebar-b-grid {
  margin: 0 10px;
  padding-top: 3px;
  width: 290px;
}
.layout-left-sidebar #sidebar-a-grid span,
.layout-left-sidebar #sidebar-b-grid span,
.layout-right-sidebar #sidebar-a-grid span,
.layout-right-sidebar #sidebar-b-grid span {
  display: block;
}
.layout-left-sidebar #sidebar-a-grid span.top,
.layout-left-sidebar #sidebar-b-grid span.top,
.layout-right-sidebar #sidebar-a-grid span.top,
.layout-right-sidebar #sidebar-b-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -40px no-repeat;
  height: 5px;
}
.layout-left-sidebar #sidebar-a-grid span.bottom,
.layout-left-sidebar #sidebar-b-grid span.bottom,
.layout-right-sidebar #sidebar-a-grid span.bottom,
.layout-right-sidebar #sidebar-b-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 0 no-repeat;
  height: 15px;
}
.layout-left-sidebar #sidebar-a-grid .inner,
.layout-left-sidebar #sidebar-b-grid .inner,
.layout-right-sidebar #sidebar-a-grid .inner,
.layout-right-sidebar #sidebar-b-grid .inner {
  background: transparent url("../img/block_sidebar_a_content.png") repeat-y;
}
.layout-left-sidebar #sidebar-a-grid,
.layout-right-sidebar #sidebar-a-grid {
  margin-left: 0;
}
.layout-left-sidebar #sidebar-b-grid,
.layout-right-sidebar #sidebar-b-grid {
  margin-right: 0;
}

/* ------------------------------------------------
  LAYOUT SIDEBARS ON THE LEFT AND RIGHT SIDE
------------------------------------------------ */
.layout-sidebars-left-and-right #content-middle-grid,
.layout-sidebars-left-and-right #sidebar-a-grid,
.layout-sidebars-left-and-right #sidebar-b-grid {
  float: left;
  display: inline;
  position: relative;
}
.layout-sidebars-left-and-right #content-middle-grid {
  float: left;
  width: 515px;
  /* Width - margin left & right */
  margin: 0 15px;
  /* */
}
.layout-sidebars-left-and-right #content-middle-grid .inner {
  padding: 20px 20px 30px;
}
.layout-sidebars-left-and-right #content-middle-grid span {
  display: block;
}
.layout-sidebars-left-and-right #content-middle-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -225px no-repeat;
  height: 10px;
}
.layout-sidebars-left-and-right #content-middle-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -155px no-repeat;
  height: 20px;
}
.layout-sidebars-left-and-right #content-middle-grid #content-middle span {
  display: inline;
}
.layout-sidebars-left-and-right #content-middle-grid .inner {
  background: transparent url("../img/spr_boxes/main_small_content.png") repeat-y;
}
.layout-sidebars-left-and-right #content-middle-grid .inner .inner {
  background-image: none;
}
.layout-sidebars-left-and-right #sidebar-a-grid,
.layout-sidebars-left-and-right #sidebar-b-grid {
  width: 230px;
}
.layout-sidebars-left-and-right #sidebar-a-grid span,
.layout-sidebars-left-and-right #sidebar-b-grid span {
  display: block;
}
.layout-sidebars-left-and-right #sidebar-a-grid span.top,
.layout-sidebars-left-and-right #sidebar-b-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -45px no-repeat;
  height: 5px;
}
.layout-sidebars-left-and-right #sidebar-a-grid span.bottom,
.layout-sidebars-left-and-right #sidebar-b-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -15px no-repeat;
  height: 15px;
}
.layout-sidebars-left-and-right #sidebar-a-grid .block .inner,
.layout-sidebars-left-and-right #sidebar-b-grid .block .inner {
  background: transparent url("../img/spr_boxes/block_sidebar_a_content_small.png") repeat-y;
  padding: 25px;
}
.layout-sidebars-left-and-right.one-sidebar.sidebar-left #content-middle-grid, .layout-sidebars-left-and-right.one-sidebar.sidebar-right #content-middle-grid {
  width: 745px;
  /* Width - margin left & right */
}
.layout-sidebars-left-and-right.one-sidebar.sidebar-left #content-middle-grid .inner, .layout-sidebars-left-and-right.one-sidebar.sidebar-right #content-middle-grid .inner {
  padding: 20px 20px 30px;
}
.layout-sidebars-left-and-right.one-sidebar.sidebar-left #content-middle-grid span.top, .layout-sidebars-left-and-right.one-sidebar.sidebar-right #content-middle-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -215px no-repeat;
}
.layout-sidebars-left-and-right.one-sidebar.sidebar-left #content-middle-grid span.bottom, .layout-sidebars-left-and-right.one-sidebar.sidebar-right #content-middle-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -185px no-repeat;
}
.layout-sidebars-left-and-right.one-sidebar.sidebar-left #content-middle-grid .inner, .layout-sidebars-left-and-right.one-sidebar.sidebar-right #content-middle-grid .inner {
  background: transparent url("../img/spr_boxes/main_small_onesidebar_content.png") repeat-y;
}

/* ------------------------------------------------
  BOTH SIDEBARS ON THE LEFT
------------------------------------------------ */
.layout-sidebars-left #sidebar-a-grid,
.layout-sidebars-left #sidebar-b-grid {
  float: left;
  display: inline;
  position: relative;
}
.layout-sidebars-left #sidebar-b-grid {
  margin: 0 0 0 15px;
}
.layout-sidebars-left #content-middle-grid {
  float: right;
  width: 515px;
  /* Width - margin left & right */
  margin: 0 0 0 15px;
  /* */
}
.layout-sidebars-left #content-middle-grid .inner {
  padding: 20px 20px 30px;
}
.layout-sidebars-left #content-middle-grid span {
  display: block;
}
.layout-sidebars-left #content-middle-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -225px no-repeat;
  height: 10px;
}
.layout-sidebars-left #content-middle-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -155px no-repeat;
  height: 20px;
}
.layout-sidebars-left #content-middle-grid #content-middle span {
  display: inline;
}
.layout-sidebars-left #content-middle-grid .inner {
  background: transparent url("../img/spr_boxes/main_small_content.png") repeat-y;
}
.layout-sidebars-left #content-middle-grid .inner .inner {
  background-image: none;
}
.layout-sidebars-left #sidebar-a-grid,
.layout-sidebars-left #sidebar-b-grid {
  width: 230px;
}
.layout-sidebars-left #sidebar-a-grid span,
.layout-sidebars-left #sidebar-b-grid span {
  display: block;
}
.layout-sidebars-left #sidebar-a-grid span.top,
.layout-sidebars-left #sidebar-b-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -45px no-repeat;
  height: 5px;
}
.layout-sidebars-left #sidebar-a-grid span.bottom,
.layout-sidebars-left #sidebar-b-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -15px no-repeat;
  height: 15px;
}
.layout-sidebars-left #sidebar-a-grid .block .inner,
.layout-sidebars-left #sidebar-b-grid .block .inner {
  background: transparent url("../img/spr_boxes/block_sidebar_a_content_small.png") repeat-y;
  padding: 25px;
}
.layout-sidebars-left.one-sidebar #content-middle-grid {
  width: 745px;
}
.layout-sidebars-left.one-sidebar #content-middle-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -215px no-repeat;
}
.layout-sidebars-left.one-sidebar #content-middle-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -185px no-repeat;
}
.layout-sidebars-left.one-sidebar #content-middle-grid .inner {
  background: transparent url("../img/spr_boxes/main_small_onesidebar_content.png") repeat-y;
}

/* ------------------------------------------------
  BOTH SIDEBARS ON THE RIGHT
------------------------------------------------ */
.layout-sidebars-right #sidebar-a-grid,
.layout-sidebars-right #sidebar-b-grid {
  float: left;
  display: inline;
  position: relative;
}
.layout-sidebars-right #sidebar-a-grid {
  margin: 0 15px 0 0;
}
.layout-sidebars-right #content-middle-grid {
  float: left;
  width: 515px;
  /* Width - margin left & right */
  margin: 0 15px 0 0;
}
.layout-sidebars-right #content-middle-grid .inner {
  padding: 20px 20px 30px;
}
.layout-sidebars-right #content-middle-grid span {
  display: block;
}
.layout-sidebars-right #content-middle-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -225px no-repeat;
  height: 10px;
}
.layout-sidebars-right #content-middle-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -155px no-repeat;
  height: 20px;
}
.layout-sidebars-right #content-middle-grid #content-middle span {
  display: inline;
}
.layout-sidebars-right #content-middle-grid .inner {
  background: transparent url("../img/spr_boxes/main_small_content.png") repeat-y;
}
.layout-sidebars-right #content-middle-grid .inner .inner {
  background-image: none;
}
.layout-sidebars-right #sidebar-a-grid,
.layout-sidebars-right #sidebar-b-grid {
  width: 230px;
}
.layout-sidebars-right #sidebar-a-grid span,
.layout-sidebars-right #sidebar-b-grid span {
  display: block;
}
.layout-sidebars-right #sidebar-a-grid span.top,
.layout-sidebars-right #sidebar-b-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -45px no-repeat;
  height: 5px;
}
.layout-sidebars-right #sidebar-a-grid span.bottom,
.layout-sidebars-right #sidebar-b-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -15px no-repeat;
  height: 15px;
}
.layout-sidebars-right #sidebar-a-grid .block .inner,
.layout-sidebars-right #sidebar-b-grid .block .inner {
  background: transparent url("../img/spr_boxes/block_sidebar_a_content_small.png") repeat-y;
  padding: 25px;
}
.layout-sidebars-right.one-sidebar #content-middle-grid {
  width: 745px;
}
.layout-sidebars-right.one-sidebar #content-middle-grid span.top {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -215px no-repeat;
}
.layout-sidebars-right.one-sidebar #content-middle-grid span.bottom {
  background: transparent url('../img/spr_boxes-sa05019289a.png') 0 -185px no-repeat;
}
.layout-sidebars-right.one-sidebar #content-middle-grid .inner {
  background: transparent url("../img/spr_boxes/main_small_onesidebar_content.png") repeat-y;
}

/* ------------------------------------------------
  GENERIC PROPRETIES
------------------------------------------------ */
#toolbar-outer {
  background-color: #fff;
}

#content-outer {
  background: url("../img/content_outer.png") left top repeat-x;
}

#content {
  padding: 30px 0;
}

#header-outer {
  background: url("../img/header_outer.png") left top repeat-x;
}

#content-middle-grid .inner {
  padding: 20px 30px 30px;
}

#sidebar-a-grid {
  font-size: 0.929em;
  line-height: 1.615em;
}

#doormat_footer {
  background: transparent url("../img/doormat_footer.png") center top no-repeat;
}

#footer-outer {
  background: transparent url("../img/footer.png");
}

/* --------------------------------------------------------------------------------
		CONTENT GENERALITIES
-------------------------------------------------------------------------------- */
body {
  font-family: Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.857em;
  line-height: 1.75em;
  color: #2f2f2f;
}
body body {
  font-size: 87.5%;
  line-height: 1.5em;
}
body html > body {
  font-size: 14px;
}

#logo h1 {
  margin: 0;
}

h1 {
  font-size: 2.143em;
  line-height: 1.4em;
  font-weight: normal;
  letter-spacing: -0.025em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: normal;
  letter-spacing: -0.025em;
}

h3 {
  font-size: 1.286em;
  line-height: 2.333em;
  font-weight: normal;
  letter-spacing: -0.025em;
}

td {
  padding: 15px;
  font-family: Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #2f2f2f;
}

/* --------------------------------------------------------------------------------
    NODES
-------------------------------------------------------------------------------- */
.field-post-date,
.field-author {
  color: #939191;
}

.field-news-image.float-left, .field-news-image.float-right {
  margin: 5px;
}

.faq-content {
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
    PANELS
-------------------------------------------------------------------------------- */
.panel-row-one h2.pane-title {
  font-size: 2.143em;
  line-height: 1.4em;
  font-weight: normal;
  letter-spacing: -0.025em;
  margin-bottom: 0.5em;
}
.panel-row-one .grey h2.pane-title {
  padding-left: 10px;
  padding-top: 10px;
}

/* --------------------------------------------------------------------------------
    LINKS/BUTTONS
-------------------------------------------------------------------------------- */
.field-read-more a {
  padding-right: 10px;
  background: transparent url("../img/arrow_more.png") no-repeat right 7px;
}

div.button {
  float: right;
  margin: 10px 0;
}
div.button a {
  background-image: none;
  padding: 2px 5px;
  text-decoration: none;
}
div.button a:hover {
  color: #fff;
  text-decoration: underline;
}

#top-link {
  color: #fff;
}

/* --------------------------------------------------------------------------------
    VIEWS
-------------------------------------------------------------------------------- */
.view h2 {
  font-size: 1.143em;
  line-height: 1.313em;
}
.view .buildmode-blog,
.view .buildmode-teaser {
  margin: 10px 0 20px 0;
}
.view .node  {
  border: 1px solid red;
}

.view-footer p {
  text-align: right;
}

.view-Polls.view-display-id-block_1 .node {
  border-bottom: 0;
}

/* --------------------------------------------------------------------------------
		HEADER
-------------------------------------------------------------------------------- */
#header .block-menu {
  float: right;
}
#header .block-menu li {
  float: left;
  margin: 0 5px;
}
#header .block {
  float: right;
  margin: 0 5px;
  padding: 5px 0;
}

/* =========================================================================
 *   FEDERAL HEADER
 * ========================================================================= */
#federalheader-outer {
  background: #FFF;
}

#federalheader {
  overflow: hidden;
  position: relative;
  min-height: 40px;
}

/* clearfix hack */
#blgm_belgiumHeader:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#blgm_belgiumHeader {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html #blgm_belgiumHeader {
  height: 1%;
}

#blgm_belgiumHeader {
  display: block;
}

/* End hide from IE-mac */
/* header */
#blgm_belgiumHeader {
  padding: 0 0.5em 0.25em 0;
  background: #ffffff;
}

#blgm_belgiumHeader.blgm_stretch {
  padding-left: 0;
}

#blgm_belgiumHeader div.blgm_wrapper {
  border-bottom: 3px solid #000;
  display: block;
  padding: 0 32px 0 0;
  margin-bottom: 2px;
  zoom: 1;
  height: 35px;
}

* html #blgm_belgiumHeader div.blgm_wrapper {
  overflow: visible;
}

/* language switch */
#federalheader #block-one_i18n-0 {
  float: left;
  width: 250px;
}

#federalheader ul.language-switcher,
#blgm_belgiumHeader ul#blgm_languageSwitch {
  margin: 0.5em 0.5em 0em 0.5em;
  float: left;
  display: inline;
  padding: 0;
}

#blgm_belgiumHeader.blgm_stretch ul#blgm_languageSwitch {
  margin-left: 0em;
}

#federalheader ul.language-switcher li,
#blgm_belgiumHeader ul#blgm_languageSwitch li {
  line-height: 1em;
  margin-right: 0.25em;
  text-align: center;
  float: left;
  display: inline;
  padding: 0;
  background: none;
}

#federalheader ul.language-switcher li a,
#blgm_belgiumHeader ul#blgm_languageSwitch li .blgm_lSwitch {
  padding: 0.1em;
  width: 1.5em;
  display: block;
  text-decoration: none;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  font-family: arial,verdana,sans-serif;
  height: 13px;
  line-height: 13px;
}

#federalheader ul.language-switcher li a.active,
#blgm_belgiumHeader ul#blgm_languageSwitch li.blgm_active .blgm_lSwitch {
  border: 1px solid #333333;
  background-color: #666666;
  color: #ffffff;
}

#federalheader ul.language-switcher li a,
#blgm_belgiumHeader ul#blgm_languageSwitch li a {
  text-decoration: none;
}

#federalheader ul.language-switcher li a:hover,
#blgm_belgiumHeader ul#blgm_languageSwitch li a.blgm_lSwitch:hover {
  border: 1px solid #333333;
  background-color: #666666;
  color: #ffffff;
  text-decoration: none;
}

/* .be link and logo */
#federalheader .block-block,
#blgm_beLink {
  color: #333333;
  padding: 0.9em 1em 0.5em 0em;
  font-size: 12px;
  font-family: arial, verdana, sans-serif;
  text-align: right;
  margin-left: 250px;
  width: 660px;
}

#federalheader .block-block .content a,
#blgm_beLink a {
  color: #333333;
  text-decoration: underline;
  font-weight: 300;
  font-family: arial, verdana, sans-serif;
  border: none;
}

#federalheader .block-block .content a:hover,
#blgm_beLink a:hover {
  color: #000000;
  text-decoration: underline;
  font-weight: 300;
  font-family: arial, verdana, sans-serif;
  border: none;
}

#blgm_beLogo {
  text-align: right;
  position: absolute;
  width: 32px;
  right: 5px;
  top: 16px;
}

* html #blgm_beLogo {
  bottom: -0.05em;
}

#blgm_beLogo a, #blgm_beLogo a:hover, #blgm_beLogo:visited {
  border: none;
}

#blgm_beLink {
  padding: 0.6em 1em 0.5em 0;
  font-size: 0.85m;
  width: 700px;
}

#toolbar {
  position: relative;
  float: right;
  padding: 10px 0;
}
#toolbar .block-menu {
  float: right;
}
#toolbar .block-menu li {
  float: left;
  margin: 0 5px;
}
#toolbar .block {
  float: right;
  margin: 0 5px;
  padding: 5px 0;
}

#search-block-form, #fedict-search-block-form {
  float: right;
  margin: 0 5px;
}
#search-block-form input.form-text, #fedict-search-block-form input.form-text {
  outline: none;
  background: transparent url("../img/input.png") no-repeat 0 -204px;
  padding: 6px;
  padding-left: 30px;
  border-right: none;
}
#search-block-form input.button, #fedict-search-block-form input.button {
  padding: 6px 7px;
  margin-left: -10px;
  color: #fff;
}

#search-block-form div.form-inner div.form-item, #fedict-search-block-form div.form-inner div.form-item {
  display: inline;
  float: left;
  clear: none;
}

#search-block-form input.button, #fedict-search-block-form input.button {
  margin-left: -1px;
  margin-top: -1px;
}

#search-block-form label {
  display: none;
}

#breadcrumb {
  overflow: hidden;
}
#breadcrumb a {
   float: left;
}
#breadcrumb em {
    float: left;
	font-style:normal;
}
#breadcrumb span {
  background: transparent url("../img/sep_breadcrumb.png") no-repeat 7px 0;
  display: block;
  float: left;
  text-indent: -999em;
  padding: 0 7px;
  width: 15px;
  height: 29px;
}

/* --------------------------------------------------------------------------------
		BLOCKS
-------------------------------------------------------------------------------- */
#sidebar-a .block,
#sidebar-b .block {
  margin-bottom: 1.5em;
}
#sidebar-a .block .inner,
#sidebar-b .block .inner {
  padding: 36px;
}
#sidebar-a .block h2.block-title,
#sidebar-b .block h2.block-title {
  color: #333333;
}
#sidebar-a .block .item-list li,
#sidebar-b .block .item-list li {
  background-image: url("../img/sep_h_points.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}
#sidebar-a .block .item-list .nd-region-header,
#sidebar-b .block .item-list .nd-region-header {
  font-size: 1em;
  line-height: 1.5em;
}
#sidebar-a .block .item-list .nd-region-header a,
#sidebar-b .block .item-list .nd-region-header a {
  color: #383737;
  text-decoration: none;
}
#sidebar-a .block .item-list .nd-region-header a:hover,
#sidebar-b .block .item-list .nd-region-header a:hover {
  text-decoration: underline;
}
#sidebar-a .block .item-list .nd-region-middle,
#sidebar-b .block .item-list .nd-region-middle {
  font-size: 0.857em;
  line-height: 1.75em;
  color: #939191;
}

#sidebar-a .block-menu,
#sidebar-b .block-menu {
  font-size: 0.929em;
  line-height: 1.615em;
}
#sidebar-a .block-menu h2.block-title,
#sidebar-b .block-menu h2.block-title {
  background-image: url("../img/navigation_outer.png");
  background-repeat: repeat-x;
  margin: 0 4px 0 5px;
  padding-left: 20px;
  color: #fff;
}
#sidebar-a .block-menu ul,
#sidebar-b .block-menu ul {
  margin: 0 3px;
}
#sidebar-a .block-menu li a,
#sidebar-b .block-menu li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  background-image: url("../img/navigation_sub_arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
}
#sidebar-a .block-menu li a.active, #sidebar-a .block-menu li a.active-trail,
#sidebar-b .block-menu li a.active,
#sidebar-b .block-menu li a.active-trail {
  background-color: #363636;
  color: #363636;
  font-weight: bold;
}
#sidebar-a .block-menu li a:hover,
#sidebar-b .block-menu li a:hover {
  text-decoration: underline;
}
#sidebar-a .block-menu li li a,
#sidebar-b .block-menu li li a {
  padding-left: 35px;
}
#sidebar-a .block-menu li,
#sidebar-b .block-menu li {
  border-bottom: 1px solid #e1e5e9;
}
#sidebar-a .block-menu li.last,
#sidebar-b .block-menu li.last {
  border-bottom: none;
}
#sidebar-a .block-menu .inner,
#sidebar-b .block-menu .inner {
  padding: 0;
}

/* block-conimbo-conimbo_feeds */
#block-conimbo-conimbo_feeds {
  position: absolute;
  top: 50px;
  right: 0px;
}

#content .panel-row .panel-pane {
  padding: 10px;
}
#content .panel-row.panel-row-one .panel-pane {
  padding-top: 0;
}

.panel-col-first .panel-pane {
  padding-left: 0;
}

.panel-col-last .panel-pane {
  padding-right: 0;
}

#content .panel-row .panel-panel {
  /* mod */
  /* margin bottom needs to be < -9px */
  /* this zoom required for IE5.5 only*/
  /* complex */
  /* position/zoom required for IE7, 6, 5.5 */
  /* ----- flow (extends complex) ----- */
  /* margin top = bottom height - corner height */
}
#content .panel-row .panel-panel .mod {
  margin: 10px;
}
#content .panel-row .panel-panel .mod .in {
  /*background: url(skin/transparent.png) repeat left top;*/
}
#content .panel-row .panel-panel .bd, #content .panel-row .panel-panel .ft, #content .panel-row .panel-panel .hd {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}
#content .panel-row .panel-panel b.top, #content .panel-row .panel-panel b.top b, #content .panel-row .panel-panel b.bottom, #content .panel-row .panel-panel b.bottom b {
  display: block;
  background-repeat: no-repeat;
  font-size: 1%;
  position: relative;
  z-index: 10;
}
#content .panel-row .panel-panel .tl, #content .panel-row .panel-panel .tr, #content .panel-row .panel-panel .bl, #content .panel-row .panel-panel .br {
  height: 10px;
  width: 10px;
  float: left;
}
#content .panel-row .panel-panel .tl {
  background-position: left top;
}
#content .panel-row .panel-panel .tr {
  background-position: right top;
}
#content .panel-row .panel-panel .bl {
  background-position: left bottom;
}
#content .panel-row .panel-panel .br {
  background-position: right bottom;
}
#content .panel-row .panel-panel .br, #content .panel-row .panel-panel .tr {
  float: right;
}
#content .panel-row .panel-panel .tr, #content .panel-row .panel-panel .tl {
  overflow: hidden;
  margin-bottom: -32000px;
}
#content .panel-row .panel-panel .bl, #content .panel-row .panel-panel .br {
  margin-top: -10px;
}
#content .panel-row .panel-panel .top {
  background-position: center top;
}
#content .panel-row .panel-panel .bottom {
  background-position: center bottom;
  _zoom: 1;
}
#content .panel-row .panel-panel .complex {
  overflow: hidden;
  *position: relative;
  *zoom: 1;
}
#content .panel-row .panel-panel .complex .tl, #content .panel-row .panel-panel .complex .tr {
  height: 32000px;
  margin-bottom: -32000px;
  width: 10px;
}
#content .panel-row .panel-panel .complex .bl, #content .panel-row .panel-panel .complex .br {
  /*margin-top:0;*/
}
#content .panel-row .panel-panel .complex .top {
  height: 5px;
}
#content .panel-row .panel-panel .complex .bottom {
  height: 5px;
  /*margin-top:-10px;*/
}
#content .panel-row .panel-panel .flow {
  margin: 6px;
}
#content .panel-row .panel-panel .flow b {
  background-image: url("../img/panel_style_grey.png");
}
#content .panel-row .panel-panel .flow.grey b {
  background-image: url("../img/panel_style_grey.png");
}
#content .panel-row .panel-panel .flow.grey .in {
  padding: 0 4px;
  background-color: #f5f5f5;
}
#content .panel-row .panel-panel .flow.light b {
  background-image: url("../img/panel_style_light.png");
}
#content .panel-row .panel-panel .flow.light .in {
  padding: 0 4px;
}
#content .panel-row .panel-panel .flow.light .panel-pane {
  background-image: url("../img/panel_style_light.png");
  background-position: center;
  background-repeat: no-repeat;
}
#content .panel-row .panel-panel .flow .top {
  height: 4px;
}
#content .panel-row .panel-panel .flow .bottom {
  height: 4px;
  margin-top: -4px;
}
#content .panel-row .panel-panel .flow .br, #content .panel-row .panel-panel .flow .bl {
  margin-top: -6px;
}

/* --------------------------------------------------------------------------------
		NAVIGATION ELEMENTS
-------------------------------------------------------------------------------- */
#navigation-outer {
  background: transparent url("../img/navigation_outer.png") repeat-x;
}

#navigation .inner {
  padding: 0;
}

.menu-horizontal {
  text-transform: uppercase;
}
.menu-horizontal ul a {
  display: block;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  letter-spacing: -0.075em;
}
.menu-horizontal ul a:hover {
  color: #fff;
}
.menu-horizontal ul.menu-level-1 li {
  background: transparent url("../img/navigation_sep_v.png") right no-repeat;
  padding: 0 10px;
  display: inline-block;
}
.menu-horizontal ul.menu-level-1 li.first {
  padding-left: 0;
}
.menu-horizontal ul.menu-level-1 li:hover, .menu-horizontal ul.menu-level-1 li.sfHover {
  color: green;
}
.menu-horizontal ul.menu-level-1 li:hover ul.menu-level-2, .menu-horizontal ul.menu-level-1 li.sfHover ul.menu-level-2 {
  width: 210px;
  top: 54px;
}
.menu-horizontal ul.menu-level-2 {
  padding: 10px;
  width: 190px;
  border: 1px solid #1a1a1a;
}
.menu-horizontal ul.menu-level-2 a {
  text-transform: none;
  padding: 5px;
}
.menu-horizontal ul.menu-level-2 a:hover {
  text-decoration: underline;
  background-color: transparent;
  color: white;
}
.menu-horizontal ul.menu-level-2 li {
  background: transparent url("../img/sep_h.png") bottom repeat-x;
  padding: 0;
  border-right: none;
}
.menu-horizontal ul.menu-level-2 li.last {
  background: transparent;
}
.menu-horizontal ul.menu-level-2 li:hover ul, .menu-horizontal ul.menu-level-2 li.sfHover ul {
  top: 54px;
}

/* --------------------------------------------------------------------------------
		BREADCRUMB
-------------------------------------------------------------------------------- */
#breadcrumb-outer {
  background: #fefefe url('../img/../img/spr_x-sa9671f644f.png') 0 0;
  height: 28px;
}

#breadcrumb {
  font-size: 0.857em;
  line-height: 1.75em;
  line-height: 2.4em;
}

ul.menu li div.active, ul.menu li.menu-divider {
  display: none!important;
}

/* --------------------------------------------------------------------------------
		DOORMAT
-------------------------------------------------------------------------------- */
#doormat-container {
  color: #fff;
}
#doormat-container a {
  color: #fff;
}

#doormat .inner {
  padding: 3.5em 0;
}
#doormat .panel-col .panel-panel {
  margin: 0 20px;
}
#doormat h2.pane-title {
  text-transform: uppercase;
  font-size: 0.857em;
  line-height: 1.75em;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-weight: normal;
  background: transparent url("../img/sep_h.png") bottom repeat-x;
}
#doormat .pane-content {
  font-size: 0.786em;
  line-height: 1.909em;
}

/* --------------------------------------------------------------------------------
		FOOTER
-------------------------------------------------------------------------------- */
#footer {
  font-size: 0.786em;
  line-height: 1.909em;
  padding: 2.5em 0;
}
#footer .block {
  float: left;
}
#footer .block li {
  float: left;
  margin: 0 10px;
}

#footer-message {
  float: right;
}

#footer-container {
  color: #fff;
}
#footer-container a {
  color: #fff;
}

/* --------------------------------------------------------------------------------
		COLORS (programmatically generated by theme settings form)
-------------------------------------------------------------------------------- */
#toolbar-outer {
  background-color: #fff;
}

.menu-horizontal ul a:hover {
  background-color: #55a7fc;
}

/* --------------------------- Background strong color */
#navigation-outer,
.menu-horizontal ul ul,
#doormat_footer,
#sidebar-a .block .item-list li,
div.button a,
.poll .bar .foreground,
#top-link,
#search-theme-form input.button,
#search-block-form input.button,
#fedict-search-block-form input.button,
#sidebar-a .block-menu h2.block-title,
#sidebar-b .block-menu h2.block-title {
  background-color: #294c95;
}

/* --------------------------- Foreground strong color */
/* --------------------------- Background light color */
body,
#header-outer,
#content-outer,
.poll .bar,
#content .panel-row .panel-panel .flow.light b,
#content .panel-row .panel-panel .flow.light .panel-pane {
  background-color: #b0c5dc;
}

/* --------------------------- Border light color */
#top-link,
#search-theme-form input.form-text,
#search-theme-form input.button,
#search-block-form input.button,
#fedict-search-block-form input.form-text,
#fedict-search-block-form input.button {
  border: 1px solid #b0c5dc;
}

/* --------------------------- Foreground light color */
.menu-horizontal ul.menu-level-2 a {
  color: #b0c5dc;
}

/* --------------------------- Links */
a {
  color: #26478c;
}
a:hover {
  color: #ec7d2c;
}
a:visited {
  color: #759fb4;
}
a:visited:hover {
  color: #ec7d2c;
}

#sidebar-a .block-menu a {
  background-color: #26478c;
}
#sidebar-a .block-menu a:hover {
  background-color: #ec7d2c;
}
#sidebar-a .block-menu a:visited {
  background-color: #759fb4;
}
#sidebar-a .block-menu a:visited:hover {
  background-color: #ec7d2c;
}

.view-Downloads .views-row, .view-tweets .item-list ul li, .view-Agenda .views-row {
  border-bottom: 1px solid #e1e5e9;
}

.view-Downloads .views-row {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.block .view-Downloads .views-row {
  margin-bottom: 3px;
  padding-bottom: 0px;
}

.view-tweets .item-list ul li {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.view-tweets .item-list ul li.last {
  border: 0;
}

.view-Agenda .views-row {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.view-Agenda .views-row-last {
  border: 0;
}

.date-display-single {
  color: #939191;
}

div.button {
  display: inline-block;
}
div.button a {
  color: #fff;
  text-decoration: underline!important;
}

.addthis_toolbox {
  width: 100%;
}

.view-Polls .node {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E1E5E9;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

table.views-table {
  font-family: verdana,arial,sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #E1E5E9;
  border-collapse: collapse;
}
table.views-table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  background-color: #F2F2F2;
  border-color: #E1E5E9;
  background-color: #dedede;
}
table.views-table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #E1E5E9;
  background-color: #ffffff;
}

/**
 *   Drupal messages
 */
fieldset.search-advanced {
  clear: left;
}

#messages {
  margin: 5px;
}

#messages div.messages {
  padding: 7px;
}

#messages div.status {
  color: #005A04;
  border: 1px solid #005A04;
  background-color: #CCFFBB;
}

#messages div.error {
  color: #363636;
  border: 1px solid #c52020;
  background-color: #FFCCCC;
}

/*
 * SEARCH
 */
.buildmode-3 .node-type-files {
  margin-left: 65px;
}
