/* =========================================================================
 *
 *   FEATURES.CSS
 *   Provides some default layout css for features. 
 *   The styling should be done in the actual theme.
 *        
 * ========================================================================= */

/* =========================================================================
*   PANELS
* ========================================================================= */
/* Hide the panel page titles */
body.node-type-panel h1.title {
  position:  absolute;
  left: -9999px;
}

.panel-panel {
  padding-bottom: 1px; /* next panel will stay in place if current one is empty */
}

#content-middle .panel-row {
  clear: both;
}

/* panel-3col-stacked and panel-3col */
.panel-3col-stacked .panel-col,
.panel-3col .panel-col   { 
  width: 50%;
}

.panel-3col-stacked .panel-col-first,
.panel-3col-stacked .panel-col-last,
.panel-3col .panel-col-first,
.panel-3col .panel-col-last  { 
  width: 25%;
}


/* =========================================================================
 *   SPLASH
 * ========================================================================= */

html,
body.page-splash #body-inner,
body.page-splash {
  height: 100%;
}

body.page-splash #body-inner {
  display: table;
  width: 700px;
  margin: 0 auto;  
}

body.page-splash #page {
  vertical-align: middle; 
  display: table-cell;
  width: 700px;
  padding: 0;
}

#splash-left {
  float: left;
  width: 49%;
}

#splash-right {
  float: right;
  width: 49%;
}


/* =========================================================================
 *   GALLERY
 * ========================================================================= */

/* thumbnails view */

.field-gallery-thumbnails .views-view-grid td {
  line-height: 0; /* Avoid extra white space under td */
}

/* slideshow view */

.field-gallery-slideshow .views-slideshow-controls-top {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}

.field-gallery-slideshow .views_slideshow_controls {
  float: left;
}

.field-gallery-slideshow .views_slideshow_controls a {
  padding-right: 10px;
}

.field-gallery-slideshow .views_slideshow_image_count {
  float: right;
}

.field-gallery-slideshow .views_slideshow_main {
  clear: both;
  text-align: center;
}

.field-gallery-slideshow .views_slideshow_teaser_section {
  margin: 0 auto;
}

field-gallery-slideshow .views_slideshow_thumbnailhover_div_breakout_teaser {
  float: left;
}

.field-gallery-slideshow .views-slideshow-controls-bottom {
  margin-top: 5px;
}

.field-gallery-slideshow .views_slideshow_thumbnailhover_div_breakout_teaser {
  padding: 0 5px 0 0;
  float: left;
}


/* =========================================================================
*   FAQ
* ========================================================================= */

.faq-question {
  margin-top: 12px;
  padding: 0; /* Reset for faq.css */
}

.faq-answer {
  padding: 6px 0 0 0; /* Reset for faq.css */
}


/* =========================================================================
*   DOCUMENTS
* ========================================================================= */

/* document fields */

.field-file-info {
  text-transform: uppercase;
}

/* full page defaults */

.buildmode-full .node-type-document .nd-region-left {
  width: 160px;
}

.buildmode-full .node-type-document .nd-sidebar-left .nd-region-middle,
.buildmode-full .node-type-document .nd-two-sidebars .nd-region-middle {
  margin-left: 160px;
}

.buildmode-full .nd-region-middle .field {
  margin-bottom: 5px;
}


/* =========================================================================
*   POI
* ========================================================================= */

.view-Locations .vd-region-right .field-rows {
  padding-left: 10px;
}

.buildmode-full .field-nd-location-gmap {
  margin-bottom: 15px;
}

.buildmode-full .node-type-location .field-location-image {
  float: left;
  margin: 0 15px 15px 0;
}

.buildmode-full .node-type-location .nd-region-left {
  width: 220px;
  padding-right: 15px;
}

.buildmode-full .node-type-location .nd-region-middle {
  margin-left: 235px;
}

.gmap-popup {
  max-width: 350px;
}

/* filter form */

.views-exposed-form input#edit-postal-code {
  width: 200px;
  margin-right: 50px;
}

.views-exposed-form select#edit-tid {
  margin-top: 1px;
}


/* =========================================================================
*   PRODUCTS
* ========================================================================= */

/* category overview page */

.buildmode-teaser .node-type-product_category .nd-region-right {
  width: 178px;
}

.buildmode-teaser .node-type-product_category .nd-two-sidebars .nd-region-middle,
.buildmode-teaser .node-type-product_category .nd-sidebar-right .nd-region-middle {
  margin-right: 193px;
  padding-right: 15px; 
}

.field-random-products .item-list ul li {
  float: left;
  margin-left: 5px;
}

.field-random-products .item-list ul li.first {
  margin-left: 0px;
}

.buildmode-teaser .node-type-product_category .field-random-products,
.buildmode-teaser .node-type-product_category .field-random-products .field-label  {
  margin-bottom: 0.9em;
  font-weight: normal;
}

/* product grid */

.views-view-grid .buildmode-teaser .node-type-product,
.views-view-grid .buildmode-sticky .node-type-product  {
  margin-left: 38px
}

.views-view-grid td.col-1 .buildmode-teaser .node-type-product,
.views-view-grid td.col-1 .buildmode-sticky .node-type-product {
  margin-left: 0;
}

.views-view-grid .buildmode-teaser .node-type-product .field,
.views-view-grid .buildmode-sticky .node-type-product .field   {
  margin-bottom: 0;
}

.views-view-grid .buildmode-sticky .node {
  background: transparent none;
  padding: 0;
}

/* views switch overwrite */

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper {
  float: none;
  margin: 0px;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul {
  text-align: left; 
  margin: 0;
  font: inherit;
  border-bottom: 0 none;
  list-style-type: none;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul li {
  display: inline;
  background: none;
  padding: 0;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul li a {
  padding: 2px 8px;
  border: 0 none;
  background-color: transparent;
  color: inherit;
  margin-right: 0px;
  text-decoration: none;
  border-bottom: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0;
  border-radius: 0;
}

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper ul li a.viewsdisplaytabs-active {
  border-bottom: 0 none;
  color: inherit; /* set selected tab link color as desired */
  padding: 2px 8px;
}

/* product detail page */

.field-product-image-extra .field-item {
  float: left;
  margin-right: 8px;
}

/* category block */

#block-conimbo-conimbo_product_categories ul li {
  position: relative;
}

#block-conimbo-conimbo_product_categories ul li .item-counter {
  position: absolute;
  top: 0; 
  right: 0;
}


/* =========================================================================
*   User registration
* ========================================================================= */

#user-login-form {
  text-align: left;
}
 
#body-inner .password-description {
  margin-left: 150px;
  padding: 5px;
}

.profile .field {
  margin-bottom: 15px;
}

.profile .field .field {
  margin-bottom: 2px;
}


/* =========================================================================
*   Memory list
* ========================================================================= */

/* Memory list view */

.view-memory-list .vd-region-header .field-views-print,
.view-memory-list .vd-region-footer .field-views-flag-unflag-memory-list   {
  float: right;
}

.view-memory-list .vd-region-header .field-views-flag-counter-memory-list {
  float: left;
}

.view-memory-list em {
  font-style: inherit;
}

.buildmode-flag_list .node {
  width: auto;
}

.buildmode-flag_list .nd-region-middle {
  padding-right: 15px;
}

li.last .buildmode-flag_list .node {
  border-bottom: 0 none;
}

.buildmode-flag_list .flag-message {
  width: 230px;
}

.buildmode-flag_list .nd-region-footer {
  display: none;
}

.buildmode-flag_list .disabled {
  background-color: #f8f8f8;
}

.buildmode-flag_list .flag-message {
  display: none;
}

.buildmode-flag_list .disabled .field-flag-button-memory-list {
  float: right;
} 

/* flag message and button */

.disabled .field-flag-button-memory-list a.flag-action {
  background: 0 none;
  padding: 0;
  border: 0;
}

.flag-message {
  left:0;
  position:absolute;
  top:25px; 
  z-index: 100;
}

.flag-waiting .flag-throbber {
  background: url(../images/ajax-loader.gif) no-repeat right center;
  padding-left: 13px;
}

/* addthis */

.addthis_toolbox {
  width: 151px;
}


/* =========================================================================
 *  SEARCH AND FILTERS  
 * ========================================================================= */

#search-form .form-item,
.views-exposed-form .views-widget  {
  margin: 0;
  float: left;
}

#search-form .form-submit {
  float: left;
  margin: 0 0 0 5px;
}

#search-form label {
  margin-right: 5px;
  line-height: 20px;
  width: auto;
  float: left;
}

#search-form .container-inline {
  float: left;
}

/* unclick facet filter in search form */

.apachesolr_current_search a.apachesolr-unclick {
  display: block;
  clear: none;
  float: left;
  margin: 0 0 0 6px;
}


/* =========================================================================
*   CALL TO ACTION
* ========================================================================= */
  
.buildmode-full .node-type-call_to_action .field { /* prevent field margin in cta */
  margin-bottom: 0;
}
  
.node-type-call_to_action .node-inner {
  overflow: hidden;
 }
 
.buildmode-full .node-type-call_to_action .nd-region-left {
  width: 65px;
}

.buildmode-full .node-type-call_to_action .nd-sidebar-left .nd-region-middle,
.buildmode-full .node-type-call_to_action .nd-two-sidebar .nd-region-middle {
  margin-left: 65px;
}


/* =========================================================================
*   RATING - FIVESTAR
* ========================================================================= */
  
#content .field-fivestar-widget form.fivestar-widget label,
#content .field-fivestar-widget div.fivestar-static-form-item label {
  float: none;
  width: auto;
}

#content .field-fivestar-widget form.fivestar-widget .description {
  float: left;
  margin: 0;
}

#content .field-fivestar-widget .fivestar-widget {
  float: left;
  margin-right: 15px;
}


/* =========================================================================
 *   Workflow
 * ========================================================================= */

.view-workflow-summary td.views-field,
.view-workflow-summary th.views-field,
.view-workflow-pending td.views-field,
.view-workflow-pending th.views-field
{
  padding-left: 5px; 
}

.view-workflow-summary .views-exposed-form label {
  padding-left: 5px;
}


/* =========================================================================
*   EVENTS
* ========================================================================= */

.events #ongoing-events-footer a {
  text-align: right;
  margin-right: 10px;
}

/* detail page */

.buildmode-full .node-type-event .field-ds-group-address .field-label {
  font-size:1.2em;
  margin-bottom:5px;
}

.buildmode-full .node-type-event .nd-region-footer .field-related-events,
.buildmode-full .node-type-event .nd-region-footer .field-recent-events {
  width: 50%;
  float: left;
}

.buildmode-full .node-type-event .nd-region-footer .field-related-events .block,
.buildmode-full .node-type-event .nd-region-footer .field-recent-events .block {
  padding-right: 10px;
  width: auto;
}

/* archive */

.buildmode-text_list .node-type-event {
  margin: 0.5em 0;
}

.buildmode-text_list .node-type-event .nd-region-right {
  width: 50%;
}

.buildmode-text_list .node-type-event .nd-sidebar-right .nd-region-middle,
.buildmode-text_list .node-type-event .nd-two-sidebars .nd-region-middle {
  width: 50%;
}
  

/* =========================================================================
*   SITEMAP
* ========================================================================= */

#site-map {
  overflow: hidden;
}

.sitemap-left {
  width: 50%;
  float: left;
}

.sitemap-left .sitemap-box {
  margin-right: 10px;
}

.sitemap-right {
  width: 50%;
  float: right;
}