/* =========================================================================
 *
 *   GENERAL STYLES    
 *        
 * ========================================================================= */

/* =========================================================================
 *   DS: Starting dimensions.
 * ========================================================================= */

/* Teaser, sticky teaser and search */

.buildmode-teaser .nd-region-left,
.buildmode-sticky .nd-region-left {
  width: 160px;
}

.buildmode-3 .nd-two-sidebars .nd-region-middle,  
.buildmode-teaser .nd-sidebar-left .nd-region-middle,
.buildmode-teaser .nd-two-sidebars .nd-region-middle,
.buildmode-sticky .nd-sidebar-left .nd-region-middle,
.buildmode-sticky .nd-two-sidebars .nd-region-middle {
  margin-left: 160px;
}

.buildmode-3 .nd-sidebar-left .nd-region-middle {
  margin-left: 65px;
}

.buildmode-3 .nd-region-right,
.buildmode-teaser .nd-region-right,
.buildmode-sticky .nd-region-right {
  width: 100px;
}

.buildmode-3 .nd-sidebar-right .nd-region-middle,
.buildmode-3 .nd-two-sidebars .nd-region-middle,
.buildmode-teaser .nd-sidebar-right .nd-region-middle,
.buildmode-teaser .nd-two-sidebars .nd-region-middle,
.buildmode-sticky .nd-sidebar-right .nd-region-middle,
.buildmode-sticky .nd-two-sidebars .nd-region-middle {
  margin-right: 100px;
}

/* block list */

.buildmode-3 .nd-region-left,
.buildmode-block .nd-region-left {
  width: 65px;
}

.buildmode-block .nd-two-sidebars .nd-region-middle,
.buildmode-block .nd-sidebar-left .nd-region-middle {
  margin-left: 65px;
}

.buildmode-block .nd-region-right {
  width: 65px;
}

.buildmode-block .nd-two-sidebars .nd-region-middle, 
.buildmode-block .nd-sidebar-right .nd-region-middle {
  margin-right: 65px;
}

/* text list */

.buildmode-text_list .nd-region-left,
.buildmode-text_list .nd-region-right {
  width: 100px;
}

.buildmode-text_list .nd-two-sidebars .nd-region-middle,
.buildmode-text_list .nd-sidebar-left .nd-region-middle {
  margin-left: 100px;
}

.buildmode-text_list .nd-two-sidebars .nd-region-middle,
.buildmode-text_list .nd-sidebar-right .nd-region-middle {
  margin-right: 100px;
}

/* field groups */

.field-ds-group-buttons {
	clear: both;
}

/* Documents and events: the teaser view uses a smaller image than other teasers */

.buildmode-teaser .node-type-document .nd-region-left,
.buildmode-teaser .node-type-event .nd-region-left {
  width: 60px;
}

.buildmode-teaser .node-type-document .nd-sidebar-left .nd-region-middle,
.buildmode-teaser .node-type-document .nd-two-sidebars .nd-region-middle,
.buildmode-teaser .node-type-event .nd-sidebar-left .nd-region-middle,
.buildmode-teaser .node-type-event .nd-two-sidebars .nd-region-middle {
  margin-left: 70px;
}

.buildmode-teaser div.node-type-event .nd-region-right {
  width: 160px;
}

.buildmode-teaser div.node-type-document .nd-region-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
}

.buildmode-teaser .node-type-document .nd-sidebar-right .nd-region-middle, 
.buildmode-teaser .node-type-document .nd-two-sidebars .nd-region-middle,
.buildmode-teaser .node-type-event .nd-sidebar-right .nd-region-middle, 
.buildmode-teaser .node-type-event .nd-two-sidebars .nd-region-middle  {
  margin-right: 160px;
}

/*.buildmode-3 .node-type-document .nd-region-left img.filefield-icon,*/
.buildmode-full .node-type-document .nd-region-left img.filefield-icon {
  padding:55px; /* Add padding so that it takes the same size as the image */
}

.buildmode-teaser .node-type-document .nd-region-left img.filefield-icon,
.buildmode-block .node-type-document .nd-region-left img.filefield-icon {
  padding: 19px; /* Add padding so that it takes the same size as the image */
}

/* DS region styles */

.show_region_on_hover {
	display: none;
}


/* =========================================================================
 *   MENU RESET    
 * ========================================================================= */

#subheader-grid {
  position: static; /* menu hover over flash/image fix for IE7 */
}

.block-menu ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: visible;
}

.block-menu ul.menu li {
  list-style-image: none;
  list-style-type: none;
  background-image: none;
  margin: 0;
  padding: 0; 
  position: relative; 
}

.block-menu ul.menu a {
  display: block;
  position: relative;
}

ul.menu li div.active,
ul.menu li.menu-divider {
  overflow: hidden;
  display: none;
}


/* other */

.views-view-grid td {
	padding: 0 10px 10px 0;
  
}

/* conimbo layouts in theme config */

div.conimbo-layouts div.form-item {
  display:block;
  float:left;
  height:180px;
  width:130px;
  margin: 15px 0;
  padding: 3px;
}

div.conimbo-layouts div.form-item label {
  display: block;
  position: relative;
  height:180px;
  text-align:center;
  width:130px;
}

div.conimbo-layouts div.form-item img {
  height: 111px;
  width: 100px;
  margin: 10px auto;
}

.conimbo-layouts label input {
  bottom:0;
  left:55px;
  position:absolute;
}

.conimbo-layouts .form-item-labeled {
  clear: both;
}

/* new ajax loader */

html.js a.views-throbbing,
html.js span.views-throbbing {
  background: url(../images/ajax-loader.gif) no-repeat right center;
  padding-left: 13px;
  padding-right:18px;
}

/* one actions support */

.node,
.block {
  position: relative;
}


/* clear after field-group */

.field-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
 
.field-group {
  display: inline-block;
}

/* Hides from IE-mac \*/

* html .field-group {
  height: 1%;
}

.field-group {
  display: block;
}
 
/* End hide from IE-mac */
