/* =========================================================================
 *
 *   PRINT.CSS: PRINTER FRIENDLY VERSION    
 *        
 * ========================================================================= */

body,
#body-inner,
#page {
	background: #fff none;
	width: 100%;
	color: #000;
	font-size: 12px;
}

#content-middle {
	width: 100%;
	margin: 0;
	padding: 0;
}

#admin-menu,
#l10n-client,
#toolbar,
#subheader,	
.sidebar,
#doormat,
#footer,
.menu-level-2 {
	display: none;
} 

div.messages {
  border: 1px solid #000;
  background-color: #fff;
  padding: 5px;
}

a,
a:visited {
  text-decoration: underline;
  font-weight: bold;
}

h1 {
	margin-bottom: 15px;
}

.button,
.button a	 {
  font-size: 12px;
  background-image: none;
  padding-left: 0;
  text-transform: none;
  color: #000;
  text-decoration: underline !important;
  border: 1px solid #000;
  background-color: #fff; 
}

#header ul.menu {
	margin: 0;
	padding: 0;
}

#header ul.menu li {
	padding: 0;
}

#header ul.menu li a {
	font-weight: normal;
	font-size: 14px;
	padding: 0;
}

#header ul.menu li.active-trail a {
	text-decoration: underline;
	font-weight: bold;
}

.buildmode-sticky .node {
	padding: 0;
}

/* extra fields */

.field-addthis {
	display: none;
}