/* node/xx/registrations */

#eventreg-event-registrations td.registered { background-color:#FFFF99 !important; }
#eventreg-event-registrations td.validated  { background-color:#CCFFAA !important; }
#eventreg-event-registrations td.confirmed  { background-color:#99FF99 !important; }

/* node/xx/registrations/xx/view */

/* info */
div.er-info									{ margin:15px 0; padding:10px 20px; background:#353535; color:#ddd; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
div.er-info	strong							{ color:#fff; }
div.er-info td.registered, td.registered strong		{ color:#FFFF99 !important; }
div.er-info td.validated, td.validated strong		{ color:#CCFFAA !important; }
div.er-info td.confirmed, td.confirmed strong		{ color:#99FF99 !important; }
div.er-info input							{ float:left; margin: 0 7px 0 0; }


/* pager */
.er-pager									{ margin:15px 0; padding:10px 20px; background:#f5f5f5; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.er-pager ul								{ margin:0; padding:0; overflow:hidden;}
.er-pager ul li								{ float:left; margin:0; padding:0 20px 0 0; line-height:30px; list-style:none;}
.er-pager ul li a							{ display:inline-block; line-height:30px;}
.er-pager a.lk-back							{ color:#000; }


/* list */
.submitted-values							{ margin:15px 0; padding:0;}
.submitted-values .form-item				{ margin:0; padding:0; line-height:30px; overflow:hidden; border-bottom:1px solid #ddd;}
.submitted-values .form-item label			{ float:left; margin:8px 0; padding:0 3px; line-height:14px; background:#f5f5f5;}
.submitted-values .form-item div			{ float:left; padding:0 0 0 5px;}