.eventreg-sessions {
	padding:5px;
	margin:10px 0 10px 0;
}
.eventreg-sessions .session {
	border-bottom:1px solid #ccc;
	margin:5px;
	clear:both;
}
.eventreg-sessions .session .time {
	width:100px;
	float:left;
	display:block;
}
.eventreg-sessions .session .title {
	float:left;
	font-weight:bold;
	display:block;
}
.eventreg-sessions .session .desc {
	margin-left:100px;
	clear:both;
}